<div class="d-flex justify-content-between" mat-dialog-title>
  <h2 mat-dialog-title>{{ data.isEditing ? 'Edit' : 'Add' }} Admin </h2>
  <div class="click" mat-dialog-close>
    <img src="assets/icons/close.svg" alt="" />
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="faqForm">
      <app-error [error_message]="error_message"></app-error>
      <div class="row">
          <div class="col-12" *ngIf="!data.isEditing">
              <div class="form-group form_group">
                <label>Full Name <span class="text-red">●</span></label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Full Name"
                  formControlName="name"
                  (keyup)="checkForKeyEnter($event)"
                  [ngClass]="{
                    'is-invalid':
                      (faqForm.get('name')?.errors &&
                        faqForm.get('name')?.touched) ||
                      (faqForm.get('name')?.hasError('required') &&
                        faqFormSubmitted)
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    faqForm.get('name')?.hasError('required') &&
                    faqFormSubmitted
                  "
                >
                  Required
                </div>
              </div>
          </div>
          <div class="col-12" *ngIf="!data.isEditing">
              <div class="form-group form_group">
                  <label>Email <span class="text-red">●</span> </label>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Enter Email Address"
                    formControlName="email"
                    (keyup)="checkForKeyEnter($event)"
                    [ngClass]="{
                      'is-invalid':
                        (faqForm.get('email')?.errors &&
                          faqForm.get('email')?.touched) ||
                        (faqForm.get('email')?.hasError('required') &&
                          faqFormSubmitted)
                    }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    faqForm.get('email')?.hasError('required') &&
                    faqFormSubmitted
                  "
                >
                  Required
                </div>
              </div>
          </div>
          <div class="form-group form_group">
            <label>User Role </label>
            <ng-select
                [items]="userRole"
                [selectOnTab]="true"
                appendTo="body"
                [loading]="isLoadingPages"
                [virtualScroll]="true"
                bindValue="userRoleId"
                bindLabel="name"
                placeholder="Select User Role"
                (scrollToEnd)="getAllUserRoles()"
                [searchable]="true"
                formControlName="userRoleId"
                [ngClass]="{
                  'is-invalid':
                    (faqForm.get('userRoleId')?.errors &&
                    faqForm.get('userRoleId')?.touched) ||
                    (faqForm.get('userRoleId')?.hasError('required') &&
                    faqFormSubmitted)
                }"
            >
            </ng-select>
            <div
                class="p-0 m-0 click d-flex justify-content-end align-items-center"
                (click)="getAllUserRoles()"
                *ngIf="isLoadingPagesFailed"
            >
                Retry &nbsp;
                <mat-icon [ngClass]="{ spin: isLoadingPages }"
                >refresh</mat-icon
                >
            </div>
            </div>
          <div class="col-12" *ngIf="!data.isEditing">
            <div class="form-group form_group">
              <label for="password" class="form-label"
                >Password
                <span>● </span>
              </label>
              <div class="position-relative">
                <input
                  class="form-control pr-2"
                  id="password"
                  [type]="showPassword ? 'text' : 'password'"
                  placeholder="Enter password"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid':
                      (faqForm.get('password')?.errors &&
                      faqForm.get('password')?.touched) ||
                      (faqForm.get('password')?.hasError('required') &&
                      faqFormSubmitted)
                  }"
                />
                <i
                  class="fa fa-eye-slash click"
                  *ngIf="showPassword; else hidePassword"
                  (click)="showPassword = !showPassword"
                ></i>
                <ng-template #hidePassword>
                  <i
                    class="fa fa-eye click"
                    (click)="showPassword = !showPassword"
                  ></i>
                </ng-template>
              </div>
              <div
                class="invalid-feedback"
                *ngIf="faqForm.get('password')?.hasError('required') &&
                        faqFormSubmitted"
              >
                Required
              </div>
            </div>
          </div>
      </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    [mat-dialog-close]="false"
    class="btn btn-outline-green btn-md me-4 px-4 d-none"
    #close
  >
    No, cancel
  </button>
  <button
    class="btn btn-green btn-md px-4"
    (click)="submit()"
  >
      Create
  </button>
</mat-dialog-actions>
