<div>
    <div class="card profile-box flex-fill">
        <div class="card-body">
            <h3 class="card-title">Career<a class="edit-icon hint" (click)="delete()"><span
                        class="hint-text">Delete</span><i class="fa fa-trash"></i></a>
                <a class="edit-icon hint mr-1" (click)="downloadFile()" download><span
                        class="hint-text">Download</span><i class="fa fa-download"></i></a>
                <a *ngIf="currentUserId === employeeId" (click)="initCareerForm()" class="hint edit-icon mr-1"
                    data-toggle="modal" data-target="#career_modal"><span class="hint-text">Add
                    </span><i class="fa fa-plus"></i></a>
            </h3>
            <div class="table-responsive">
                <table class="table table-nowrap table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" [checked]="selectedId.length === employeeCareer.length"
                                    (change)="checkAll($event)" />
                            </th>
                            <th>S/N</th>
                            <th>Job Grade</th>
                            <th>Job Title</th>
                            <th>Job Type</th>
                            <th>Country</th>
                            <th>Location</th>
                            <th>Office</th>
                            <th>Line Manager</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr data-toggle="modal" class="pointer" data-target="#career_modal" (click)="edit(row)"
                            *ngFor="let row of hack(employeeCareer); let i = index">
                            <td (click)="stopParentEvent($event)">
                                <input type="checkbox" [checked]="selectedId.includes(row.id)"
                                    (change)="addItemId($event, row.id)" />
                            </td>
                            <td>{{i +1}}</td>
                            <td>{{row.job_GradeId}}</td>
                            <td>{{row.job_titleId}}</td>
                            <td>{{row.job_type}}</td>
                            <td>{{row.countryId}}</td>
                            <td>{{row.locationId}}</td>
                            <td>{{row.officeName}}</td>
                            <td>{{row.line_ManagerName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Career Modal -->
<div id="career_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-width" role="document" style="width: 1200px !important">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{cardFormTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="submitCareerForm(careerForm)" [formGroup]="careerForm">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Job Grade</label>
                                <select class="form-control" [class.invalid]="
                                careerForm.get('job_GradeId').invalid &&
                                careerForm.get('job_GradeId').touched" formControlName="job_GradeId">
                                    <option selected value="">Job Grade</option>
                                    <option *ngFor="let row of jobGrades" value="{{row.id}}">{{row.job_grade}}
                                    </option>
                                </select>
                                <div *ngIf="
                                careerForm.get('job_GradeId').invalid &&
                                careerForm.get('job_GradeId').touched
                    ">
                                    <small *ngIf="
                                    careerForm.get('job_GradeId').invalid &&
                                    careerForm.get('job_GradeId').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Job Title</label>
                                <select class="form-control" [class.invalid]="
                                careerForm.get('job_titleId').invalid &&
                                careerForm.get('job_titleId').touched" formControlName="job_titleId">
                                    <option selected value="">Job Title</option>
                                    <option *ngFor="let row of jobTitles" value="{{row.id}}">{{row.job_title}}
                                    </option>
                                </select>
                                <div *ngIf="
                                careerForm.get('job_titleId').invalid &&
                                careerForm.get('job_titleId').touched
                    ">
                                    <small *ngIf="
                                    careerForm.get('job_titleId').invalid &&
                                    careerForm.get('job_titleId').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Job Type</label>
                                <select type="text" class="form-control" [class.invalid]="
                                careerForm.get('job_type').invalid &&
                                careerForm.get('job_type').touched" formControlName="job_type">
                                    <option selected value="">Job Type</option>
                                    <option *ngFor="let row of employmentTypes; let i = index" value="{{row.id}}">
                                        {{row.employment_type}}
                                    </option>
                                </select>
                                <div *ngIf="
                                careerForm.get('job_type').invalid &&
                                careerForm.get('job_type').touched
                    ">
                                    <small *ngIf="
                                    careerForm.get('job_type').invalid &&
                                    careerForm.get('job_type').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Country<span class="text-danger">*</span></label>
                                <select class="form-control" [class.invalid]="
                                careerForm.get('countryId').invalid &&
                                careerForm.get('countryId').touched" formControlName="countryId">
                                    <option selected value="">Country</option>
                                    <option *ngFor="let row of countries" value="{{row.lookupId}}">{{row.lookupName}}
                                    </option>
                                </select>
                                <div *ngIf="
                                careerForm.get('countryId').invalid &&
                                careerForm.get('countryId').touched
                    ">
                                    <small *ngIf="
                                    careerForm.get('countryId').invalid &&
                                    careerForm.get('countryId').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Location<span class="text-danger">*</span></label>
                                <select class="form-control" [class.invalid]="
                                careerForm.get('locationId').invalid &&
                                careerForm.get('locationId').touched" formControlName="locationId">
                                    <option selected value="">Location</option>
                                    <option *ngFor="let row of locations" value="{{row.id}}">{{row.location}}
                                    </option>
                                </select>
                                <div *ngIf="
                                careerForm.get('locationId').invalid &&
                                careerForm.get('locationId').touched
                    ">
                                    <small *ngIf="
                                    careerForm.get('locationId').invalid &&
                                    careerForm.get('locationId').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Office</label>
                                <select type="text" class="form-control" [class.invalid]="
                                careerForm.get('office').invalid &&
                                careerForm.get('office').touched" formControlName="office">
                                    <option selected value="">Office</option>
                                    <option *ngFor="let row of offices " value="{{row.companyStructureId}}">{{row.name}}
                                    </option>
                                </select>
                                <div *ngIf="
                                careerForm.get('office').invalid &&
                                careerForm.get('office').touched
                    ">
                                    <small *ngIf="
                                    careerForm.get('office').invalid &&
                                    careerForm.get('office').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Line Manager <span class="text-danger">*</span></label>
                                <select class="form-control" type="text" [class.invalid]="
                                careerForm.get('line_Manager').invalid &&
                                careerForm.get('line_Manager').touched" formControlName="line_Manager">
                                    <option selected value="">line Manager</option>
                                    <option *ngFor="let row of employeesList;let i = index " value="{{row.staffId}}">
                                        {{row.firstName}} {{row.lastName}}
                                    </option>
                                </select>
                                <div *ngIf="
                                careerForm.get('line_Manager').invalid &&
                                careerForm.get('line_Manager').touched
                    ">
                                    <small *ngIf="
                                    careerForm.get('line_Manager').invalid &&
                                    careerForm.get('line_Manager').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>First Level Reviewer <span class="text-danger">*</span></label>
                                <select class="form-control" type="text" [class.invalid]="
                                careerForm.get('first_Level_Reviewer').invalid &&
                                careerForm.get('first_Level_Reviewer').touched" formControlName="first_Level_Reviewer">
                                    <option selected value="">First Level Reviewer</option>
                                    <option *ngFor="let row of employeesList;let i = index " value="{{row.staffId}}">
                                        {{row.firstName}} {{row.lastName}}
                                    </option>
                                </select>
                                <div *ngIf="
                                careerForm.get('first_Level_Reviewer').invalid &&
                                careerForm.get('first_Level_Reviewer').touched
                    ">
                                    <small *ngIf="
                                    careerForm.get('first_Level_Reviewer').invalid &&
                                    careerForm.get('first_Level_Reviewer').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Second Level Reviewer <span class="text-danger">*</span></label>
                                <select class="form-control" type="text" [class.invalid]="
                                careerForm.get('second_Level_Reviewer').invalid &&
                                careerForm.get('second_Level_Reviewer').touched"
                                    formControlName="second_Level_Reviewer">
                                    <option selected value="">Second Level Reviewer</option>
                                    <option *ngFor="let row of employeesList;let i = index " value="{{row.staffId}}">
                                        {{row.firstName}} {{row.lastName}}
                                    </option>
                                </select>
                                <div *ngIf="
                                careerForm.get('second_Level_Reviewer').invalid &&
                                careerForm.get('second_Level_Reviewer').touched
                    ">
                                    <small *ngIf="
                                    careerForm.get('second_Level_Reviewer').invalid &&
                                    careerForm.get('second_Level_Reviewer').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Third Level Reviewer <span class="text-danger">*</span></label>
                                <select class="form-control" type="text" [class.invalid]="
                                careerForm.get('third_Level_Reviewer').invalid &&
                                careerForm.get('third_Level_Reviewer').touched" formControlName="third_Level_Reviewer">
                                    <option selected value="">Third Level Reviewer</option>
                                    <option *ngFor="let row of employeesList;let i = index " value="{{row.staffId}}">
                                        {{row.firstName}} {{row.lastName}}
                                    </option>
                                </select>
                                <div *ngIf="
                                careerForm.get('third_Level_Reviewer').invalid &&
                                careerForm.get('third_Level_Reviewer').touched
                    ">
                                    <small *ngIf="
                                    careerForm.get('third_Level_Reviewer').invalid &&
                                    careerForm.get('third_Level_Reviewer').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Start Month <span class="text-danger">*</span></label>
                                <select class="form-control" [class.invalid]="
                                careerForm.get('start_month').invalid &&
                                careerForm.get('start_month').touched" formControlName="start_month">
                                    <option selected value="">Select Month</option>
                                    <option value="1">January</option>
                                    <option value="2">Febuary</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                                <div *ngIf="
                                careerForm.get('start_month').invalid &&
                                careerForm.get('start_month').touched
                    ">
                                    <small *ngIf="
                                    careerForm.get('start_month').invalid &&
                                    careerForm.get('start_month').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Start Year <span class="text-danger">*</span></label>
                                <select class="form-control" [class.invalid]="
                                careerForm.get('start_year').invalid &&
                                careerForm.get('start_year').touched" formControlName="start_year">
                                    <option selected value="">Select Year</option>
                                    <option value="1">2015</option>
                                    <option value="2">2016</option>
                                    <option value="3">2017</option>
                                    <option value="4">2018</option>
                                    <option value="5">2019</option>
                                    <option value="6">2020</option>
                                    <option value="7">2021</option>
                                    <option value="8">2022</option>
                                    <option value="9">2023</option>
                                    <option value="10">2024</option>
                                    <option value="11">2025</option>
                                    <option value="12">2026</option>
                                    <option value="13">2027</option>
                                    <option value="14">2028</option>
                                    <option value="15">2029</option>
                                    <option value="16">2030</option>
                                    <option value="17">2031</option>
                                    <option value="18">2032</option>
                                    <option value="19">2033</option>
                                    <option value="20">2034</option>
                                    <option value="21">2035</option>
                                    <option value="22">2036</option>
                                    <option value="23">2037</option>
                                    <option value="24">2038</option>
                                    <option value="25">2039</option>
                                    <option value="26">2040</option>
                                </select>
                                <div *ngIf="
                                careerForm.get('start_year').invalid &&
                                careerForm.get('start_year').touched
                    ">
                                    <small *ngIf="
                                    careerForm.get('start_year').invalid &&
                                    careerForm.get('start_year').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>End Month <span class="text-danger">*</span></label>
                                <select class="form-control" [class.invalid]="
                                careerForm.get('end_month').invalid &&
                                careerForm.get('end_month').touched" formControlName="end_month">
                                    <option selected value="">Select Month</option>
                                    <option value="1">January</option>
                                    <option value="2">Febuary</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                                <div *ngIf="
                                careerForm.get('end_month').invalid &&
                                careerForm.get('end_month').touched
                    ">
                                    <small *ngIf="
                                    careerForm.get('end_month').invalid &&
                                    careerForm.get('end_month').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>End Year <span class="text-danger">*</span></label>
                                <select class="form-control" [class.invalid]="
                                careerForm.get('end_year').invalid &&
                                careerForm.get('end_year').touched" formControlName="end_year">
                                    <option selected value="">Select Year</option>
                                    <option value="1">2015</option>
                                    <option value="2">2016</option>
                                    <option value="3">2017</option>
                                    <option value="4">2018</option>
                                    <option value="5">2019</option>
                                    <option value="6">2020</option>
                                    <option value="7">2021</option>
                                    <option value="8">2022</option>
                                    <option value="9">2023</option>
                                    <option value="10">2024</option>
                                    <option value="11">2025</option>
                                    <option value="12">2026</option>
                                    <option value="13">2027</option>
                                    <option value="14">2028</option>
                                    <option value="15">2029</option>
                                    <option value="16">2030</option>
                                    <option value="17">2031</option>
                                    <option value="18">2032</option>
                                    <option value="19">2033</option>
                                    <option value="20">2034</option>
                                    <option value="21">2035</option>
                                    <option value="22">2036</option>
                                    <option value="23">2037</option>
                                    <option value="24">2038</option>
                                    <option value="25">2039</option>
                                    <option value="26">2040</option>
                                </select>
                                <div *ngIf="
                                careerForm.get('end_year').invalid &&
                                careerForm.get('end_year').touched
                    ">
                                    <small *ngIf="
                                    careerForm.get('end_year').invalid &&
                                    careerForm.get('end_year').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Approval Status</label>
                                <select class="form-control" [class.invalid]="
                                careerForm.get('approval_status').invalid &&
                                careerForm.get('approval_status').touched" formControlName="approval_status">
                                    <option selected value="">Select Status</option>
                                    <option value="1">Approve</option>
                                    <option value="2">Pending</option>
                                    <option value="3">Decline</option>
                                </select>
                                <div *ngIf="
                                careerForm.get('approval_status').invalid &&
                                careerForm.get('approval_status').touched
                    ">
                                    <small *ngIf="
                                    careerForm.get('approval_status').invalid &&
                                    careerForm.get('approval_status').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit" [disabled]="spinner">
                            <span *ngIf="!spinner">Submit</span>
                            <span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Career Modal -->