<section class="wrapper">
    <app-navbar></app-navbar>
    <div class="banner container">
        <div class="row bg-white px-5 py-3">
            <div class="col-md-6 pt-4 my-auto">
                <h2 class="px-4">Let’s make workplace better with the right 
                    <span class="bg-secondary text-white px-3">competence.</span>
                </h2>
                <div class="row mt-5">
                    <div class="col-9">
                        <div class="form_group">
                            <input 
                                type="text" 
                                placeholder="Find Course" 
                                class="form-control"
                            >
                        </div>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-green btn-lg">search</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <img class="w-100" src="assets/images/carousel.svg">
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 col-lg-3" *ngFor="let course of runningCourses">
                <app-course-card
                    [coverImage]="course?.coursePhotoUrl"
                    [courseTitle]="course?.training_Name"
                    [instructorName]="course?.facilitator"
                    [price]="course?.cost"
                    [competencies]="course?.course_Competence"
                    (route)="goToCourseDetails(course?.courseId)"
                    (cart)="addToCart(course)"
                    (whilst)="addToWhilst(course)"
                ></app-course-card>
            </div>
        </div>
    </div>
    <footer class="footer_wrapper">
        <div class="curve"></div>
    </footer>
</section>
