<div class="faq_wrapper">
    <div class="faq-title d-flex justify-content-between">
        <h3>Provacy Policy</h3>
        <app-searchbar
            [canAdd]="true"
            (btnAction)="openDialog({isEditing: false, editObject: faqs})"
      ></app-searchbar>
    </div>
   <div>
        <div class="faq-content bg-white p-4 my-5" *ngIf="faqs">
          <p [innerHTML]="faqs?.policy_Content"></p>
        </div>
        <app-no-data
          name="Privacy Policy"
          [is_loading]="isFetchingFaq"
          *ngIf="!faqs"
          (open_dialog)="openDialog({isEditing: false, editObject: faqs})"
        >
        </app-no-data>
   </div>
</div>
