<div class="setup__wrapper p-5">
  <div class="row">
      <div class="col-md-5">
          <h3 class="">Admins</h3>
      </div>
      <div class="col-md-7 d-flex justify-content-end">
          <app-searchbar
            [canAdd]="true"
            (btnAction)="openDialog(false)"
          ></app-searchbar>
      </div>
  </div>

  <div class="setup_content bg-white my-5">
      <ng-container *ngIf="isfetchingCourses || admins.length > 0">
          <p-table
              #dt
              [value]="admins"
              dataKey="id"
              [(selection)]="selectedAdmins"
              [paginator]="true"
              [rows]="10"
              [responsive]="true"
              [scrollable]="true"
              [scrollHeight]="viewHeight"
          >
            <ng-template pTemplate="header">
                <tr class="thead">
                    <!-- <th>
                      <span>
                          <p-tableHeaderCheckbox>
                          </p-tableHeaderCheckbox>
                      </span>
                    </th> -->
                    <th [pSortableColumn]="'name'">Full Name</th>
                    <th [pSortableColumn]="'email'">Email Address</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-course let-i="rowIndex">
              <tr class="tbody click" (click)="openDialog({isEditing: true, editObject: course})" [pSelectableRow]="course">
                  <!-- <td
                  >
                      <span class="pe-3">
                          <p-tableCheckbox
                              [value]="course"
                          ></p-tableCheckbox>
                      </span>
                  </td> -->
                  <td>
                    {{ course?.name | titlecase }}
                  </td>
                  <td>
                    {{ course?.email | lowercase }}
                  </td>
              </tr>
            </ng-template>
          </p-table>
      </ng-container>
      <app-no-data
        name="Course"
        [is_loading]="isfetchingCourses"
        *ngIf="admins?.length == 0"
        (open_dialog)="openDialog(false)"
      >
      </app-no-data>
     </div>
</div>
