<ng-container class="">
    <div class="checkout_wrapper">
        <div class="header py-3">
            <h2>Checkout</h2>
        </div>
        <div>
            <form>
                <div class="row d-flex justify-content-between">
                    <div class="col-md-7">
                        <div>
                            <div class="d-flex mb-4">
                                <input type="radio" name="selectCard" id="">
                                <span class="ps-3">New Payment Card</span>
                            </div>
                            <div class="d-flex mb-4">
                                <input type="radio" name="selectCard" id="">
                                <span class="ps-3">PayPal</span>
                            </div>
                            <div class="d-flex mb-4">
                                <input type="radio" name="selectCard" id="">
                                <span class="ps-3">
                                    <span class="pe-2">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7 19C10.866 19 14 15.866 14 12C14 8.13401 10.866 5 7 5C3.13401 5 0 8.13401 0 12C0 15.866 3.13401 19 7 19Z" fill="#EA001B"/>
                                            <path d="M17 19C20.866 19 24 15.866 24 12C24 8.13401 20.866 5 17 5C13.134 5 10 8.13401 10 12C10 15.866 13.134 19 17 19Z" fill="#FFA200" fill-opacity="0.8"/>
                                        </svg>                                            
                                    </span>
                                    <span>4436 7823 7856 ****</span>
                                </span>
                            </div>
                        </div>
                       <div class="row bg-white p-4">
                            <div class="col-12">
                                <div class="form_group mb-4">
                                    <label for="" class="form-label">Name on Card</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form_group mb-4">
                                    <label for="" class="form-label">Card Number</label>
                                    <div class="position-relative">
                                        <input
                                        class="form-control pr-2"
                                        [type]="display ? 'text' : 'password'"
                                        placeholder="Card Number"
                                        />
                                        <i
                                        class="fa fa-eye-slash click"
                                        *ngIf="display; else hide"
                                        (click)="display = !display"
                                        ></i>
                                        <ng-template #hide>
                                        <i
                                            class="fa fa-eye click"
                                            (click)="display = !display"
                                        ></i>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form_group mb-4">
                                    <label for="" class="form-label">Expire Date</label>
                                    <input type="text" class="form-control" placeholder="MM/YYYY">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form_group mb-4">
                                    <label for="" class="form-label">CCV</label>
                                    <input type="password" class="form-control" placeholder="***">
                                </div>
                            </div>
                            <div class="d-flex">
                                <input type="checkbox" name="" id="">
                                <span class="ps-3">Remember this card</span>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-4 bg-white p-4">
                        <div>
                            <h3>Summary</h3>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Original price:</span>
                            <span>$120.00</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between mb-5">
                            <span>Total:</span>
                            <span>$120.00</span>
                        </div>
                        <div>
                            <button class="btn btn-green btn-lg">Complete Payment</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-container>