@import 'partials/abstract/variables';
@import "partials/abstract/mixins";
@import "partials/components/forms";

.checkout_wrapper {
    padding: 3rem;
    color: $black-100;
    .position-relative {
        .fa {
          position: absolute;
          font-size: 1.5rem;
          top: 1.8rem;
          right: 1.5rem;
        }
    }
}
