<!-- Page Content -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Professional Membership</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a>Setup</a></li>
          <li class="breadcrumb-item active">Professional Membership</li>
        </ul>
      </div>
      <div class="col-auto float-right ml-auto">
        <a class="btn download-btn hint" (click)="downloadFile()"
          ><span class="hint-text">Download</span><i class="fa fa-download"></i
        ></a>
        <a class="btn upload-btn hint" (click)="openUploadModal()"
          ><span class="hint-text">Upload</span><i class="fa fa-upload"></i
        ></a>
        <a class="btn add-btn hint" data-toggle="modal" (click)="openModal()"
          ><span class="hint-text">Add</span><i class="fa fa-plus"></i
        ></a>
        <a class="btn delete-btn hint" (click)="delete()"
          ><span class="hint-text">Delete</span><i class="fa fa-trash"></i
        ></a>
      </div>
    </div>
  </div>
  <!-- /Page Header -->
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <p-table
          class="table table-striped custom-table datatable table-hover"
          #dt
          [value]="profMemberships"
          [columns]="cols"
          [(selection)]="selectProfMemberships"
          [scrollable]="true"
          scrollHeight="600px"
        >
          <ng-template pTemplate="caption">
            <div style="text-align: right">
              <input
                type="text"
                pInputText
                size="50"
                class="form-control"
                placeholder="Search..."
                (keyup)="dt.filterGlobal($event.target.value, 'contains')"
                style="width: auto"
              />
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th class="table-checkbox">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th class="sn_width">S/N</th>
              <th>Professional Membership</th>
              <th>Description</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row let-i="rowIndex">
            <tr (click)="edit(row)" class="pointer">
              <td (click)="stopParentEvent($event)" class="table-checkbox">
                <p-tableCheckbox [value]="row"></p-tableCheckbox>
              </td>
              <td class="sn_width">{{ i + 1 }}</td>
              <td>{{ row.professional_membership | uppercase }}</td>
              <td>{{ row.description | titlecase }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
<!-- Add_Prof_membership Modal -->
<div id="add_prof_membership" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content w-75 mx-auto">
      <div class="modal-header">
        <h5 class="modal-title">{{ formTitle }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          (ngSubmit)="addProfMembership(professionalMembershipForm)"
          [formGroup]="professionalMembershipForm"
        >
          <div class="form-group">
            <label class="col-form-label"
              >Prof Membership <span class="text-danger">*</span></label
            >
            <input
              class="form-control"
              type="text"
              [class.invalid]="
                professionalMembershipForm.get('professional_membership')
                  .invalid &&
                professionalMembershipForm.get('professional_membership')
                  .touched
              "
              formControlName="professional_membership"
            />
            <div
              *ngIf="
                professionalMembershipForm.get('professional_membership')
                  .invalid &&
                professionalMembershipForm.get('professional_membership')
                  .touched
              "
            >
              <small
                *ngIf="
                  professionalMembershipForm.get('professional_membership')
                    .invalid &&
                  professionalMembershipForm.get('professional_membership')
                    .touched
                "
                class="text-danger"
              >
                *Prof Membership Field is required</small
              >
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label">Description</label>
            <textarea
              class="form-control"
              type="text"
              rows="5"
              formControlName="description"
            ></textarea>
          </div>
          <div class="submit-section">
            <button
              class="btn btn-primary submit-btn"
              type="submit"
              [disabled]="spinner"
            >
              <span *ngIf="!spinner">Submit</span>
              <span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Add Prof Membership Modal -->
<!-- Upload Prof Membership Modal -->
<div class="modal custom-modal fade" id="upload_prof_membership" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload Professional Membership</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-5">
        <form
          (ngSubmit)="uploadProfMembership()"
          [formGroup]="professionalMembershipUploadForm"
        >
          <div class="row">
            <div class="form-group row">
              <label class="col-form-label col-md-5"
                >Choose File (excel format)</label
              >
              <div class="col-md-7">
                <input
                  class="form-control"
                  name="uploadInput"
                  id="uploadInput"
                  type="file"
                  (change)="
                    onSelectedFile($event, professionalMembershipUploadForm)
                  "
                  #fileInput
                />
              </div>
            </div>
          </div>
          <div class="row">
            <p>Please use the guide below for your sheet</p>
            <table class="table table-bordered">
              <tr>
                <th>Professional Membership</th>
                <th>Description</th>
              </tr>
            </table>
          </div>
          <div class="submit-section">
            <button
              class="btn btn-primary submit-btn"
              type="submit"
              (ngSubmit)="uploadProfMembership()"
              [disabled]="spinner"
            >
              <span *ngIf="!spinner">Submit</span>
              <span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
