<div class="d-flex justify-content-between" mat-dialog-title>
    <h2 mat-dialog-title>{{ data.isEditing ? 'Add Reviewer' : 'Industrial Analytics' }} </h2>
    <div class="click" mat-dialog-close>
      <img src="assets/icons/x.svg" alt="" />
    </div>
</div>
  <mat-dialog-content class="mat-typography">
    <div>
        <form [formGroup]="reviewerForm">
            <div class="row text-center">
                <div class="col-12">
                    <div class="form_group mb-5">
                      <label for="" class="form-label"
                        >Section Number
                      </label>
                      <input
                        type="text"
                        id="sectionId"
                        class="form-control"
                        placeholder=""
                        formControlName="sectionId"
                      />
                    </div>
                </div>
                <div class="col-12">
                    <div class="form_group mb-5">
                      <label for="" class="form-label"
                        >Section Name
                      </label>
                      <input
                        type="text"
                        id="reviewers"
                        class="form-control"
                        placeholder=""
                        formControlName="outline_Name"
                      />
                    </div>
                </div>
                <div class="col-12">
                    <div class="form_group mb-5">
                      <label for="" class="form-label"
                        >Outline Name
                      </label>
                      <input
                        type="text"
                        id="reviewers"
                        class="form-control"
                        placeholder=""
                        formControlName="outline_Name"
                      />
                    </div>
                </div>
                <div class="col-12">
                    <div class="form_group mb-5">
                      <label for="" class="form-label"
                        >Outline Description
                      </label>
                      <input
                        type="text"
                        id="reviewers"
                        class="form-control"
                        placeholder=""
                        formControlName="outline_Description"
                      />
                    </div>
                </div>
            </div>
        </form>
    </div>
   
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      class="btn btn-outline-green btn-md me-4 px-4"
    >
      Done
    </button>
    <button
      class="btn btn-green btn-md px-4"
      (click)="submit()"
    >
        <app-loading-button
          [text]="'Continue'"
          [condition]="isLoading"
        ></app-loading-button>
    </button>
  </mat-dialog-actions>
  