<div class="card">
    <img src="assets/images/course-card.svg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">
          <span class="course-title">Advance Investigation Techniques - </span>
          <span class="instructor">Dr Amheed </span>
        </h5>
        <p class="card-text">
            <span class="price">$106.77</span>
            <span class="competency">Expected Competentence:</span>
        </p>
        <span class="btn btn-light btn-md">Industrial Analytics</span>
    </div>
</div>