<div class="gos-login-container">
  <div class="gos-login-wrapper">
    <div class="bg-wrapper">
      <h2 class="gs-h2 animate__animated animate__fadeInLeftBig">
        The Efficient Human Capital Software
      </h2>
    </div>
    <div class="gos-form-wrapper">
      <img src="../../../assets/img/hr-logo.png" class="logo" alt="HRM Logo" />
      <h3 class="gos-h3 fg-ph password-header">Forgot Password?</h3>
      <form class="form" [formGroup]="forgotPassword">
        <div class="gos-input-group">
          <label for="email" class="gos-label">Email Address</label>
          <input
            type="text"
            class="gos-control"
            formControlName="email"
            id="email"
            placeholder="Email Address"
          />
        </div>
        <div class="btn-wrapper">
          <button class="gos-btn">submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
