* {
    font-size: 1.4rem;
    font-weight: 400;
    color: #4F4F4F;
}
.contribution-wrapper .col-md-6{
    background: #F5F6F7;
    padding: 1.2rem 2rem 1.2rem 2rem;
    border-radius: 1rem;
}
.contribution-wrapper .col-md-4{
    padding: .5rem 0;
    border-radius: 1rem;
    text-align: center;
}
.contribution-wrapper .col-md-4:hover{
    background: var(--color-primary-new);
    color: #ffffff;
    cursor: pointer;
}
.active-page{
    background: var(--color-primary-new);
    color: #ffffff;
}





/* modal styles */
.page-title{
  font-size: 18px;
  font-weight: 600;
}
.page-title-icon{
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
}
.close-modal{
  margin-right: -1rem;
  cursor: pointer;
}
.form-control{
  border-radius: .8rem;
}
.modal-body .row{
  margin-bottom: 3rem;
}
.btn-save{
  background: var(--color-primary-new);
  color: var(--color-light);
  padding: 1.2rem 7rem;
  border-radius: 1rem;
}
#jobGrade .btn-save{
  width: 100%;
}

#jobGradeTable th{
  padding-right: 7rem;
}
#jobGradeTable td{
  padding-right: 7rem;
}



/* duplicate styles  */
table{
    width: 100%;
    margin-top: 2rem;
    border-collapse: separate;
    border-spacing: 0 1rem;
}
th{
    padding: 1rem 3rem 1rem 1.5rem;
    font-weight: 700;
}
td{
    padding: 1rem 3rem 1rem 1.5rem;
    font-weight: 400;
}
td:first-child{
    border-radius: 1rem 0 0 1rem;
}
td:last-child{
    border-radius: 0 1rem 1rem 0;
}
.bg-grey{
    background: #F6F6F6CC;
}
.actions-icon{
    cursor: pointer;
}
.center-text{
  text-align: center;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    margin-bottom: 17px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  th .checkmark{
    border: 1px solid #374957;
  }
  
  /* Hide the browser's default checkbox */
  .container > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border: 1px solid #828282;
    border-radius: .4rem;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ffffff;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--color-primary-new);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }



/* tooltip styles */
.tooltip-custom {
  position: relative;
  display: inline-block;
}
.tooltip-custom .tooltiptext-custom {
  visibility: hidden;
  min-width: 120px;
  background-color: #D9D9D9;
  color: #4F4F4F;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 1.4rem;
  font-weight: 400;
}
.tooltip-custom .tooltiptext-custom::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #D9D9D9 transparent transparent transparent;
}
.tooltip-custom:hover .tooltiptext-custom {
  visibility: visible;
}
  