<div class="d-flex justify-content-between" mat-dialog-title>
    <h2 mat-dialog-title>Add New User </h2>
    <div class="click" mat-dialog-close>
      <img src="assets/icons/x.svg" alt="" />
    </div>
  </div>
  <mat-dialog-content class="mat-typography">
    <div>
      <form [formGroup]="addNewUser">
         <div class="row">
            <div class="col-md-6">
                <div class="form_group mb-4">
                  <label for="currentPassword" class="form-label"
                    >User Name
                  </label>
                  <input 
                    type="text" 
                    class="form-control"
                    formControlName="username"
                    >
                </div>
            </div>
            <div class="col-md-6">
                <div class="form_group mb-4">
                  <label for="currentPassword" class="form-label"
                    >Email Address
                  </label>
                  <input 
                    type="email" 
                    class="form-control"
                    formControlName="email_address"
                    >
                </div>
            </div>
            <div class="col-md-6">
                <div class="form_group mb-4">
                  <label for="currentPassword" class="form-label"
                    >User Type
                  </label>
                  <select
                    class="form-control" 
                    formControlName="user_Type"
                  >
                       <option value="Instructor">Instructor</option>
                       <option value="Admin">Admin</option>
                       <option value="Instructor and Admin">Instructor and Admin</option>
                  </select>
                </div>
            </div>
         </div>

         <h3 class="py-3">Access Type</h3>
         <div class="row">
            <div class="col-md-6">
                <div class="form_group mb-4">
                  <label for="currentPassword" class="form-label"
                    >Instructor/Facilitator Setup
                  </label>
                    <ng-select 
                        [items]="accessType" 
                        bindLabel="name" 
                        bindValue="id" 
                        [multiple]="true"
                    >
                     </ng-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form_group mb-4">
                  <label for="currentPassword" class="form-label"
                    >Course creation
                  </label>
                  <ng-select 
                        [items]="accessType" 
                        bindLabel="name" 
                        bindValue="id" 
                        [multiple]="true"
                    >
                    </ng-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form_group mb-4">
                  <label for="currentPassword" class="form-label"
                    >Course Approval
                  </label>
                    <ng-select 
                        [items]="accessType" 
                        bindLabel="name" 
                        bindValue="id" 
                        [multiple]="true"
                    >
                    </ng-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form_group mb-4">
                  <label for="currentPassword" class="form-label"
                    >Session  Approval
                  </label>
                  <ng-select 
                        [items]="accessType" 
                        bindLabel="name" 
                        bindValue="id" 
                        [multiple]="true"
                    >
                    </ng-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form_group mb-4">
                  <label for="currentPassword" class="form-label"
                    >Communication
                  </label>
                  <ng-select 
                        [items]="accessType" 
                        bindLabel="name" 
                        bindValue="id" 
                        [multiple]="true"
                    >
                    </ng-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form_group mb-4">
                  <label for="currentPassword" class="form-label"
                    >Community
                  </label>
                  <ng-select 
                        [items]="accessType" 
                        bindLabel="name" 
                        bindValue="id" 
                        [multiple]="true"
                    >
                    </ng-select>
                </div>
            </div>
         </div>
      </form>
    </div>
   
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      [mat-dialog-close]="false"
      class="btn btn-outline-green btn-md me-4 px-4"
      #close
    >
      Cancel
    </button>
    <button
      class="btn btn-green btn-md px-4"
      (click)="submit()"
    >
        <app-loading-button
          [text]="'Save'"
          [condition]="isLoading"
        ></app-loading-button>
    </button>
  </mat-dialog-actions>
  