<div class="d-flex justify-content-between" mat-dialog-title>
    <h2 mat-dialog-title>Paticipant(s)</h2>
    <div class="click" mat-dialog-close>
      <img src="assets/icons/x.svg" alt="" />
    </div>
</div>
  <mat-dialog-content class="mat-typography">
    <ng-container
      *ngIf="isFetchingParticipants || courseParticipants.length > 0"
    >
      <p-table
            #dt
            [value]="courseParticipants"
            dataKey="participantId"
            [(selection)]="selectedParticipants"
            [paginator]="true"
            [rows]="10"
            [responsive]="true"
            [scrollable]="true"
            [scrollHeight]="viewHeight"
            class="" 
        >
          <ng-template pTemplate="header">
              <tr class="thead">
                  <th>
                    <span>
                        <p-tableHeaderCheckbox>
                        </p-tableHeaderCheckbox>
                    </span>
                    <span [pSortableColumn]="'participantName'" class="ps-3">Participant Name</span>
                  </th>
                  <th [pSortableColumn]="'participantEmail'">Email Address</th>
                  <th [pSortableColumn]="'participantPhoneNumber'">Phone Number</th>
                  <th [pSortableColumn]="'deliveryType'">Delivery Type</th>
                  <th [pSortableColumn]="'status'">Status</th>
                  <th [pSortableColumn]="'las'">Learning Assessment Score</th>
                  <th [pSortableColumn]="'cas'">Competence Assessment Score</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-participant let-i="rowIndex">
            <tr class="tbody text-capitalize" [pSelectableRow]="participant">
                <td 
                >
                    <span>
                        <p-tableCheckbox
                            [value]="participant"
                        ></p-tableCheckbox>
                    </span>
                    <span class="ps-3">
                      {{ participant?.participantName }}
                    </span>
                </td>
                <td>{{ participant?.participantEmail }}</td>
                <td>{{ participant?.participantPhoneNumber }}</td>
                <td>{{ participant?.deliveryType }}</td>
                <td>
                    <span class="badge bg-success">{{ participant?.status }}</span>
                </td>
                <td>{{ participant?.las }}</td>
                <td>{{ participant?.cas }}</td>
            </tr>
          </ng-template>
        </p-table>
    </ng-container>
    
    <app-no-data
      name="Participant"
      [is_loading]="isFetchingParticipants"
      (open_dialog)="openDialog({isEditing: false, editObject: data.editObject})"
      *ngIf="courseParticipants.length == 0"
    >
    </app-no-data>
   
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      class="btn btn-outline-green btn-md d-none"
      [mat-dialog-close]="true"
      #close
    >
      Cancel
    </button>
    <button
      class="btn btn-outline-green btn-md me-4 px-4"
    >
      Attended
    </button>
    <button
      class="btn btn-green btn-md px-4"
    >
        <app-loading-button
          [text]="'Add Participants'"
          [condition]="isLoading"
          (click)="openDialog({isEditing: false, editObject: data.editObject})"
        ></app-loading-button>
        <span class="dropdown px-3">
          <div class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <!-- <svg width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.19336 9L13.5 15L19.8066 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>  -->
          </div>
          <ul class="dropdown-menu click" aria-labelledby="dropdownMenuButton1">
            <li (click)="openUploadDialog({isEditing: false, editObject: data.editObject})">
              <a class="dropdown-item">
                Upload Participants</a>
            </li>
          </ul>        
        </span>
    </button>
  </mat-dialog-actions>
  