.mat-typography {
    overflow-x: auto;
    .badge {
        color: #219653;
    }
    .bg-success {
        background: #E7FEF1 !important;
    }
}

.dropdown-menu {
    .dropdown-item {
      padding: 1rem 1.5rem;
      font-size: 1.2rem;
      &:hover, &:focus {
        background: #FEF1E1;
      }
    }
}