<div class="d-flex justify-content-between" mat-dialog-title>
    <h2 mat-dialog-title>Paticipant(s)</h2>
    <div class="click" mat-dialog-close>
      <img src="assets/icons/x.svg" alt="" />
    </div>
</div>
  <mat-dialog-content class="mat-typography">
    <div>
        <div class="table-responsive bg-white">
            <table class="table caption-top text-nowrap" datatable>
              <ng-container>
                <thead class="bg-white">
                  <tr>
                    <th><input type="checkbox" name="" id=""></th>
                    <th>Participant Name</th>
                    <th>Email Address</th>
                    <th>Phone Number</th>
                    <th>Delivery Type</th>
                    <th>Status</th>
                    <th>Learning Assessment Score</th>
                    <th>Competence Assessment Score</th>
                  </tr>
                </thead></ng-container
              >
              <tbody>
                <ng-container>
                  <tr class="text-capitalize" *ngFor="let leave of [1,2,3,4,5,6,7]">
                    <td><input type="checkbox" name="" id=""></td>
                    <td>Innocent Sample</td>
                    <td>sample@email.com</td>
                    <td>08167534260</td>
                    <td>Classroon</td>
                    <td>
                        <span class="badge bg-success">Completed</span>
                    </td>
                    <td>80</td>
                    <td>90</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
    </div>
   
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      class="btn btn-outline-green btn-md me-4 px-4"
    >
      Attended
    </button>
    <button
      class="btn btn-green btn-md px-4"
    >
        <app-loading-button
          [text]="'Add Participants'"
          [condition]="isLoading"
          (click)="submit()"
        ></app-loading-button>
        <span class="dropdown px-3">
          <div class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <!-- <svg width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.19336 9L13.5 15L19.8066 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>  -->
          </div>
          <ul class="dropdown-menu click" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item">
              Upload Participants</a>
            </li>
          </ul>        
        </span>
    </button>
  </mat-dialog-actions>
  