<div class="wrapper">
    <div class="wrapper__logo">
      <embed
        src="assets/images/GOSHRM-logo.svg"
        alt="GOS HRM Logo"
      />
    </div>
    <div class="confirmation_wrapper">
     <div class="">
         <img src="assets/images/confirmation-img.svg" alt="">
         <p class="p-4">
            A confirmation mail has been sent to the registered email address, if you did not get the 
            mail, <span routerLink="/authentication/login">click here</span>
         </p>
     </div>
    </div>
  </div>
  