<div class="d-flex justify-content-between" mat-dialog-title>
    <h2 mat-dialog-title>Schedule Class </h2>
    <div class="click" mat-dialog-close>
      <img src="assets/icons/x.svg" alt="" />
    </div>
</div>
  <mat-dialog-content class="mat-typography">
    <div>
        <form [formGroup]="scheduleClassForm">
            <div class="row">
                <div class="col-12">
                    <div class="form_group mb-5">
                      <label for="" class="form-label"
                        >Session Type
                      </label>
                      <select name="" id="" class="form-select">
                          <option value="" selected></option>
                          <option [value]="type?.name" *ngFor="let type of sessionType">
                            {{ type?.name }}
                          </option>
                      </select>
                    </div>
                </div>
                <div class="col-12" *ngIf="isPrivateOthers">
                    <div class="form_group mb-5">
                      <label for="" class="form-label"
                        >Company Type
                      </label>
                      <select name="" id="" class="form-select">
                          <option value="" selected></option>
                          <option [value]="type?.name" *ngFor="let type of sessionType">
                            {{ type?.name }}
                          </option>
                      </select>
                    </div>
                </div>
                <div class="col-12" *ngIf="isPrivateVirtual">
                    <div class="form_group mb-5">
                      <label for="" class="form-label"
                        >Available Classes
                      </label>
                      <select name="" id="" class="form-select">
                          <option value="" selected></option>
                          <option [value]="type?.name" *ngFor="let type of sessionType">
                            {{ type?.name }}
                          </option>
                      </select>
                    </div>
                </div>
                <div class="col-12" *ngIf="isInHouseOnline">
                    <div class="form_group mb-5">
                      <label for="" class="form-label d-flex justify-content-between"
                        >Job Title
                        <span *ngIf="isFetchingJobTitles"><i class="fa fa-spinner"></i></span>
                      </label>
                      <ng-select 
                        [items]="allJobTitles" 
                          bindLabel="job_title" 
                          bindValue="id" 
                          [multiple]="true"
                          formControlName="jobTitles"
                          (change)="filterStaffTitle()"
                      >
                      </ng-select>
                    </div>
                </div>
                <div class="col-12" *ngIf="isInHouseOnline">
                    <div class="form_group mb-5">
                      <label for="" class="form-label d-flex justify-content-between"
                        >Job Grade
                        <span *ngIf="isFetchingJobGrades"><i class="fa fa-spinner"></i></span>
                      </label>
                      <ng-select 
                        [items]="allJobGrades" 
                          bindLabel="job_grade" 
                          bindValue="id" 
                          [multiple]="true"
                          formControlName="jobGrades"
                          (change)="filterStaffPerGrade()"
                      >
                      </ng-select>
                    </div>
                </div>
                <div class="col-12" *ngIf="isInHouseOnline">
                    <div class="form_group mb-5">
                      <label for="" class="form-label d-flex justify-content-between"
                        >Office
                        <span *ngIf="isFetchinOffices"><i class="fa fa-spinner"></i></span>
                      </label>
                      <ng-select 
                        [items]="allOffices" 
                          bindLabel="name" 
                          bindValue="companyStructureId" 
                          [multiple]="true"
                          (change)="filterStaffPerOffice()"
                          formControlName="offices"
                      >
                      </ng-select>
                    </div>
                </div>
                <div class="col-12" *ngIf="isInHouseOnline || isPrivateOnline">
                  <div class="form_group mb-5">
                    <label for="" class="form-label d-flex justify-content-between">
                      Participants
                      <span *ngIf="isFetchingStaffs"><i class="fa fa-spinner"></i></span>
                    </label>
                    <ng-select 
                        [items]="filteredStaffs" 
                        bindLabel="lastName"
                        bindValue="employeeId" 
                        [multiple]="true"
                        formControlName="participants"
                    >
                    </ng-select>
                  </div>
                </div>
                <div class="col-12" *ngIf="isInHouseOnline || isInHouseOthers">
                  <div class="form_group mb-5">
                    <label for="" class="form-label">Training Date</label>
                    <input
                        id=""
                        type="date"
                        class="form-control"
                        formControlName="trainingDate"
                    />
                  </div>
                </div>
                <div class="col-12" *ngIf="isInHouseOnline || isPrivateOnline">
                  <div class="form_group mb-5">
                    <label for="" class="form-label">Duration</label>
                    <input
                        id=""
                        type="text"
                        class="form-control"
                        formControlName="duration"
                    />
                  </div>
                </div>
                <div class="col-6" *ngIf="isInHouseOthers">
                  <div class="form_group mb-5">
                    <label for="" class="form-label">Start Time</label>
                    <input
                        id=""
                        type="time"
                        class="form-control"
                        formControlName="startTime"
                    />
                  </div>
                </div>
                <div class="col-6" *ngIf="isInHouseOthers">
                  <div class="form_group mb-5">
                    <label for="" class="form-label">End Time</label>
                    <input
                        id=""
                        type="time"
                        class="form-control"
                        formControlName="endTime"
                    />
                  </div>
                </div>
            </div>
        </form>
    </div>
   
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      class="btn btn-outline-green btn-md me-4 px-4"
      [mat-dialog-close]="false"
      #close
    >
      Close
    </button>
    <button
      class="btn btn-green btn-md px-4"
      (click)="submit()"
    >
        Submit
    </button>
  </mat-dialog-actions>
  