<div class="message_wrapper container">
    <div class="message_content">
        <div class=" my-5">
            <div class="d-flex justify-content-between">
                 <div class="py-3">
                     <h3>
                         Announcement
                    </h3>
                 </div>
                 <app-searchbar
                     [canReply]="true"
                     [canAdd]="true"
                     [canDelete]="true"
                     (btnAction)="openMessager()"
                 ></app-searchbar>
            </div>
         </div>

         <div class="bg-white px-5 py-3" *ngIf="current_tab == 'broadcast'">
                <div>
                    <ul 
                        class="nav nav-pills vertical-nav nav-tabs ps-4 mb-0" 
                        id="myTab" role="tablist"
                    >
                        <li class="nav-item" role="presentation">
                        <input class="mt-3" type="checkbox" name="" id="">
                        </li>
                        <li class="nav-item" role="presentation">
                            <button
                                class="nav-link"
                                [ngClass]="{ active: current_subTab == 'educational' }"
                                id="pills-info-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#pills-info"
                                type="button"
                                role="tab"
                                aria-controls="pills-info"
                                aria-selected="true"
                                (click)="getEducational()"
                            >
                                Educational
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button
                                class="nav-link"
                                [ngClass]="{ active: current_subTab == 'promotional' }"
                                id="pills-identity-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#pills-identity"
                                type="button"
                                role="tab"
                                aria-controls="pills-identity"
                                aria-selected="false"
                                (click)="getPromotional()"
                            >
                                Promotional
                            </button>
                        </li>
                    </ul>

                    <section class="broadcast tab-content mt-4" id="pills-tabContent">
                        <div>
                        <table class="table caption-top text-nowrap" datatable>
                            <tbody>
                                <ng-container>
                                <tr class="text-capitalize" *ngFor="let message of announcements; index as i">
                                    <td 
                                        class="click" 
                                        (click)="goToMesage(message)"
                                    >
                                        <span class="pe-3"><input type="checkbox" name="" id=""></span>
                                        <span>{{ message?.name }}</span>
                                    </td>
                                    <td 
                                        class="click" 
                                        (click)="goToMesage(message)"
                                    >
                                        <span>{{ message?.courseTitle }}</span>
                                        <!-- <span [innerHTML]="message?.message"></span> -->
                                    </td>
                                    <td 
                                        class="click" 
                                        (click)="goToMesage(message)"
                                    >
                                        {{ message?.dateCreated | date:'dd-MMM' }}
                                    </td>
                                </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        </div>
                    </section>
                </div>
        </div>

        <div id="messager" class="message-box d-none">
            <app-send-message 
                [type]="'announcement'" 
                [announcementType]="announcementType"
                [isPromotional]="isPromotional"
            ></app-send-message>
        </div>
    </div>
</div>