.search-wrapper {
  display: flex;
}

.search-wrapper-input {
  position: relative;
  flex-grow: 3;
}

._icon {
  position: absolute;
  left: 1.5rem;
  top: 1rem;
}
.form-control {
  padding-left: 4.5rem;
  border-radius: 100px;
}
