<div class="d-flex justify-content-between" mat-dialog-title>
    <h2 mat-dialog-title>{{ data.isEditing ? 'Add Reviewer' : 'Industrial Analytics' }} </h2>
    <div class="click" mat-dialog-close>
      <img src="assets/icons/x.svg" alt="" />
    </div>
</div>
  <mat-dialog-content class="mat-typography">
    <div>
        <form [formGroup]="reviewerForm" *ngIf="!data.isEditing">
            <div class="row">
                <div class="col-12">
                    <div class="form_group mb-5">
                      <label for="" class="form-label"
                        >Reviewers
                      </label>
                      <input
                        type="text"
                        id="reviewers"
                        class="form-control"
                        placeholder=""
                        formControlName="reviewers"
                      />
                    </div>
                </div>
            </div>
        </form>

        <form [formGroup]="ratingForm" *ngIf="data.isEditing">
            <div class="row">
                <div class="col-12">
                    <div class="form_group mb-5">
                      <label for="" class="form-label"
                        >Ratings
                      </label>
                      <select name="" id="" class="form-control" formControlName="rating">
                          <option value="2">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                      </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
   
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      [mat-dialog-close]="false"
      class="btn btn-outline-green btn-md me-4 px-4 d-none"
      #close
    >
      No, cancel
    </button>
    <button
      class="btn btn-green btn-md px-4"
      (click)="data.isEditing ? submitRating() : submitReview()"
    >
        <app-loading-button
          [text]="'Done'"
          [condition]="isLoading"
        ></app-loading-button>
    </button>
  </mat-dialog-actions>
  