<app-loading *ngIf="pageLoading"></app-loading>

<!-- Page Content -->
<div *ngIf="!pageLoading" class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Profile</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Profile</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="card mb-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-img-wrap">
                            <div class="profile-img">
                                <a><img alt="" src="assets/img/profiles/avatar-02.jpg"></a>
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0 mb-0">{{employeeDetails.firstName}}
                                            {{employeeDetails.middleName}}
                                            {{employeeDetails.lastName}}</h3>
                                        <!-- <h6 class="text-muted">{{employeeDetails.jobTitleName}}</h6> -->
                                        <small class="text-muted">{{employeeDetails.jobTitleName}} Web Designer</small>
                                        <div class="staff-id">Staff Code : {{employeeDetails.staffCode}}</div>
                                        <div class="small doj text-muted">Date of Join : 1st Jan 2013(unavailable)</div>
                                        <div class="staff-msg"><a class="btn btn-custom" routerLink="/apps/chat">Send
                                                Message</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <div class="title">Gender:</div>
                                            <div class="text">{{employeeDetails.gender === "1"?"Male": "Female"}}</div>
                                        </li>
                                        <li>
                                            <div class="title">Phone:</div>
                                            <div class="text"><a href="">{{employeeDetails.phoneNumber}}</a></div>
                                        </li>
                                        <li>
                                            <div class="title">Email:</div>
                                            <div class="text"><a href="">{{employeeDetails.email}}</a></div>
                                        </li>
                                        <li>
                                            <div class="title">Birthday:</div>
                                            <div class="text">{{employeeDetails.dateOfBirth | date :"mediumDate"}}
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">Office:</div>
                                            <div class="text">{{employeeDetails.staffOfficeName}}ABC</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="pro-edit"><a routerLink="/employees/employee-form" data-target="#profile_info"
                                data-toggle="modal" class="edit-icon"><i class="fa fa-pencil"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card tab-box">
        <div class="row user-tabs">
            <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
                <ul class="nav nav-tabs nav-tabs-bottom">
                    <li class="nav-item"><a href="#emp_profile" data-toggle="tab" class="nav-link ">Profile</a>
                    </li>
                    <li class="nav-item"><a href="#emp_assets" data-toggle="tab" class="nav-link">Assets</a></li>
                    <li class="nav-item"><a href="#emp_careers" data-toggle="tab" class="nav-link active">Careers</a>
                    </li>
                    <li class="nav-item"><a href="#emp_hobbies" data-toggle="tab" class="nav-link">Hobbies</a></li>
                    <li class="nav-item"><a href="#emp_health_well" data-toggle="tab" class="nav-link ">Health an
                            Wellness</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">

        <!-- Profile Info Tab -->
        <div id="emp_profile" class="pro-overview tab-pane fade  ">
            <!-- Identification Card -->
            <div>
                <app-identification [staffId]="employeeId"></app-identification>
            </div>
            <!-- /Identification Card -->
            <!-- Emergency Contact -->
            <div>
                <div class="card profile-box flex-fill">
                    <div class="card-body">
                        <h3 class="card-title">Emergency Contact
                            <div class="col-auto float-right ml-auto">
                                <a class="btn add-btn hint" data-toggle="modal"
                                    data-target="#emergency_contact_modal"><span class="hint-text">Add</span><i
                                        class="fa fa-plus"></i>
                                </a>
                                <a class="btn delete-btn hint" (click)="deleteEmergencyContact()"><span
                                        class="hint-text">Delete</span><i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </h3>
                        <div class="table-responsive">
                            <table class="table table-nowrap table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox"
                                                [checked]="selectedId.length === languageRating.length"
                                                (change)="checkAllEmergency($event)" />
                                        </th>
                                        <th>S/N</th>
                                        <th>Full Name</th>
                                        <th>Contact phone number</th>
                                        <th>Email</th>
                                        <th>Relationship</th>
                                        <th>Address</th>
                                        <th>Country</th>
                                        <th>Approval status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of emergencyContacts; let i = index"
                                        (click)="editEmergencyContact(item)" class="pointer">
                                        <td (click)="stopParentEvent($event)">
                                            <input type="checkbox" [checked]="selectedId.includes(item.id)"
                                                (change)="addItemId($event, item.id)" />
                                        </td>
                                        <td>{{ i + 1 }}</td>
                                        <td>{{item.fullName}}</td>
                                        <td>{{item.contact_phone_number}}</td>
                                        <td>{{item.email}}</td>
                                        <td>{{item.relationship}}</td>
                                        <td>{{item.address}}</td>
                                        <td>{{item.countryName}}</td>
                                        <td>{{item.approval_status_name}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /Emergency Contact -->

                <!-- Language -->
                <div>
                    <div class="card profile-box flex-fill">
                        <div class="card-body">
                            <h3 class="card-title">Language Rating
                                <div class="col-auto float-right ml-auto">
                                    <a class="btn add-btn hint" data-toggle="modal"
                                        data-target="#language_rating_modal"><span class="hint-text">Add</span><i
                                            class="fa fa-plus"></i>
                                    </a>
                                    <a class="btn delete-btn hint" (click)="deleteLanguageRating()"><span
                                            class="hint-text">Delete</span><i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </h3>
                            <div class="table-responsive">
                                <table class="table table-nowrap table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox"
                                                    [checked]="selectedId.length === languageRating.length"
                                                    (change)="checkAll($event)" />
                                            </th>
                                            <th>S/N</th>
                                            <th>Language</th>
                                            <th>Reading Rating</th>
                                            <th>Writing Rating</th>
                                            <th>Speaking Rating</th>
                                            <th>Approval Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let language of languageRating; let i = index"
                                            (click)="editLanguageRating(language)" class="pointer"
                                            (click)="stopParentEvent($event)">
                                            <td (click)="stopParentEvent($event)">
                                                <input type="checkbox" [checked]="selectedId.includes(language.id)"
                                                    (change)="addItemId($event, language.id)" />
                                            </td>
                                            <td>{{ i + 1 }}</td>
                                            <td>{{language.language}}</td>
                                            <td>{{language.reading_Rating}}</td>
                                            <td>{{language.writing_Rating}}</td>
                                            <td>{{language.speaking_Rating}}</td>
                                            <td>{{language.approval_status_name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Language -->
                <!-- Qualification -->
                <div>
                    <div class="card profile-box flex-fill">
                        <div class="card-body">
                            <h3 class="card-title">Qualification
                                <div class="col-auto float-right ml-auto">
                                    <a class="btn add-btn hint" data-toggle="modal"
                                        data-target="#employee_qualification_modal"><span class="hint-text">Add</span><i
                                            class="fa fa-plus"></i>
                                    </a>
                                    <a class="btn delete-btn hint" (click)="deleteEmployeeQualification()"><span
                                            class="hint-text">Delete</span><i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </h3>
                            <div class="table-responsive">
                                <table class="table table-nowrap table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox"
                                                    [checked]="selectedId.length === employeeQualification.length"
                                                    (change)="checkAll($event)" />
                                            </th>
                                            <th>S/N</th>
                                            <th>Certificate</th>
                                            <th>Institution</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Grade</th>
                                            <th>Approval Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let qualification of employeeQualification; let i = index"
                                            (click)="editEmployeeQualification(qualification)" class="pointer"
                                            (click)="stopParentEvent($event)">
                                            <td (click)="stopParentEvent($event)">
                                                <input type="checkbox" [checked]="selectedId.includes(qualification.id)"
                                                    (change)="addItemId($event, qualification.id)" />
                                            </td>
                                            <td>{{ i + 1 }}</td>
                                            <td>{{qualification.certificate}}</td>
                                            <td>{{qualification.institution}}</td>
                                            <td>{{qualification.startDate | date :'mediumDate'}}</td>
                                            <td>{{qualification.endDate | date :'mediumDate'}}</td>
                                            <td>{{qualification.gradeId}}</td>
                                            <td>{{qualification.approvalStatus}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Qualification -->
            </div>

            <!-- Referee Card -->
            <app-referee [staffId]="employeeId"></app-referee>
            <!-- /Referee Card -->



            <!-- Dependent Cotacts -->
            <div>
                <div class="card profile-box flex-fill">
                    <div class="card-body">
                        <h3 class="card-title">Dependent Cotacts<a class="edit-icon" data-toggle="modal"
                                data-target="#dependent_contacts_modal"><i class="fa fa-pencil"></i></a></h3>
                        <div class="table-responsive">
                            <table class="table table-nowrap">
                                <thead>
                                    <tr>
                                        <th>Full Name</th>
                                        <th>Phone No.</th>
                                        <th>Email</th>
                                        <th>Date of Birth</th>
                                        <th>Relationship</th>
                                        <th>Address</th>
                                        <th>Country</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Leo leo</td>
                                        <td>0900000000</td>
                                        <td>elo@godp.co.uk</td>
                                        <td>Feb 16th, 2019</td>
                                        <td>Brother</td>
                                        <td>ikeja</td>
                                        <td>Nigeria</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a aria-expanded="false" data-toggle="dropdown"
                                                    class="action-icon dropdown-toggle"><i
                                                        class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item"><i class="fa fa-pencil m-r-5"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item"><i class="fa fa-trash-o m-r-5"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Dependent Cotacts -->


        </div>
        <!-- /Profile Info Tab -->

        <!-- Assets Tab -->
        <div id="emp_assets" class="tab-pane fade">
            <div class="row">
                <div class="col-md-6 d-flex">
                    <div class="card profile-box flex-fill">
                        <div class="card-body">
                            <h3 class="card-title">Assets <a class="edit-icon" data-toggle="modal"
                                    data-target="#assets_contact_modal"><i class="fa fa-pencil"></i></a></h3>
                            <!-- <h5 class="section-title">Primary</h5>
                             <br> -->
                            <ul class="personal-info">
                                <li>
                                    <div class="title">Asset Name</div>
                                    <div class="text">GODP Shares</div>
                                </li>
                                <hr>
                                <li>
                                    <div class="title">Asset No. </div>
                                    <div class="text">GODP101</div>
                                </li>
                                <hr>
                                <li>
                                    <div class="title">Description</div>
                                    <div class="text">Good news from GOD.</div>
                                </li>
                                <hr>
                                <li>
                                    <div class="title">Classification</div>
                                    <div class="text">19</div>
                                </li>
                                <hr>
                                <li>
                                    <div class="title">Physical Condition </div>
                                    <div class="text">Active</div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <!-- assets Contact Modal -->
            </div>
        </div>
        <!-- /Assets Tab -->

        <!-- Careers Tab -->
        <div id="emp_careers" class="tab-pane fade show active">
            <!-- Professional Certification card -->
            <app-prof-cert [staffId]="employeeId"></app-prof-cert>
            <!-- /Professional Certification card -->
        </div>
        <!-- /Careers Tab -->



        <!-- Health and Wellness Tab -->
        <div id="emp_health_well" class="tab-pane fade ">
            <!-- Hmo card -->
            <app-hmo [staffId]="employeeId"></app-hmo>
            <!-- /Hmo card -->
        </div>
        <!-- /Health and Wellness Tab -->
    </div>

</div>

<!-- Pop up Modals below -->

<!-- Emergency Contact Modal -->
<div id="emergency_contact_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Personal Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addEmergencyContact(emergencyContactForm)" [formGroup]="emergencyContactForm">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Primary Contact</h3>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Full Name <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" formControlName="fullName">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Relationship <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" formControlName="relationship">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Contact Phone Number<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" formControlName="contact_phone_number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email <span class="text-danger">*</span></label>
                                        <input class="form-control" type="email" formControlName="email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Country <span class="text-danger">*</span></label>
                                        <select class="form-control" [class.invalid]="emergencyContactForm.get('countryId').invalid &&
                                        emergencyContactForm.get('countryId').touched" formControlName="countryId">
                                            <option selected value="">Country</option>
                                            <option *ngFor="let row of countries" value="{{row.lookupId}}">
                                                {{row.lookupName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Address <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" formControlName="address">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Approval Status<span class="text-danger">*</span></label>
                                        <select class="select form-control" formControlName="approval_status">
                                            <option disabled>Select Status</option>
                                            <option value="1">Approved</option>
                                            <option value="2">Pending</option>
                                            <option value="3">Declined</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">
                            <span *ngIf="!loading">Submit</span>
                            <span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Emergency Contact Modal ends here -->
<!-- language Modal -->
<div id="language_rating_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Add Language(s) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="closelanguageRatingModal()">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <form (ngSubmit)="addLanguageRating(languageRatingForm)" [formGroup]="languageRatingForm">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Language Rating</h3>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Language<span class="text-danger">*</span></label>
                                        <select class="form-control" [class.invalid]="languageRatingForm.get('languageId').invalid &&
                                        languageRatingForm.get('languageId').touched" formControlName="languageId">
                                            <option selected value="">Languages</option>
                                            <option *ngFor="let row of languages" value="{{row.id}}">
                                                {{row.language}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Reading Rating <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" formControlName="reading_Rating">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Writing Rating<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" formControlName="writing_Rating">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Speaking Rating <span class="text-danger">*</span></label>
                                        <input class="form-control" type="email" formControlName="speaking_Rating">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Approval Status<span class="text-danger">*</span></label>
                                        <select class="select form-control" formControlName="approval_status">
                                            <option disabled>Select Status</option>
                                            <option value="1">Approved</option>
                                            <option value="2">Pending</option>
                                            <option value="3">Declined</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">
                            <span *ngIf="!loading">Submit</span>
                            <span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Language modal ends here -->
<!-- Qualification modal -->
<div id="employee_qualification_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Add qualifications(s) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="closeEmployeeQualificationModal()">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <form (ngSubmit)="addEmployeeQualification(employeeQualificationForm)"
                    [formGroup]="employeeQualificationForm">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Employee Qualification </h3>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Certificate <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" formControlName="certificate">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Institution <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" formControlName="institution">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Start Date<span class="text-danger">*</span></label>
                                        <input class="form-control" type="date" formControlName="startDate">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>End Date <span class="text-danger">*</span></label>
                                        <input class="form-control" type="date" formControlName="endDate">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Grade<span class="text-danger">*</span></label>
                                        <select class="form-control" [class.invalid]="employeeQualificationForm.get('gradeId').invalid &&
                                        employeeQualificationForm.get('gradeId').touched" formControlName="gradeId">
                                            <option selected value="">Grades</option>
                                            <option *ngFor="let row of grades" value="{{row.id}}">
                                                {{row.grade}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Attachment (file format)</label>
                                        <input class="form-control" formControlName="qualificationFile" #fileInput
                                            type="file" (change)="handleFile($event)"
                                            [class.invalid]="
                                            employeeQualificationForm.get('qualificationFile').invalid &&
                                            employeeQualificationForm.get('qualificationFile').touched">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Approval Status<span class="text-danger">*</span></label>
                                        <select class="select form-control" formControlName="approvalStatus">
                                            <option disabled>Select Status</option>
                                            <option value="1">Confirmed</option>
                                            <option value="2">Pending</option>
                                            <option value="3">Unconfirmed</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">
                            <span *ngIf="!spinner">Submit</span>
                            <span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- qualification modal ends here -->

<!-- Assets Contact Modal 
<div id="assets_contact_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assets</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Employee Name <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Office <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Asset Name <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Asset Number <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Description <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Classification <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Physical Condition<span class="text-danger">*</span></label>
                                        <select class="select form-control" formControlName="client">
                                            <option>Approved</option>
                                            <option>Pending</option>
                                            <option>Declined</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Location</label>
                                        <input class="select form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Request Approval Status<span class="text-danger">*</span></label>
                                        <select class="select form-control" formControlName="client">
                                            <option>Select a status</option>
                                            <option>Approved</option>
                                            <option>Pending</option>
                                            <option>Declined</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Return Approval Status <span class="text-danger">*</span></label>
                                        <select class="select form-control" formControlName="client">
                                            <option>Select a Status</option>
                                            <option>Approved</option>
                                            <option>Pending</option>
                                            <option>Declined</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit" (ngSubmit)="uploadAssets()"
                            [disabled]="spinner">
                            <span *ngIf="!spinner">Submit</span>
                            <span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 /Assets Contact Modal -->

<!-- Hobbies Modal
<div id="hobbies_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Hobbies</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Hobbies</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Name of Hobbies <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Description <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Star <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Status <span class="text-danger">*</span></label>
                                        <select class="select form-control"
                                            [class.invalid]="addEmployeeForm.get('Gender').invalid && addEmployeeForm.get('Gender').touched"
                                            formControlName="Gender">
                                            <option value="Approved selected">Approved</option>
                                            <option>Pending</option>
                                            <option>Declined</option>
                                        </select>
                                        <div
                                            *ngIf="addEmployeeForm.get('Status').invalid && addEmployeeForm.get('Status').touched">
                                            <small
                                                *ngIf="addEmployeeForm.get('Status').invalid && addEmployeeForm.get('Status').touched"
                                                class="text-danger"> *Status required</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit" (ngSubmit)="uploadLanguage()"
                            [disabled]="spinner">
                            <span *ngIf="!spinner">Submit</span>
                            <span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->
<!-- /Hobbies Modal -->

<!-- Experience Modal 
<div id="experience_info" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Experience Informations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-scroll">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Experience Informations <a class="delete-icon"><i
                                            class="fa fa-trash-o"></i></a></h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating">
                                            <label class="focus-label">Company Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating">
                                            <label class="focus-label">Location</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating">
                                            <label class="focus-label">Job Position</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <div class="">
                                                <input type="date" bsDatepicker type="date"
                                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                                    class="form-control floating datetimepicker">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <div class="">
                                                <input type="date" bsDatepicker type="date"
                                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                                    class="form-control floating datetimepicker">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Experience Informations <a class="delete-icon"><i
                                            class="fa fa-trash-o"></i></a></h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating">
                                            <label class="focus-label">Company Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating">
                                            <label class="focus-label">Location</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating">
                                            <label class="focus-label">Job Position</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <div class="">
                                                <input type="date" bsDatepicker type="date"
                                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                                    class="form-control floating datetimepicker">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <div class="">
                                                <input type="date" bsDatepicker type="date"
                                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                                    class="form-control floating datetimepicker">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="add-more">
                                    <a><i class="fa fa-plus-circle"></i> Add More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->
<!-- Experience Modal -->