<app-loading *ngIf="pageLoading"></app-loading>
<!-- Page Content -->
<div *ngIf="!pageLoading" class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="page-title">Profile</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Profile</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->
  <div class="card mb-0">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="profile-view">
            <div class="profile-img-wrap">
              <div class="profile-img">
                <a><img alt="" src="{{employeeDetails.photo}}" /></a>
              </div>
            </div>
            <div class="profile-basic">
              <div class="row">
                <div class="col-md-5">
                  <div class="profile-info-left">
                    <h3 class="user-name m-t-0 mb-0"> {{ employeeDetails.firstName }} {{ employeeDetails.middleName }}
                      {{ employeeDetails.lastName }} </h3>
                    <!-- <h6 class="text-muted">{{employeeDetails.jobTitleName}}</h6> -->
                    <small class="text-muted">{{ employeeDetails.jobTitleName }}</small>
                    <div class="staff-id"> Staff Code : {{ employeeDetails.staffCode }} </div>
                    <div class="small doj text-muted"> Date of Join : {{ employeeDetails.dateOfJoin | date
                      :'mediumDate'}} </div>
                    <div class="staff-msg">
                      <a class="btn btn-custom" routerLink="/apps/chat">Send Message</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <ul class="personal-info">
                    <li>
                      <div class="title">Gender:</div>
                      <div class="text"> {{ employeeDetails.gender === "1" ? "Male" : "Female" }} </div>
                    </li>
                    <li>
                      <div class="title">Phone:</div>
                      <div class="text">
                        <a href="">{{ employeeDetails.phoneNumber }}</a>
                      </div>
                    </li>
                    <li>
                      <div class="title">Email:</div>
                      <div class="text">
                        <a href="">{{ employeeDetails.email }}</a>
                      </div>
                    </li>
                    <li>
                      <div class="title">Birthday:</div>
                      <div class="text"> {{ employeeDetails.dateOfBirth | date: "mediumDate" }} </div>
                    </li>
                    <li>
                      <div class="title">Office:</div>
                      <div class="text"> {{ employeeDetails.staffOfficeName }}ABC </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="pro-edit">
              <a routerLink="/employees/employee-form" data-target="#profile_info" data-toggle="modal"
                class="edit-icon"><i class="fa fa-pencil"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card tab-box">
    <div class="row user-tabs">
      <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
        <ul class="nav nav-tabs nav-tabs-bottom">
          <li class="nav-item">
            <a href="#emp_profile" data-toggle="tab" class="nav-link active">Profile</a>
          </li>
          <li class="nav-item">
            <a href="#emp_assets" data-toggle="tab" class="nav-link">Assets</a>
          </li>
          <li class="nav-item">
            <a href="#emp_careers" data-toggle="tab" class="nav-link ">Careers</a>
          </li>
          <li class="nav-item">
            <a href="#emp_hobbies" data-toggle="tab" class="nav-link">Hobbies</a>
          </li>
          <li class="nav-item">
            <a href="#emp_health_well" data-toggle="tab" class="nav-link ">Health and Wellness</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="tab-content">
    <!-- Profile Info Tab -->
    <div id="emp_profile" class="pro-overview tab-pane fade show active ">
      <!-- Identification Card -->
      <div>
        <app-identification [staffId]="employeeId"></app-identification>
      </div>
      <!-- /Identification Card -->
      <!-- Emergency Contact -->
      <div>
        <div class="card profile-box flex-fill">
          <div class="card-body">
            <h3 class="card-title">Emergency Contact <div class="col-auto float-right ml-auto">
                <a class="edit-icon hint mr-1" (click)="deleteEmergencyContact()"><span
                    class="hint-text">Delete</span><i class="fa fa-trash"></i>
                </a>
                <a class="edit-icon hint mr-1" data-toggle="modal" data-target="#emergency_contact_modal"><span
                    class="hint-text">Add</span><i class="fa fa-plus"></i>
                </a>
              </div>
            </h3>
            <div class="table-responsive">
              <table class="table table-nowrap table-hover">
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox" [checked]="selectedEmergencyId.length === emergencyContacts.length"
                        (change)="checkAllEmergency($event)" />
                    </th>
                    <th>S/N</th>
                    <th>Full Name</th>
                    <th>Contact phone number</th>
                    <th>Email</th>
                    <th>Relationship</th>
                    <th>Address</th>
                    <th>Country</th>
                    <th>Approval status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of emergencyContacts; let i = index" (click)="editEmergencyContact(item)"
                    class="pointer">
                    <td (click)="stopParentEvent($event)">
                      <input type="checkbox" [checked]="selectedEmergencyId.includes(item.id)"
                        (change)="addItemId($event, item.id,selectedEmergencyId)" />
                    </td>
                    <td>{{ i + 1 }}</td>
                    <td>{{item.fullName}}</td>
                    <td>{{item.contact_phone_number}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.relationship}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.countryName}}</td>
                    <td>{{item.approval_status_name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- /Emergency Contact -->
        <!-- Language -->
        <div>
          <div class="card profile-box flex-fill">
            <div class="card-body">
              <h3 class="card-title">Language Rating <div class="col-auto float-right ml-auto">
                  <a class="edit-icon hint mr-1" (click)="deleteLanguageRating()"><span
                      class="hint-text">Delete</span><i class="fa fa-trash"></i>
                  </a>
                  <a class="edit-icon hint mr-1" data-toggle="modal" data-target="#language_rating_modal"><span
                      class="hint-text">Add</span><i class="fa fa-plus"></i>
                  </a>
                </div>
              </h3>
              <div class="table-responsive">
                <table class="table table-nowrap table-hover">
                  <thead>
                    <tr>
                      <th>
                        <input type="checkbox" [checked]="selectedLanguageId.length === languageRating.length"
                          (change)="checkAllLanguage($event)" />
                      </th>
                      <th>S/N</th>
                      <th>Language</th>
                      <th>Reading Rating</th>
                      <th>Writing Rating</th>
                      <th>Speaking Rating</th>
                      <th>Approval Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let language of languageRating; let i = index" (click)="editLanguageRating(language)"
                      class="pointer" (click)="stopParentEvent($event)">
                      <td (click)="stopParentEvent($event)">
                        <input type="checkbox" [checked]="selectedLanguageId.includes(language.id)"
                          (change)="addItemId($event, language.id,selectedLanguageId)" />
                      </td>
                      <td>{{ i + 1 }}</td>
                      <td>{{language.language}}</td>
                      <td>{{language.reading_Rating}}</td>
                      <td>{{language.writing_Rating}}</td>
                      <td>{{language.speaking_Rating}}</td>
                      <td>{{language.approval_status_name}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- Language -->
      </div>
      <!-- Referee Card -->
      <app-referee [staffId]="employeeId"></app-referee>
      <!-- /Referee Card -->
      <!-- Dependent Contact Tab -->
      <div>
        <app-dependent-contact [staffId]="employeeId"></app-dependent-contact>
      </div>
      <!-- /dependent Contact Tab-->
    </div>
    <!-- /Profile Info Tab -->
    <!--Assets Tab -->
    <div id="emp_assets" class="tab-pane fade">
      <!-- Assets card -->
      <div>
        <app-assets [staffId]="employeeId"></app-assets>
      </div>
      <!-- Assets card -->
    </div>
    <!-- /Assets Tab -->
    <!-- Careers Tab -->
    <div id="emp_careers" class="tab-pane fade ">
      <!-- Career card -->
      <app-career [staffId]="employeeId"></app-career>
      <!-- /Career card -->
      <!-- Qualification -->
      <div>
        <div class="card profile-box flex-fill">
          <div class="card-body">
            <h3 class="card-title">Qualification <div class="col-auto float-right ml-auto">
                <a class="edit-icon hint mr-1" (click)="deleteEmployeeQualification()"><span
                    class="hint-text">Delete</span><i class="fa fa-trash"></i>
                </a>
                <a class="edit-icon hint mr-1" (click)="downloadFile()" download><span
                    class="hint-text">Download</span><i class="fa fa-download"></i>
                </a>
                <a class="edit-icon hint mr-1" data-toggle="modal" data-target="#employee_qualification_modal"><span
                    class="hint-text">Add</span><i class="fa fa-plus"></i>
                </a>
              </div>
            </h3>
            <div class="table-responsive">
              <table class="table table-nowrap table-hover">
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox" [checked]="selectedQualificationId.length === employeeQualification.length"
                        (change)=" checkAllQualification($event)" />
                    </th>
                    <th>S/N</th>
                    <th>Certificate</th>
                    <th>Institution</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Grade</th>
                    <th>Approval Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let qualification of employeeQualification; let i = index"
                    (click)="editEmployeeQualification(qualification)" class="pointer"
                    (click)="stopParentEvent($event)">
                    <td (click)="stopParentEvent($event)">
                      <input type="checkbox" [checked]="selectedQualificationId.includes(qualification.id)"
                        (change)="addItemId($event, qualification.id,selectedQualificationId)" />
                    </td>
                    <td>{{ i + 1 }}</td>
                    <td>{{qualification.certificate}}</td>
                    <td>{{qualification.institution}}</td>
                    <td>{{qualification.startDate | date :'mediumDate'}}</td>
                    <td>{{qualification.endDate | date :'mediumDate'}}</td>
                    <td>{{qualification.gradeId}}</td>
                    <td>{{qualification.approvalStatus}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Qualification -->
      <!-- Qualification modal -->
      <div id="employee_qualification_modal" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"> Add qualifications(s) </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="closeEmployeeQualificationModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="addEmployeeQualification(employeeQualificationForm)"
                [formGroup]="employeeQualificationForm">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Employee Qualification </h3>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Certificate <span class="text-danger">*</span></label>
                          <input class="form-control" type="text" formControlName="certificate">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Institution <span class="text-danger">*</span></label>
                          <input class="form-control" type="text" formControlName="institution">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Start Date<span class="text-danger">*</span></label>
                          <input class="form-control" type="date" formControlName="startDate">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>End Date <span class="text-danger">*</span></label>
                          <input class="form-control" type="date" formControlName="endDate">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Grade<span class="text-danger">*</span></label>
                          <select class="form-control" [class.invalid]="employeeQualificationForm.get('gradeId').invalid &&
                                        employeeQualificationForm.get('gradeId').touched" formControlName="gradeId">
                            <option selected value="">Grades</option>
                            <option *ngFor="let row of grades" value="{{row.id}}"> {{row.grade}} </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Attachment (file format)</label>
                          <input class="form-control" formControlName="qualificationFile" #fileInput type="file"
                            (change)="handleFile($event)" [class.invalid]="
                                            employeeQualificationForm.get('qualificationFile').invalid &&
                                            employeeQualificationForm.get('qualificationFile').touched">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Approval Status<span class="text-danger">*</span></label>
                          <select class="select form-control" formControlName="approvalStatus">
                            <option disabled>Select Status</option>
                            <option value="1">Confirmed</option>
                            <option value="2">Pending</option>
                            <option value="3">Unconfirmed</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="submit-section">
                  <button class="btn btn-primary submit-btn" type="submit">
                    <span *ngIf="!spinner">Submit</span>
                    <span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- qualification modal ends here -->
      <!-- Professional Certification card -->
      <app-prof-cert [staffId]="employeeId"></app-prof-cert>
      <!-- /Professional Certification card -->
      <!-- Skills card -->
      <app-skills [staffId]="employeeId"></app-skills>
      <!-- /Skills card -->
    </div>
    <!-- /Careers Tab -->
    <!--Hobbies Tab -->
    <div id="emp_hobbies" class=" tab-pane fade">
      <!-- Hobbies Card -->
      <div>
        <app-hobbies [staffId]="employeeId"></app-hobbies>
      </div>
    </div>
    <!-- /Hobbies Tab -->
    <!-- Health and Wellness Tab -->
    <div id="emp_health_well" class="tab-pane fade ">
      <!-- Employee Hmo card -->
      <app-employee-hmo [staffId]="employeeId"></app-employee-hmo>
      <!-- Employee /Hmo card -->
      <!-- Hospital card -->
      <app-hospital [staffId]="employeeId"></app-hospital>
      <!-- /Hospital card -->
      <!-- Employee Gym card -->
      <app-employee-gym [staffId]="employeeId"></app-employee-gym>
      <!-- /Employee Gym card -->
    </div>
    <!-- /Health and Wellness Tab -->
  </div>
</div>
<!-- Pop up Modals below -->
<!-- Emergency Contact Modal -->
<div id="emergency_contact_modal" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Emergency Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addEmergencyContact(emergencyContactForm)" [formGroup]="emergencyContactForm">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Emergency Contact</h3>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Full Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="fullName">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Relationship <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" formControlName="relationship">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Contact Phone Number<span class="text-danger">*</span></label>
                    <input class="form-control" type="text" formControlName="contact_phone_number">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Email <span class="text-danger">*</span></label>
                    <input class="form-control" type="email" formControlName="email">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Country <span class="text-danger">*</span></label>
                    <select class="form-control" [class.invalid]="emergencyContactForm.get('countryId').invalid &&
                                        emergencyContactForm.get('countryId').touched" formControlName="countryId">
                      <option selected value="">Country</option>
                      <option *ngFor="let row of countries" value="{{row.lookupId}}"> {{row.lookupName}} </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Address <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" formControlName="address">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Approval Status<span class="text-danger">*</span></label>
                    <select class="select form-control" formControlName="approval_status">
                      <option disabled>Select Status</option>
                      <option value="1">Approved</option>
                      <option value="2">Pending</option>
                      <option value="3">Declined</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="submit-section">
            <button class="btn btn-primary submit-btn" type="submit">
              <span *ngIf="!loading">Submit</span>
              <span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Emergency Contact Modal ends here -->
<!-- language Modal -->
<div id="language_rating_modal" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Language(s)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="closelanguageRatingModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addLanguageRating(languageRatingForm)" [formGroup]="languageRatingForm">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Language Rating</h3>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Language<span class="text-danger">*</span></label>
                    <select class="form-control" [class.invalid]="
                        languageRatingForm.get('languageId').invalid &&
                        languageRatingForm.get('languageId').touched
                      " formControlName="languageId">
                      <option selected value="">Languages</option>
                      <option *ngFor="let row of languages" value="{{ row.id }}"> {{ row.language }} </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Reading Rating <span class="text-danger">*</span></label>
                    <div>
                      <ngb-rating [(rate)]="readingRating" max="5" (rateChange)="getReadingRate($event)"
                        style="color: #ff9b44; font-size: 25px"></ngb-rating>
                    </div>
                    <!--                                        <input class="form-control" type="text" formControlName="reading_Rating">-->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Writing Rating<span class="text-danger">*</span></label>
                    <div>
                      <ngb-rating [(rate)]="writingRating" max="5" (rateChange)="getWritingRate($event)"
                        style="color: #ff9b44; font-size: 25px"></ngb-rating>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Speaking Rating <span class="text-danger">*</span></label>
                    <div>
                      <ngb-rating [(rate)]="speakingRating" max="5" (rateChange)="getSpeakingRate($event)"
                        style="color: #ff9b44; font-size: 25px"></ngb-rating>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Approval Status<span class="text-danger">*</span></label>
                    <select class="select form-control" formControlName="approval_status">
                      <option disabled>Select Status</option>
                      <option value="1">Approved</option>
                      <option value="2">Pending</option>
                      <option value="3">Declined</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="submit-section">
            <button class="btn btn-primary submit-btn" type="submit">
              <span *ngIf="!loading">Submit</span>
              <span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Language modal ends here -->
