<div class="wrapper">
  <div class="wrapper__logo">
    <embed
      src="assets/images/GOSHRM-logo.svg"
      alt="GOS HRM Logo"
    />
  </div>
  <div class="wrapper__form">
    <form [formGroup]="forgotPasswordForm">
      <div class="my-3" *ngIf="isError">
        <p class="alert alert-danger">
          {{ err_message }}
        </p>
      </div>
      <div class="form_group mb-4">
        <label for="email_Address" class="form-label"
          >Email Address
          <span>● </span>
        </label>
        <input
          type="email"
          id="email_Address"
          class="form-control"
          placeholder="i.sample@example.com"
          formControlName="email_Address"
          [ngClass]="{
            'is-invalid':
              (forgotPasswordForm.get('email_Address')?.errors && 
              forgotPasswordForm.get('email_Address')?.touched) || 
              (forgotPasswordForm.get('email_Address')?.hasError('required') &&
              emailFormSubmitted)
          }"
        />
        <div 
          class="invalid-feedback"
          *ngIf="forgotPasswordForm.get('email_Address')?.hasError('required') &&
          emailFormSubmitted"
        >
          Enter a valid email address
        </div>
      </div>
      <button class="btn wrapper__login_btn mt-5" (click)="submit()">
        <app-loading-button
          [text]="'Send'"
          [condition]="isLoading"
        ></app-loading-button>
      </button>
    </form>
  </div>
</div>
