<div class="d-flex justify-content-between" mat-dialog-title>
    <h2 mat-dialog-title>Add Course Outline </h2>
    <div class="click" mat-dialog-close>
      <img src="assets/icons/x.svg" alt="" />
    </div>
</div>
  <mat-dialog-content class="mat-typography">
    <div>
        <form [formGroup]="decisionForm">
            <div class="row">
                <div class="col-12">
                    <div class="form_group mb-5">
                      <label for="" class="form-label"
                        >Decision Type
                      </label>
                      <select name="" id="" class="form-select" formControlName="decisionType">
                        <option value="" selected>--Select a decision--</option>
                        <option value="Approved">Approved</option>
                        <option value="Disapprove">Disapprove</option>
                        <option value="Revert">Revert</option>
                      </select>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form_group mb-5">
                      <label for="" class="form-label"
                        >Comment
                      </label>
                      <textarea 
                        name="" id="" 
                        placeholder="Make a comment"
                        cols="30" rows="10"
                        class="form-control"
                        formControlName="comment"
                      ></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
   
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      class="btn btn-outline-green btn-md me-4 px-4 d-none"
      [mat-dialog-close]="false"
      #close
    >
      Cancel
    </button>
    <button
      class="btn btn-green btn-md px-4"
      (click)="submit()"
    >
        Done
    </button>
  </mat-dialog-actions>
  