<app-loading *ngIf="pageLoading"></app-loading>
<!-- Page Content -->
<div *ngIf="!pageLoading" class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">High School Grade</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">High School Grade</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a class="btn download-btn hint"><span class="hint-text">Download</span><i
                        class="fa fa-download"></i></a>
                <a class="btn upload-btn hint"><span class="hint-text">Upload</span><i class="fa fa-upload"></i></a>
                <a class="btn add-btn hint" data-toggle="modal" (click)="openModal()"><span
                    class="hint-text">Add</span><i class="fa fa-plus"></i></a>
                <a class="btn delete-btn hint" (click)="delete()"><span class="hint-text">Delete</span><i
                        class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-5">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating"
                    [(ngModel)]="searchText" />
                <label class="focus-label">Start typing to search by any field</label>
            </div>
        </div>
        <!--  <div class="col-sm-6 col-md-3">
            <a class="btn btn-success btn-block"> Search </a>
        </div> -->
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table datatable" datatable [dtOptions]="dtOptions"
                    [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" [checked]="selectedId.length === grades.length"
                                    (change)="checkAll($event)" />
                            </th>
                            <th>S/N</th>
                            <th>Grade</th>
                            <th>Rank</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-toggle="modal" class="pointer"data-target="#edit_employee"(click)="editHighSchoolGrade(row)"
                            *ngFor="let row of grades | filter:searchText; let i = index">
                            <td>
                                <input type="checkbox" [checked]="selectedId.includes(row.id)"
                                    (change)="addItemId($event, row.id)" />
                            </td>
                            <td>{{ i + 1 }}</td>
                            <td>{{ row.grade }}</td>
                            <td>{{ row.rank }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add HMO Modal -->
<div id="add_high_school_grade" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{formTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addHighSchoolGrade(highSchoolGradeForm)" [formGroup]="highSchoolGradeForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Grade<span class="text-danger">*</span></label>
                                <input class="form-control" type="text" [class.invalid]="
                                highSchoolGradeForm.get('grade').invalid &&
                                highSchoolGradeForm.get('grade').touched
                    " formControlName="grade" />
                                <div *ngIf="
                                highSchoolGradeForm.get('grade').invalid &&
                                highSchoolGradeForm.get('grade').touched
                    ">
                                    <small *ngIf="
                                    highSchoolGradeForm.get('grade').invalid &&
                                    highSchoolGradeForm.get('grade').touched
                      " class="text-danger">
                                        *Grade Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Description</label>
                                <textarea class="form-control" type="text" [class.invalid]="
                                highSchoolGradeForm.get('description').invalid &&
                                highSchoolGradeForm.get('description').touched
                    " formControlName="description"></textarea>
                                <div *ngIf="
                                highSchoolGradeForm.get('description').invalid &&
                                highSchoolGradeForm.get('description').touched
                    ">
                                    <small *ngIf="
                                    highSchoolGradeForm.get('description').invalid &&
                                    highSchoolGradeForm.get('description').touched
                      " class="text-danger">
                                        *Description Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Rank<span class="text-danger">*</span></label>
                                <input class="form-control" type="number" [class.invalid]="
                                highSchoolGradeForm.get('rank').invalid &&
                                highSchoolGradeForm.get('rank').touched
                    " formControlName="rank" />
                                <div *ngIf="
                                highSchoolGradeForm.get('rank').invalid &&
                                highSchoolGradeForm.get('rank').touched
                    ">
                                    <small *ngIf="
                                    highSchoolGradeForm.get('rank').invalid &&
                                    highSchoolGradeForm.get('rank').touched
                      " class="text-danger">
                                        *Rank Field is required</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Employee Modal -->

<!-- Edit Employee Modal -->
<!--<div id="edit_employee" class="modal custom-modal fade" role="dialog">-->
<!--  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title">Edit Employee</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <form (ngSubmit)="editEmployee()" [formGroup]="editEmployeeForm">-->
<!--          <div class="row">-->
<!--            <div class="col-sm-6">-->
<!--              <div class="form-group">-->
<!--                <label class="col-form-label">First Name <span class="text-danger">*</span></label>-->
<!--                <input class="form-control" type="text"-->
<!--                       [class.invalid]="editEmployeeForm.get('subject').invalid && editEmployeeForm.get('subject').touched"-->
<!--                       formControlName="subject">-->
<!--                <div-->
<!--                  *ngIf="editEmployeeForm.get('subject').invalid && editEmployeeForm.get('subject').touched">-->
<!--                  <small-->
<!--                    *ngIf="editEmployeeForm.get('subject').invalid && editEmployeeForm.get('subject').touched"-->
<!--                    class="text-danger"> *Firstname is required</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6">-->
<!--              <div class="form-group">-->
<!--                <label class="col-form-label">Last Name</label>-->
<!--                <input class="form-control" type="text"-->
<!--                       [class.invalid]="editEmployeeForm.get('reg_date').invalid && editEmployeeForm.get('reg_date').touched"-->
<!--                       formControlName="reg_date">-->
<!--                <div-->
<!--                  *ngIf="editEmployeeForm.get('reg_date').invalid && editEmployeeForm.get('reg_date').touched">-->
<!--                  <small-->
<!--                    *ngIf="editEmployeeForm.get('reg_date').invalid && editEmployeeForm.get('reg_date').touched"-->
<!--                    class="text-danger"> *reg_date is required</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6">-->
<!--              <div class="form-group">-->
<!--                <label class="col-form-label">Username <span class="text-danger">*</span></label>-->
<!--                <input class="form-control" type="text"-->
<!--                       [class.invalid]="editEmployeeForm.get('UserName').invalid && editEmployeeForm.get('UserName').touched"-->
<!--                       formControlName="UserName">-->
<!--                <div-->
<!--                  *ngIf="editEmployeeForm.get('UserName').invalid && editEmployeeForm.get('UserName').touched">-->
<!--                  <small-->
<!--                    *ngIf="editEmployeeForm.get('UserName').invalid && editEmployeeForm.get('UserName').touched"-->
<!--                    class="text-danger"> *Username is required</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6">-->
<!--              <div class="form-group">-->
<!--                <label class="col-form-label">Email <span class="text-danger">*</span></label>-->
<!--                <input class="form-control" type="email"-->
<!--                       [class.invalid]="editEmployeeForm.get('Email').invalid && editEmployeeForm.get('Email').touched"-->
<!--                       formControlName="Email">-->
<!--                <div-->
<!--                  *ngIf="editEmployeeForm.get('Email').invalid && editEmployeeForm.get('Email').touched">-->
<!--                  <small-->
<!--                    *ngIf="editEmployeeForm.get('Email').invalid && editEmployeeForm.get('Email').touched"-->
<!--                    class="text-danger"> *Email is required</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6">-->
<!--              <div class="form-group">-->
<!--                <label class="col-form-label">Password</label>-->
<!--                <input class="form-control" type="password"-->
<!--                       [class.invalid]="editEmployeeForm.get('Password').invalid && editEmployeeForm.get('Password').touched"-->
<!--                       formControlName="Password">-->
<!--                <div-->
<!--                  *ngIf="editEmployeeForm.get('Password').invalid && editEmployeeForm.get('Password').touched">-->
<!--                  <small-->
<!--                    *ngIf="editEmployeeForm.get('Password').invalid && editEmployeeForm.get('Password').touched"-->
<!--                    class="text-danger"> *Password is required</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6">-->
<!--              <div class="form-group">-->
<!--                <label class="col-form-label">Confirm Password</label>-->
<!--                <input class="form-control" type="password"-->
<!--                       [class.invalid]="editEmployeeForm.get('ConfirmPassword').invalid && editEmployeeForm.get('ConfirmPassword').touched"-->
<!--                       formControlName="ConfirmPassword">-->
<!--                <div-->
<!--                  *ngIf="editEmployeeForm.get('ConfirmPassword').invalid && editEmployeeForm.get('ConfirmPassword').touched">-->
<!--                  <small-->
<!--                    *ngIf="editEmployeeForm.get('ConfirmPassword').invalid && editEmployeeForm.get('ConfirmPassword').touched"-->
<!--                    class="text-danger"> *ConfirmPassword is required</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6">-->
<!--              <div class="form-group">-->
<!--                <label class="col-form-label">Employee ID <span class="text-danger">*</span></label>-->
<!--                <input type="text" class="form-control"-->
<!--                       [class.invalid]="editEmployeeForm.get('EmployeeID').invalid && editEmployeeForm.get('EmployeeID').touched"-->
<!--                       formControlName="EmployeeID">-->
<!--                <div-->
<!--                  *ngIf="editEmployeeForm.get('EmployeeID').invalid && editEmployeeForm.get('EmployeeID').touched">-->
<!--                  <small-->
<!--                    *ngIf="editEmployeeForm.get('EmployeeID').invalid && editEmployeeForm.get('EmployeeID').touched"-->
<!--                    class="text-danger"> *Employee ID is required</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6">-->
<!--              <div class="form-group">-->
<!--                <label class="col-form-label">Joining Date <span class="text-danger">*</span></label>-->
<!--                <div class="cal-icon">-->
<!--                  <input class="form-control datetimepicker" type="text" bsDatepicker type="text"-->
<!--                         [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"  [class.invalid]="editEmployeeForm.get('JoinDate').invalid && editEmployeeForm.get('JoinDate').touched"-->
<!--                         formControlName="JoinDate" (bsValueChange)="from($event)">-->
<!--                  <div-->
<!--                    *ngIf="editEmployeeForm.get('JoinDate').invalid && editEmployeeForm.get('JoinDate').touched">-->
<!--                    <small-->
<!--                      *ngIf="editEmployeeForm.get('JoinDate').invalid && editEmployeeForm.get('JoinDate').touched"-->
<!--                      class="text-danger"> *JoinDate is required</small>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6">-->
<!--              <div class="form-group">-->
<!--                <label class="col-form-label">Phone </label>-->
<!--                <input class="form-control" type="text"-->
<!--                       [class.invalid]="editEmployeeForm.get('PhoneNumber').invalid && editEmployeeForm.get('PhoneNumber').touched"-->
<!--                       formControlName="PhoneNumber">-->
<!--                <div-->
<!--                  *ngIf="editEmployeeForm.get('PhoneNumber').invalid && editEmployeeForm.get('PhoneNumber').touched">-->
<!--                  <small-->
<!--                    *ngIf="editEmployeeForm.get('PhoneNumber').invalid && editEmployeeForm.get('PhoneNumber').touched"-->
<!--                    class="text-danger"> *Phone is required</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6">-->
<!--              <div class="form-group">-->
<!--                <label class="col-form-label">Company</label>-->
<!--                <select class="select form-control"-->
<!--                        [class.invalid]="editEmployeeForm.get('CompanyName').invalid && editEmployeeForm.get('CompanyName').touched"-->
<!--                        formControlName="CompanyName">-->
<!--                  <option value="">Global Technologies</option>-->
<!--                  <option value="1">Delta Infotech</option>-->
<!--                </select>-->
<!--                <div-->
<!--                  *ngIf="editEmployeeForm.get('CompanyName').invalid && editEmployeeForm.get('CompanyName').touched">-->
<!--                  <small-->
<!--                    *ngIf="editEmployeeForm.get('CompanyName').invalid && editEmployeeForm.get('CompanyName').touched"-->
<!--                    class="text-danger"> Company Name required</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-6">-->
<!--              <div class="form-group">-->
<!--                <label>Department <span class="text-danger">*</span></label>-->
<!--                <select class="select form-control"-->
<!--                        [class.invalid]="editEmployeeForm.get('DepartmentName').invalid && editEmployeeForm.get('DepartmentName').touched"-->
<!--                        formControlName="DepartmentName">-->
<!--                  <option>Select Department</option>-->
<!--                  <option>Web Development</option>-->
<!--                  <option>IT Management</option>-->
<!--                  <option>Marketing</option>-->
<!--                </select>-->
<!--                <div-->
<!--                  *ngIf="editEmployeeForm.get('DepartmentName').invalid && editEmployeeForm.get('DepartmentName').touched">-->
<!--                  <small-->
<!--                    *ngIf="editEmployeeForm.get('DepartmentName').invalid && editEmployeeForm.get('DepartmentName').touched"-->
<!--                    class="text-danger"> *Department Name required</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-6">-->
<!--              <div class="form-group">-->
<!--                <label>Designation <span class="text-danger">*</span></label>-->
<!--                <select class="select form-control"-->
<!--                        [class.invalid]="editEmployeeForm.get('Designation').invalid && editEmployeeForm.get('Designation').touched"-->
<!--                        formControlName="Designation">-->
<!--                  <option>Select Designation</option>-->
<!--                  <option>Web Designer</option>-->
<!--                  <option>Web Developer</option>-->
<!--                  <option>Android Developer</option>-->
<!--                </select>-->
<!--                <div-->
<!--                  *ngIf="editEmployeeForm.get('Designation').invalid && editEmployeeForm.get('Designation').touched">-->
<!--                  <small-->
<!--                    *ngIf="editEmployeeForm.get('Designation').invalid && editEmployeeForm.get('Designation').touched"-->
<!--                    class="text-danger"> *Designation Name required</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="table-responsive m-t-15">-->
<!--            <table class="table table-striped custom-table">-->
<!--              <thead>-->
<!--              <tr>-->
<!--                <th>Module Permission</th>-->
<!--                <th class="text-center">Read</th>-->
<!--                <th class="text-center">Write</th>-->
<!--                <th class="text-center">Create</th>-->
<!--                <th class="text-center">Delete</th>-->
<!--                <th class="text-center">Import</th>-->
<!--                <th class="text-center">Export</th>-->
<!--              </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--              <tr>-->
<!--                <td>Holidays</td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>Leaves</td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>Clients</td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>Projects</td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>Tasks</td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>Chats</td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>Assets</td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>Timing Sheets</td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input checked="" type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <input type="checkbox">-->
<!--                </td>-->
<!--              </tr>-->
<!--              </tbody>-->
<!--            </table>-->
<!--          </div>-->
<!--          <div class="submit-section">-->
<!--            <button class="btn btn-primary submit-btn" type="submit">Submit</button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- /Edit Employee Modal -->

<!-- Delete Employee Modal -->
<div class="modal custom-modal fade" id="delete_employee" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Employee</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a class="btn btn-primary continue-btn" (click)="deleteEmployee()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Employee Modal -->