<!-- Page Content -->
<div>
  <!-- Page Header -->
  <div class="card">
    <div class="card-header">
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title header-bg-color">Direct Report Appraisals</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a> Manager</a></li>
              <li class="breadcrumb-item active">
                <a routerLink="">Direct Report Appraisals</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <p-table [value]="reportAppraisals">
              <ng-template pTemplate="header">
                <tr>
                  <!--              <th>-->
                  <!--                <input-->
                  <!--                  type="checkbox"-->
                  <!--                  [checked]="selectedId.length === reportAppraisals.length"-->
                  <!--                  (change)="checkAll($event)"-->
                  <!--                />-->
                  <!--              </th>-->
                  <th class="sn_width">S/N</th>
                  <th>Review Year</th>
                  <th>Review Period</th>
                  <th>Employee</th>
                  <th>Job Grade</th>
                  <th>Office</th>
                  <th>Review Status</th>
                  <th>Points</th>
                  <th></th>
                  <!--              <th>Final Comments</th>-->
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-row let-i="rowIndex">
                <tr data-toggle="modal" class="pointer">
                  <td class="sn_width">{{ i + 1 }}</td>
                  <td>{{ row.reviewYear }}</td>
                  <td (click)="viewObjectives(row)">
                    <a class="table-link">{{ row.reviewPeriod }}</a>
                  </td>
                  <td>{{ row.employeeName | titlecase }}</td>
                  <td>{{ row.jobGradeName }}</td>
                  <td>{{ row.officeName | titlecase }}</td>
                  <td>{{ row.reviewStatusName | titlecase }}</td>
                  <td>{{ row.points }}</td>
                  <td (click)="viewAppraisal(row)">
                    <a class="table-link">Appraisal Forms</a>
                  </td>
                  <!--              <td>{{ row.comment }}</td>-->
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
