<section class="profile__wrapper">
  <div class="profile_title">
    <h2>Personal Details</h2>
  </div>
  <div class="profile__card">
    <div class="wrapper__sign_in">
      <div class="d-flex">
        <div class="profile_img">
          <img class="profile__pix" [src]="profileImg" alt="profile image">
        </div>
        <div class="profile_detail">
          <div class="upload-btn">
            <button
              class=" btn btn-green btn-lg"
              (click)="openProfileUploadDialog({ isEditing: false })"
            >
              Upload Photo
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="profile__form">
    <div class="basic_info">
      <div class="d-flex justify-content-between">
        <h4 class="py-3">Company Information</h4>
        <div class="click" (click)="openEditProfileDialog({isEditing: true, editObject: profile})">
          <img src="assets/images/edit-pen.svg" alt="">
        </div>
      </div>
      <form>
        <div class="row">
          <div class="col-lg-6">
            <div class="form_group mb-5">
              <label for="firstName" class="form-label"
                >Company Name
              </label>
              <input
                type="text"
                class="form-control"
                readonly
                [placeholder]="profile?.full_Name ? profile?.full_Name : ''"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form_group mb-5">
              <label for="middleName" class="form-label"
                >Phone Number
              </label>
              <input
                type="text"
                class="form-control"
                readonly
                [placeholder]="profile?.phone_Number ? profile?.phone_Number : ''"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form_group mb-5">
              <label for="lastName" class="form-label"
                >Email Address
              </label>
              <input
                type="email"
                class="form-control"
                readonly
                [placeholder]="profile?.email_Address ? profile?.email_Address : ''"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form_group mb-5">
              <label for="phoneNo" class="form-label"
                >Physical Address
              </label>
              <input
                type="text"
                class="form-control"
                readonly
                [placeholder]="profile?.physical_Address ? profile?.physical_Address : ''"
              />
            </div>
          </div>
        </div>
      </form>
    </div>

    <hr class="mt-3 mb-4">

    <div class="social_info">
      <div class="d-flex justify-content-between">
        <h4 class="py-3">Social Media Accounts</h4>
        <div class="click" (click)="openEditSocialMediaDialog({ isEditing: true, editObject: socialMediaInfo })">
          <img src="assets/images/edit-pen.svg" alt="">
        </div>
      </div>
      <div class="d-flex click">
        <div *ngIf="socialMediaInfo == null">
          <p>You do not have any social media acoount available</p>
        </div>
        <a 
          [href]="socialMediaInfo?.linkedInType"
          target="_blank"
          *ngIf="socialMediaInfo?.linkedInType"
        ><img class="click pe-4" src="assets/images/linkedIn-icon.svg" alt="">
        </a>
        <a 
          [href]="socialMediaInfo?.facebookType"
          target="_blank"
          *ngIf="socialMediaInfo?.facebookType"
        ><img class="click pe-4" src="assets/images/facebook-icon.svg" alt="">
        </a>
        <a 
          [href]="socialMediaInfo?.twitterType"
          target="_blank"
          *ngIf="socialMediaInfo?.twitterType"
        ><img class="click pe-4" src="assets/images/twitter-icon.svg" alt="">
        </a>
        <a 
          [href]="socialMediaInfo?.youtubeType"
          target="_blank"
          *ngIf="socialMediaInfo?.youtubeType"
        ><img class="click pe-4" src="assets/images/youtube-icon.svg" alt="">
        </a>
      </div>
     
    </div>

    <hr class="mt-3 mb-4">

    <div class="website_info">
      <div class="d-flex justify-content-between">
        <h4 class="py-3">Websites</h4>
        <div class="click" (click)="openWebsiteDialog({ isEditing: true, editObject: websites })">
          <img src="assets/images/edit-pen.svg" alt="">
        </div>
      </div>
      <div class="py-3">
        <div *ngIf="websites == null">
          <p>You do not have any website available</p>
        </div>
        <ul>
             <li>
               <a 
                 [href]="websites?.website_Link_First" target="_blank"
               >{{ websites?.website_Name_First }}
               </a>
             </li>
             <li>
               <a 
                 [href]="websites?.website_Link_Second" target="_blank"
               >{{ websites?.website_Name_Second }}
               </a>
             </li>
             <li>
               <a 
                 [href]="websites?.website_Link_Third" target="_blank"
               >{{ websites?.website_Name_Third }}
               </a>
             </li>
        </ul>
     </div>
     
    </div>

    <hr class="mt-3 mb-4">

    <div class="courses_info">
      <div class="d-flex justify-content-between">
        <h4 class="d-flex py-3">
          <span class="pe-3">No. of running courses - 36 courses</span>
          <ng-rating-bar
                  [value]="4"
                  [ratingCount]="5"
                  [disabled]="true"
                  [styles]="{ margin: '0px', fontSize: '18px'}"
                  colorActive="#F88F09" 
                  colorDefault="#cecece"
          ></ng-rating-bar>
        </h4>
        <div class="click" routerLink="/training-provider/running-courses">
          <img src="assets/images/edit-pen.svg" alt="">
        </div>
      </div>
      <div class="">
        <div class="" *ngIf="runningCourses.length == 0">
          <p>You do not any running course available</p>
        </div>
        <div class="d-flex justify-content-between" *ngFor="let course of runningCourses | slice:0:3">
          <p>{{ course?.course_Title }}</p>
          <ng-rating-bar
              [value]="course?.ratings || 0"
              [ratingCount]="5"
              [disabled]="true"
              [styles]="{ margin: '0px', fontSize: '20px'}"
              colorActive="#F88F09" 
              colorDefault="#cecece"
          ></ng-rating-bar>
        </div>
      </div>
     
    </div>

    <hr class="mt-3 mb-4">

    <div class="payout_info">
      <div class="d-flex justify-content-between">
        <h4 class="d-flex py-3">Payout</h4>
        <div class="click" routerLink="/training-provider/payout">
          <img src="assets/images/edit-pen.svg" alt="">
        </div>
      </div>
      <div class="">
        <div class="" *ngIf="payouts.length == 0">
          <p>You do not any running course available</p>
        </div>
        <div class="d-md-flex">
          <div class="pr-4 border-right mb-4">
            <div *ngIf="payouts[0]?.account_TypeId == 1">
              <p class="text-grey">Paypal Email: <span class="font-bold">{{ payouts[0]?.paypal_Email }}</span></p>
              <p class="text-grey">Paypal Name: <span class="font-bold">{{ payouts[0]?.paypal_Name }}</span></p>
            </div>
            <div *ngIf="payouts[0]?.account_TypeId == 2">
              <p class="text-grey">Bank Name: <span class="font-bold">{{ payouts[0]?.bank_Name }}</span></p>
              <p class="text-grey">Account Name: <span class="font-bold">{{ payouts[0]?.account_Name }}</span></p>
              <p class="text-grey">Account Number: <span class="font-bold">{{ payouts[0]?.account_Number }}</span></p>
            </div>
          </div>
          <div class="border mx-3 mb-4"></div>
          <div class="pl-4">
            <div *ngIf="payouts[1]?.account_TypeId == 1">
              <p class="text-grey">Paypal Email: <span class="font-bold">{{ payouts[1]?.paypal_Email }}</span></p>
              <p class="text-grey">Paypal Name: <span class="font-bold">{{ payouts[1]?.paypal_Name }}</span></p>
            </div>
            <div *ngIf="payouts[1]?.account_TypeId == 2">
              <p class="text-grey">Bank Name: <span class="font-bold">{{ payouts[1]?.bank_Name }}</span></p>
              <p class="text-grey">Account Name: <span class="font-bold">{{ payouts[1]?.account_Name }}</span></p>
              <p class="text-grey">Account Number: <span class="font-bold">{{ payouts[1]?.account_Number }}</span></p>
            </div>
          </div>
        </div>
      </div>
     
    </div>

  </div>
</section>
