@import 'partials/abstract/variables';
@import "partials/abstract/mixins";
@import "partials/components/forms";

.learning_wrapper {
    padding: 3rem;
    color: $black-100;
    .learning-banner {
        width: 100%;
        .img-wrapper {
            width: 100%;
            height: 50vh;
        }
    }
       .setup-card {
            .card-left {
                .img-wrapper {
                    width: 6.5rem;
                    height: 6.5rem;
                    border-radius: 50%;
                    background: #C4C4C4;
                    position: relative;
                    .upload-icon {
                        position: absolute;
                        bottom: .3rem;
                        right: .3rem;
                        height: 2rem;
                        cursor: pointer;
                        .fa {
                            color: $orange-400;
                            font-size: 1.3rem !important;
                        }
                        .upload-file {
                            position: absolute;
                            height: 100%;
                            left: .05rem;
                            opacity: 0;
                        }
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                .ratings i {
                    color: #cecece;
                    font-size: 1rem
                }
                
                .rating-color {
                    color: $orange-400 !important
                }
                
                .review-count {
                    font-weight: 400;
                    margin-bottom: 2px;
                    font-size: 24px !important
                }
                
                .small-ratings i {
                    color: #cecece
                }
                
                .review-stat {
                    font-weight: 300;
                    font-size: 18px;
                    margin-bottom: 2px
                }
            }
            .card-right {
                font-size: 1.5rem;
                line-height: 25px;
            }
       }
    .font-bold {
        font-weight: 600;
    }
    .btn-secondary {
        background: $orange-400;
        border: .1rem solid $orange-400;
    }
    .dropdown-menu {
        .dropdown-item {
          padding: 1rem 1.5rem;
          font-size: 1.2rem;
          &:hover, &:focus {
            background: #FEF1E1;
          }
        }
    }
    .carts_wrapper {
        .course-card {
            img {
                max-height: 20rem;
                width: 100%;
            }
        }
    }
}