<div class="learning_wrapper">
    <div class="learning-banner">
        <div class="img-wrapper" 
            [style.background-image]="'url(/assets/images/' + banner + '.svg)'">
        </div>
    </div>

    <div>
        <ul 
            class="nav nav-pills vertical-nav nav-tabs ps-4 mb-0" 
            id="myTab" role="tablist"
        >
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link"
                    [ngClass]="{ active: current_Tab == 'learning' }"
                    id="pills-info-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-info"
                    type="button"
                    role="tab"
                    aria-controls="pills-info"
                    aria-selected="true"
                    (click)="getLearning()"
                >
                    My Learning
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link"
                    [ngClass]="{ active: current_Tab == 'wishlist' }"
                    id="pills-identity-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-identity"
                    type="button"
                    role="tab"
                    aria-controls="pills-identity"
                    aria-selected="false"
                    (click)="getWishlist()"
                >
                    Wishlist
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link"
                    [ngClass]="{ active: current_Tab == 'carts' }"
                    id="pills-info-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-info"
                    type="button"
                    role="tab"
                    aria-controls="pills-info"
                    aria-selected="true"
                    (click)="getCarts()"
                >
                    My Cart
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link"
                    [ngClass]="{ active: current_Tab == 'approved' }"
                    id="pills-identity-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-identity"
                    type="button"
                    role="tab"
                    aria-controls="pills-identity"
                    aria-selected="false"
                    (click)="getApprovedCourses()"
                >
                    Training Schedule Approval
                </button>
            </li>
        </ul>
    </div>

    <ng-container *ngIf="current_Tab == 'learning' || current_Tab == 'approved' ">
        <div 
            class="setup-card bg-white p-5 my-4" 
            *ngFor="let course of courses"
        >
            <div class="d-md-flex justify-content around">
                <div class="card-left pe-5">
                    <div class="img-wrapper">
                        <img [src]="course?.pictureUrl" alt="">
                        <div class="upload-icon">
                            <i class="fa fa-camera"></i>
                            <input class="upload-file" type="file" name="" id="">
                        </div>
                    </div>
                    <ng-rating-bar
                        [value]="4"
                        [ratingCount]="5"
                        [disabled]="true"
                        [styles]="{ margin: '0px', fontSize: '16px'}"
                        colorActive="#F88F09" 
                        colorDefault="#cecece"
                    ></ng-rating-bar>
                </div>
                <div class="card-right">
                    <div class="d-md-flex">
                        <span>Training Name: </span>
                        <span class="font-bold ps-3">{{ course?.courseName }}</span>
                    </div>
                    <div class="d-md-flex py-3">
                            <div class="text-nowrap">Training Transcript: </div>
                            <span class="font-bold ps-3" [innerHTML]="course?.training_Transcript">
                                    <span class="d-block py-3"><i class="fas fa-angle-down"></i> See more</span>
                            </span>
                    </div>
                    <div class="d-md-flex py-3">
                            <span>Training Objectives: </span>
                            <span class="font-bold ps-3">
                                <p>{{ course?.training_Objective }}</p>
                                <span class="d-block py-3"><i class="fas fa-angle-down"></i> See more</span>
                            </span>
                    </div>
                    <div class="d-flex pb-3">
                        <span>Instructor/Facilitator:</span>
                        <span class="font-bold text-capitalize ps-3">{{ course?.facilitator }}</span>
                    </div>
                    <div class="d-flex pb-3">
                        <span>Status:</span>
                        <span class="font-bold ps-3">{{course?.decision_type}}</span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end" *ngIf="!isLearning">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Approve Experience
                    </button>
                    <ul class="dropdown-menu click" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" [routerLink]="['/training-provider/course-creation/course-outline', course?.courseId]">
                          Participants</a>
                    </li>
                      <li><a class="dropdown-item" [routerLink]="['/training-provider/course-creation/course-assessment', course?.courseId]"
                        >Course Assessment</a></li>
                      <li><a class="dropdown-item" [routerLink]="['/training-provider/course-creation/competence-assessment', course?.courseId]"
                        >Competence Assessment</a></li>
                      <li><a class="dropdown-item" routerLink="/training-provider/course-creation/learning-assessment"
                        >Learning Assessment </a></li>
                      <li><a class="dropdown-item" href="#">Decision</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="current_Tab == 'wihlist'">
        <div class="bg-white py-5">
            <div class="container my-5">
                <div class="row">
                    <div class="col-md-6 col-lg-3" *ngFor="let course of whilst">
                        <app-course-card
                            [coverImage]="course?.coursePhotoUrl"
                            [courseTitle]="course?.training_Name"
                            [instructorName]="course?.facilitator"
                            [price]="course?.cost"
                            [competencies]="course?.completence_Assessment"
                            [isCart]="course?.isCart"
                            [isWishlist]="course?.isWishlist"
                            (route)="goToCourseDetails(course?.courseId)"
                            (cart)="addToCart(course)"
                            (whilst)="addToWhilst(course)"
                        ></app-course-card>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

   <ng-container *ngIf="current_Tab == 'carts'">
    <div class="row my-5" *ngIf="current_Tab == 'carts'">
        <div class="carts_wrapper col-md-8">
            <div class="course-card mb-5" *ngFor="let course of carts">
                <div class="row">
                    <div class="col-md-4 m-0">
                        <img [src]="
                            course?.coursePhotoUrl ?
                            course?.coursePhotoUrl :
                            'assets/images/course-card.svg'" alt=""
                        />
                    </div>
                    <div class="col-md-8 d-flex justify-content-between bg-white p-4 m-0">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h3>{{ course?.training_Name }} - </h3>
                                    <h5>{{ course?.facilitator }} </h5>
                                    <div>
                                        <span></span>
                                        <span>(4.8 ratings)</span>
                                    </div>
                                    <div>
                                        <span>Expected Competentence:</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-right">
                                <h2>${{ course?.cost }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-white p-4">
                <h3>Total</h3>
                <span>${{ getTotalCost(carts) }}</span>
                <button 
                    class="btn btn-green btn-lg"
                    routerLink="/checkout"
                >Checkout
                </button>
                <div>
                    <div class="form_group my-4">
                        <label for="" class="form-label">Coupon</label>
                        <input type="text" class="form-control">
                        <div class="d-flex justify-content-end">
                            <span>Apply</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </ng-container>
   
    
</div>