.course-assessment__wrapper {
    padding: 3rem;
    .assessment-question {
        .action-btn {
            opacity: 0;
        }
        .question, .options {
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 2.5rem;
        }
        &:hover {
            .action-btn {
                opacity: 1;
            }
        }
    }
}