<!-- Page Content -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">{{ current_tab }}</h3>
      </div>
      <div class="col-auto float-right ml-auto d-inline-block">
        <app-searchbar class="d-inline-block px-3"></app-searchbar>
        <a class="btn upload-btn hint" data-toggle="modal" (click)="delete()"
          ><span class="hint-text">Delete</span><img src="assets/img/delete.svg">
        </a>
        <a *ngIf="current_tab =='Page Content'" class="btn upload-btn hint" data-toggle="modal" (click)="delete()"
          ><span class="hint-text">Add</span><img src="assets/img/add.svg">
        </a>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <!--Page tabs-->
  <div class="">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="pills-pageBanner-tab"
          data-toggle="pill"
          href="#pills-pageBanner"
          role="tab"
          aria-controls="pills-pageBanner-tab"
          aria-selected="true"
          (click)="getCurrentTab('Page Banner')"
          >Page Banner</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="pills-pageContent-tab"
          data-toggle="pill"
          href="#pills-pageContent"
          role="tab"
          aria-controls="pills-pageContent-tab"
          aria-selected="false"
          (click)="getCurrentTab('Page Content')"
          >Page Content
        </a>
      </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="pills-pageBanner"
        role="tabpanel"
        aria-labelledby="pills-pageBanner"
      >
        <div class="row">
          <div class="col-lg-12">
            <div class="dashboard table-responsive p-3">
              <table class="table table-striped text-nowrap" datatable [dtOptions]="dtOptions">
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox">
                      <span class="px-3">Page</span>
                    </th>
                    <th>Banner Title</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let asset of [1,2,3,4]">
                    <th scope="row">
                      <input type="checkbox">
                      <span class="px-3"> Design, Art and Multimedia</span>
                    </th>
                    <td class="d-flex justufy-content-between">E
                      <span class="pr-5">lit, at pellentesque odio id. Enim arcu, sed nec in mattis feugiat.</span>
                      <img class="click px-5 ml-auto" src="assets/img/edit.svg" routerLink="/lms/application/page-setup-detail">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="pills-pageContent"
        role="tabpanel"
        aria-labelledby="pills-pageContent"
      >
        <div class="row">
          <div class="col-lg-12">
            <div class="dashboard table-responsive p-3">
              <table class="table table-striped text-nowrap" datatable [dtOptions]="dtOptions">
                <thead>
                  <tr>
                    <th> 
                      <input type="checkbox">
                      <span class="px-3">Page</span>
                    </th>
                    <th>Section Title</th>
                    <th>Section Content</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let asset of [1,2,3,4]">
                    <th scope="row">
                      <input type="checkbox">
                      <span class="px-3"> Design, Art and Multimedia</span>
                    </th>
                    <td>
                      Trusted companies
                    </td>
                    <td class="d-flex justufy-content-between">E
                      <span class="pr-5">GOS Recruitment Management Soft ...</span>
                      <div class="ml-auto">
                        <img class="click px-3" src="assets/img/trash.svg" (click)="openDeleteModal()">
                        <img class="click px-3" src="assets/img/edit.svg" (click)="openModal(true)">
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>
<!-- /Page Content -->