<div class="running_courses-wrapper my-4">
    <div class="table-responsive bg-white">
      <table class="table caption-top text-nowrap" datatable>
        <ng-container>
          <thead class="bg-white">
            <tr>
              <th>Date</th>
              <th>Course Title</th>
              <th>Delivery Type</th>
              <th>Difficulty level</th>
              <th>Duration</th>
              <th>No. of Views</th>
              <th>Ratings</th>
            </tr>
          </thead></ng-container
        >
        <tbody>
          <ng-container>
            <tr class="text-capitalize" *ngFor="let leave of [1,2,3,4,5,6,7]">
              <td>Apr 11, 2018</td>
              <td>Excel Ms Advanced</td>
              <td>Online</td>
              <td>Beginner</td>
              <td>02:45:12</td>
              <td>180</td>
              <td>
                <ng-rating-bar
                  [value]="4"
                  [ratingCount]="5"
                  [disabled]="true"
                  [styles]="{ margin: '0px', fontSize: '16px'}"
                  colorActive="#F88F09" 
                  colorDefault="#cecece"
                ></ng-rating-bar>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>