<div class="running_courses-wrapper my-4">
    <div class="table-responsive bg-white">
      <table class="table caption-top text-nowrap" datatable>
        <ng-container>
          <thead class="bg-white">
            <tr>
              <th>Date</th>
              <th>Course Title</th>
              <th>Delivery Type</th>
              <th>Difficulty level</th>
              <th>Duration</th>
              <th>No. of Views</th>
              <th>Ratings</th>
            </tr>
          </thead></ng-container
        >
        <tbody>
          <ng-container>
            <tr class="text-capitalize" *ngFor="let course of facilitatedCourses">
              <td>{{ course?.training_Name}}</td>
              <td>{{ course?.training_Name}}</td>
              <td>{{ course?.delivery_Type}}</td>
              <td>{{ course?.difficulty_Level}}</td>
              <td>{{ course?.duration}}</td>
              <td>{{ course?.no_Of_view}}</td>
              <td>
                <ng-rating-bar
                  [value]="4"
                  [ratingCount]="5"
                  [disabled]="true"
                  [styles]="{ margin: '0px', fontSize: '16px'}"
                  colorActive="#F88F09" 
                  colorDefault="#cecece"
                ></ng-rating-bar>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>