<section class="setup_wrapper">
  <div>
    <h3>App Setup</h3>
    <div class="app-container bg-white my-4">
        <div
          class="setup-nav d-flex justify-content-between click py-4 px-5"
          routerLink="/lms/email-setup"
        >
          <p>Email Setup</p>
          <i class="fas fa-greater-than"></i>
        </div>
        <div
          class="setup-nav d-flex justify-content-between click py-4 px-5"
          routerLink="/lms/page-setup"
        >
          <p>Page Setup</p>
          <i class="fas fa-greater-than"></i>
        </div>
    </div>
  </div>
</section>
