<div class="d-flex justify-content-between" mat-dialog-title>
    <h2 mat-dialog-title>Website </h2>
    <div class="click" mat-dialog-close>
      <img src="assets/icons/x.svg" alt="" />
    </div>
  </div>
  <mat-dialog-content class="mat-typography">
    <div>
        <form [formGroup]="websiteForm">
            <div class="">
                <div formArrayName="websites">
                  <div *ngFor="let item of newForm.controls; index as i">
                    <div [formGroupName]="i">
                        <div class="row">
                          <div class="col-12">
                            <div class="form_group">
                              <label class="col-form-label"
                                  >Website Name</label
                              >
                                <input
                                    class="form-control"
                                    type="text"
                                    formControlName="website_Name"
                                    [ngClass]="{
                                        'is-invalid':
                                        (websiteForm.get('website_Name')?.errors && 
                                        websiteForm.get('website_Name')?.touched) || 
                                        (websiteForm.get('website_Name')?.hasError('required') &&
                                        websiteFormSubmitted)
                                    }"
                                />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form_group">
                            <label class="col-form-label"
                                >Website Link</label
                            >
                            <input
                                class="form-control"
                                type="text"
                                formControlName="website_Link"
                                [ngClass]="{
                                  'is-invalid':
                                    (websiteForm.get('website_Link')?.errors && 
                                    websiteForm.get('website_Link')?.touched) || 
                                    (websiteForm.get('website_Link')?.hasError('required') &&
                                    websiteFormSubmitted)
                                }"
                            />
                            </div>
                        </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </form>
    </div>
   
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      [mat-dialog-close]="false"
      class="btn btn-outline-green btn-md me-4 px-4 d-none"
      #close
    >
      No, cancel
    </button>
    <button
      class="btn btn-outline-green btn-md me-4 px-4"
      (click)="addWebsite()"
    >
      Add more
    </button>
    <button
      class="btn btn-green btn-md px-4"
      (click)="submit()"
    >
        <!-- <app-loading-button
          [text]="'Save'"
          [condition]="isLoading"
        ></app-loading-button> -->
        Save
    </button>
</mat-dialog-actions>
  