<div class="d-flex justify-content-between" mat-dialog-title>
    <h2 mat-dialog-title>Profile Picture </h2>
    <div class="click" mat-dialog-close>
      <img src="assets/icons/x.svg" alt="" />
    </div>
  </div>
  <mat-dialog-content class="mat-typography">
    <div>
      <div class="upload-btn">
        <button
          class=" btn btn-green btn-lg"
        >
          Upload Photo
        </button>
        <input
            type="file"
            name="file-1"
            id="file-1"
            accept="image/png,image/jpeg,image/jpg"
            (change)="fileChangeEvent($event)"
        />
      </div>
    </div>
    <div class="cropper-img-container d-flex justify-content-center" *ngIf="!imageCrop">
      <image-cropper
              [imageChangedEvent]="imageChangedEvent"
              [resizeToWidth]="100"
              [roundCropper]="true"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()"
              (loadImageFailed)="loadImageFailed()"
            >
      </image-cropper>
    </div>
    <div class=" d-flex justify-content-center" *ngIf="imageCrop">
      <img class="cropped-img" [src]="croppedImage" />
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      [mat-dialog-close]="false"
      class="btn btn-outline-green btn-md me-4 px-4 d-none"
      #close
    >
      No, cancel
    </button>
    <button
      class="btn btn-green btn-md px-4"
      *ngIf="!imageCrop"
      (click)="continue()"
    >
        <app-loading-button
          [text]="'Continue'"
          [condition]="isLoading"
        ></app-loading-button>
    </button>
    <button
      [mat-dialog-close]="true"
      class="btn btn-green btn-md px-4"
      *ngIf="imageCrop"
      (click)="submit()"
    >
        <app-loading-button
          [text]="'Save'"
          [condition]="isLoading"
        ></app-loading-button>
    </button>
  </mat-dialog-actions>
  