
.profile__wrapper {
    padding: 3rem 5rem;
}

.profile_title {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
}
.profile__card {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-top: 2.5rem;
    color: #fff;
    background: #fff;
    padding: 2rem 2.5rem;
}

.company-information {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 2rem 3rem;
    background: #fff;
    color: #333;
}

.profile_img {
    position: relative;
}

.profile__pix{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

input[type="file"] {
    font-size: 10rem;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.upload-btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.profile_detail {
    padding: 3.5rem 1rem 1.5rem 1.7rem;
}

.btn {
    border: none;
    padding: 10px 15px;
}

.btn-orange {
    background: #F88F09;
    color: #fff;
    border: 1px solid #F88F09;
}

.btn-danger {
    color: #EB5757;
    background: transparent;
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
}

.click {
    cursor: pointer;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.6rem;
    font-weight: normal;
}

p {
    color: #4F4F4F;
}

.edit-pen {
    color: #F88F09;
    font-size: 1.6rem;
    font-weight: 600;
}

.font-bold {
    font-weight: bold;
    color: #4F4F4F;
}

.text-grey {
    color: #828282;
}

h3 {
    font-weight: bold;
}

.form-control {
    background: #F9FAFB;
    border-radius: .6rem;
}

input[type="email"]::placeholder {
    text-transform: lowercase;
}