<div class="dg gtc3 mt10">
  <div class="g-card p10" *ngFor="let item of icomingFeedbacks">
    <div class="g-card-top df sb mb10">
      <input type="checkbox" />
      <a class="see-more">See more</a>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">employee</div>
        <div class="g-card-title">{{ item.revieweeName }}</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">Job grade</div>
        <div class="g-card-title">{{ item.jobGradeName }}</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">review period (start)</div>
        <div class="g-card-title">{{ item.startperiod | customDate }}</div>
      </div>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">office/dept</div>
        <div class="g-card-title">{{ item.officeName }}</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">company</div>
        <div class="g-card-title company-name">{{ item.companyName }}</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">review period (end)</div>
        <div class="g-card-title">{{ item.endPeriod | customDate }}</div>
      </div>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">position</div>
        <div class="g-card-title">{{ item.revieweeJobTitleName }}</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">length of service</div>
        <div class="g-card-title company-name">{{ item.lengthOfService }}</div>
      </div>
    </div>
    <div class="g-card-mid df sb">
      <table class="g-table">
        <thead>
          <tr>
            <th class="g-table-header">Category</th>
            <th class="g-table-header">comment</th>
            <th class="g-table-header">score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of item.payloads">
            <td class="g-table-row">{{ row.kpicategoryName }}</td>
            <td class="g-table-row td-comment">
              {{ row.comments }}
            </td>
            <td class="g-table-row">{{ row.scores }}%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="g-card-mid df flex-end mt20 mb10">
      <button class="gos-btn feedback-btn" (click)="addFeedback()">
        add feedback
      </button>
    </div>
  </div>
</div>
<div id="feedback_modal" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="p-3 header-bg-color mb20">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeFeedbackModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <app-others-feedback-kudos></app-others-feedback-kudos>
      </div>
    </div>
  </div>
</div>
