<!--  -->
<app-loading *ngIf="pageLoading"></app-loading>
<div *ngIf="!pageLoading" class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="col">
            <h3 class="page-title">Employees Form</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">Employee</li>
                <li class="breadcrumb-item active">Employees Form</li>
            </ul>
        </div>
    </div>
    <!-- Page Content -->
    <div class="modal-body">
        <form [formGroup]="EmployeeForm">
            <label class="col-form-label">Profile photo</label>
            <div class="cropper-flex">
                <div>
                    <input type="file" (change)="fileChangeEvent($event)" #fileInput class="crop-img-input"
                        name="photoFile" />
                    <button *ngIf='isVisible' type="button" class="edit-icon ml-5 hint" (click)="clearPhoto()">
                        <span aria-hidden="true" class="h4 font-weight-bold text-dark">&times;</span>
                        <span class="hint-text">Remove photo</span>
                    </button>
                </div>
                <!--            <button class="crop-img-btn" (click)="uploadImage()">Upload</button>-->
                <div class="cropped-img-container" data-toggle="modal" data-target="#crop_photo_modal">
                    <img *ngIf='isVisible' [src]="croppedImage" class="cropped-img" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-form-label">First Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="EmployeeForm.get('firstName').invalid && EmployeeForm.get('firstName').touched"
                            formControlName="firstName">
                        <div *ngIf="EmployeeForm.get('firstName').invalid && EmployeeForm.get('firstName').touched">
                            <small
                                *ngIf="EmployeeForm.get('firstName').invalid && EmployeeForm.get('firstName').touched"
                                class="text-danger"> *FirstName is required</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-form-label">Last Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="EmployeeForm.get('lastName').invalid && EmployeeForm.get('lastName').touched"
                            formControlName="lastName">
                        <div *ngIf="EmployeeForm.get('lastName').invalid && EmployeeForm.get('lastName').touched">
                            <small *ngIf="EmployeeForm.get('lastName').invalid && EmployeeForm.get('lastName').touched"
                                class="text-danger"> *LastName is required</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-form-label">MiddleName <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="EmployeeForm.get('middleName').invalid && EmployeeForm.get('middleName').touched"
                            formControlName="middleName">
                        <div *ngIf="EmployeeForm.get('middleName').invalid && EmployeeForm.get('middleName').touched">
                            <small
                                *ngIf="EmployeeForm.get('middleName').invalid && EmployeeForm.get('middleName').touched"
                                class="text-danger"> *MiddleName is required</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-form-label">StaffCode <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="EmployeeForm.get('staffCode').invalid && EmployeeForm.get('staffCode').touched"
                            formControlName="staffCode">
                        <div *ngIf="EmployeeForm.get('staffCode').invalid && EmployeeForm.get('staffCode').touched">
                            <small
                                *ngIf="EmployeeForm.get('staffCode').invalid && EmployeeForm.get('staffCode').touched"
                                class="text-danger"> *StaffCode is required</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-form-label">Date Of Birth <span class="text-danger">*</span></label>
                        <input class="form-control datetimepicker" type="date" bsDatepicker
                            [bsConfig]="{containerClass:'theme-orange', dateInputFormat: 'YYYY-MM-DD',  returnFocusToInput: true }"
                            [class.invalid]="EmployeeForm.get('dateOfBirth').invalid && EmployeeForm.get('dateOfBirth').touched"
                            formControlName="dateOfBirth">
                        <div *ngIf="EmployeeForm.get('dateOfBirth').invalid && EmployeeForm.get('dateOfBirth').touched">
                            <small
                                *ngIf="EmployeeForm.get('dateOfBirth').invalid && EmployeeForm.get('dateOfBirth').touched"
                                class="text-danger"> *Date is required</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Gender <span class="text-danger">*</span></label>
                        <select class="select form-control"
                            [class.invalid]="EmployeeForm.get('gender').invalid && EmployeeForm.get('gender').touched"
                            formControlName="gender">
                            <option>Select Gender</option>
                            <option>Female</option>
                            <option>Male</option>
                            <option>Not Sure</option>
                        </select>
                        <div *ngIf="EmployeeForm.get('gender').invalid && EmployeeForm.get('gender').touched">
                            <small *ngIf="EmployeeForm.get('gender').invalid && EmployeeForm.get('gender').touched"
                                class="text-danger"> *Gender is required</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-form-label">Job Title<span class="text-danger">*</span></label>
                        <select class="form-control" [class.invalid]="EmployeeForm.get('jobTitle').invalid &&
                        EmployeeForm.get('jobTitle').touched" formControlName="jobTitle">
                            <option selected value="">Select Job Title</option>
                            <option *ngFor="let row of jobTitles" value="{{row.id}}">{{row.job_title}} </option>
                        </select>
                        <div *ngIf="
                        EmployeeForm.get('jobTitle').invalid &&
                        EmployeeForm.get('jobTitle').touched">
                            <small *ngIf="
                            EmployeeForm.get('jobTitle').invalid &&
                            EmployeeForm.get('jobTitle').touched" class="text-danger"> *Field is required</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-form-label">Job Grade<span class="text-danger">*</span></label>
                        <select class="form-control" [class.invalid]="EmployeeForm.get('jobGrade').invalid &&
                        EmployeeForm.get('jobGrade').touched" formControlName="jobGrade">
                            <option selected value="">Select Job Grade</option>
                            <option *ngFor="let row of (allJobGrades$ | async)?.setuplist" value="{{row.id}}">
                                {{row.job_grade}} </option>
                        </select>
                        <div *ngIf="
                        EmployeeForm.get('jobGrade').invalid &&
                        EmployeeForm.get('jobGrade').touched">
                            <small *ngIf="
                            EmployeeForm.get('jobGrade').invalid &&
                            EmployeeForm.get('jobGrade').touched" class="text-danger"> *Field is required</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-form-label">Email <span class="text-danger">*</span></label>
                        <input class="form-control" type="email"
                            [class.invalid]="EmployeeForm.get('email').invalid && EmployeeForm.get('email').touched"
                            formControlName="email">
                        <div *ngIf="EmployeeForm.get('email').invalid && EmployeeForm.get('email').touched">
                            <small *ngIf="EmployeeForm.get('email').invalid && EmployeeForm.get('email').touched"
                                class="text-danger"> *Email is required</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-form-label">Country<span class="text-danger">*</span></label>
                        <select class="form-control" [class.invalid]="EmployeeForm.get('countryId').invalid &&
                        EmployeeForm.get('countryId').touched" formControlName="countryId"
                            (change)=getStatesByCountryId($event.target.value)>
                            <option selected value="">Country</option>
                            <option *ngFor="let row of countries" value="{{row.lookupId}}">{{row.lookupName}} </option>
                        </select>
                        <div *ngIf="
                        EmployeeForm.get('countryId').invalid &&
                        EmployeeForm.get('countryId').touched">
                            <small *ngIf="
                            EmployeeForm.get('countryId').invalid &&
                            EmployeeForm.get('countryId').touched" class="text-danger"> *Field is required</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>State<span class="text-danger">*</span></label>
                        <select class="select form-control"
                            [class.invalid]="EmployeeForm.get('stateId').invalid && EmployeeForm.get('stateId').touched"
                            formControlName="stateId">
                            <option>Select State</option>
                            <option *ngFor="let row of states" value="{{row.lookupId}}">{{row.lookupName}} </option>
                        </select>
                        <div *ngIf="EmployeeForm.get('stateId').invalid && EmployeeForm.get('stateId').touched">
                            <small *ngIf="EmployeeForm.get('stateId').invalid && EmployeeForm.get('stateId').touched"
                                class="text-danger"> *State is required</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Office/Department<span class="text-danger">*</span></label>
                        <select class="select form-control"
                            [class.invalid]="EmployeeForm.get('staffOfficeId').invalid && EmployeeForm.get('staffOfficeId').touched"
                            formControlName="staffOfficeId">
                            <option>Select Office/Department</option>
                            <option *ngFor="let row of departments" value="{{row.companyStructureId}}">{{row.name}}
                            </option>
                        </select>
                        <div
                            *ngIf="EmployeeForm.get('staffOfficeId').invalid && EmployeeForm.get('staffOfficeId').touched">
                            <small
                                *ngIf="EmployeeForm.get('staffOfficeId').invalid && EmployeeForm.get('staffOfficeId').touched"
                                class="text-danger"> *Office/Department is required</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-form-label">Staff Limit <span class="text-danger">*</span></label>
                        <input class="form-control" type="number"
                            [class.invalid]="EmployeeForm.get('staffLimit').invalid && EmployeeForm.get('staffLimit').touched"
                            formControlName="staffLimit">
                        <div *ngIf="EmployeeForm.get('staffLimit').invalid && EmployeeForm.get('staffLimit').touched">
                            <small
                                *ngIf="EmployeeForm.get('staffLimit').invalid && EmployeeForm.get('staffLimit').touched"
                                class="text-danger"> *Staff Limit is required</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-form-label">Address<span class="text-danger">*</span></label>
                        <textarea class="form-control" type="text" rows="5"
                            [class.invalid]="EmployeeForm.get('address').invalid && EmployeeForm.get('address').touched"
                            formControlName="address"></textarea>
                        <div *ngIf="EmployeeForm.get('address').invalid && EmployeeForm.get('address').touched">
                            <small *ngIf="EmployeeForm.get('address').invalid && EmployeeForm.get('address').touched"
                                class="text-danger"> *Address is required</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-form-label">Phone Number<span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="EmployeeForm.get('phoneNumber').invalid && EmployeeForm.get('phoneNumber').touched"
                            formControlName="phoneNumber">
                        <div *ngIf="EmployeeForm.get('phoneNumber').invalid && EmployeeForm.get('phoneNumber').touched">
                            <small
                                *ngIf="EmployeeForm.get('phoneNumber').invalid && EmployeeForm.get('phoneNumber').touched"
                                class="text-danger"> *Phone Number is required</small>
                        </div>
                    </div>
                </div>
            </div>
            <h5>User Credentials</h5>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-form-label">User Name<span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="EmployeeForm.get('userName').invalid && EmployeeForm.get('userName').touched"
                            formControlName="userName">
                        <div *ngIf="EmployeeForm.get('userName').invalid && EmployeeForm.get('userName').touched">
                            <small *ngIf="EmployeeForm.get('userName').invalid && EmployeeForm.get('userName').touched"
                                class="text-danger"> *User Name is required</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-form-label">Password<span class="text-danger">*</span></label>
                        <input class="form-control" type="password" formControlName="password">
                        <!-- <div
                            *ngIf="EmployeeForm.get('Password').invalid && EmployeeForm.get('Password').touched">
                            <small
                                *ngIf="EmployeeForm.get('Password').invalid && EmployeeForm.get('Password').touched"
                                class="text-danger"> *Password is required</small>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>User Role<span class="text-danger">*</span></label>
                        <ng-select [items]="roles" bindValue="roleName" bindLabel="roleName"
                            formControlName="userRoleNames" [multiple]="true" [closeOnSelect]="false"
                            placeholder="Select user role(s)">
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                                    [ngModelOptions]="{standalone: true}" /> {{item.roleName}}
                            </ng-template>
                        </ng-select>
                        <div
                            *ngIf="EmployeeForm.get('userRoleNames').invalid && EmployeeForm.get('userRoleNames').touched">
                            <small
                                *ngIf="EmployeeForm.get('userRoleNames').invalid && EmployeeForm.get('userRoleNames').touched"
                                class="text-danger"> *User Role is required</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Status<span class="text-danger">*</span></label>
                        <select class="select form-control"
                            [class.invalid]="EmployeeForm.get('userStatus').invalid && EmployeeForm.get('userStatus').touched"
                            formControlName="userStatus">
                            <option>Select Status</option>
                            <option>Enabled</option>
                            <option>Disabled</option>
                        </select>
                        <div *ngIf="EmployeeForm.get('userStatus').invalid && EmployeeForm.get('userStatus').touched">
                            <small
                                *ngIf="EmployeeForm.get('userStatus').invalid && EmployeeForm.get('userStatus').touched"
                                class="text-danger"> *Status is required</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Access<span class="text-danger">*</span></label>
                        <select class="select form-control"
                            [class.invalid]="EmployeeForm.get('accessLevelId').invalid && EmployeeForm.get('accessLevelId').touched"
                            formControlName="accessLevelId"
                            (change)=getAccessLevelsByAccessLevelId($event.target.value)>
                            <option>Select Access</option>
                            <option *ngFor="let row of access" value="{{row.structureDefinitionId}}"> {{row.definition}}
                            </option>
                        </select>
                        <div
                            *ngIf="EmployeeForm.get('accessLevelId').invalid && EmployeeForm.get('accessLevelId').touched">
                            <small
                                *ngIf="EmployeeForm.get('accessLevelId').invalid && EmployeeForm.get('accessLevelId').touched"
                                class="text-danger"> *Access is required</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Access Level<span class="text-danger">*</span></label>
                        <ng-select [items]="accessLevel" bindValue="companyStructureId" bindLabel="name"
                            formControlName="userAccessLevels" [multiple]="true" [closeOnSelect]="false"
                            placeholder="Select user Access Level">
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                                    [ngModelOptions]="{standalone: true}" /> {{item.name}}
                            </ng-template>
                        </ng-select>
                        <div
                            *ngIf="EmployeeForm.get('userAccessLevels').invalid && EmployeeForm.get('userAccessLevels').touched">
                            <small
                                *ngIf="EmployeeForm.get('userAccessLevels').invalid && EmployeeForm.get('userAccessLevels').touched"
                                class="text-danger"> *Access Level is required</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit-section">
                <button class="btn btn-primary submit-btn" type="submit" (click)="addEmployeeToHrm(EmployeeForm)">
                    <span *ngIf="!loading">Submit</span>
                    <span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></span>
                </button>
            </div>
        </form>
    </div>
</div>
<!-- Crop photo Modal -->
<div id="crop_photo_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crop Photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-dialog-centered">
                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" format="png"
                    (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                    (loadImageFailed)="loadImageFailed()"></image-cropper>
                <div class="cropped-img-container">
                    <img [src]="croppedImage" class="cropped-img" />
                </div>
            </div>
            <div class="submit-section  mt-0 mb-3">
                <button class="btn btn-primary submit-btn" type="button" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>
<!-- /Crop photo Modal -->
