<app-loading *ngIf="pageLoading"></app-loading>
<!-- Page Content -->
<div *ngIf="!pageLoading" class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Academic Grade</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Setup</a></li>
                    <li class="breadcrumb-item active">Academic Grade</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a class="btn download-btn hint"><span class="hint-text">Download</span><i
                        class="fa fa-download"></i></a>
                <a class="btn upload-btn hint" (click)="openUploadModal()"><span class="hint-text">Upload</span><i
                        class="fa fa-upload"></i></a>
                <a class="btn add-btn hint" data-toggle="modal" (click)="openModal()"><span
                        class="hint-text">Add</span><i class="fa fa-plus"></i></a>
                <a class="btn delete-btn hint" (click)="delete()"><span class="hint-text">Delete</span><i
                        class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table datatable table-hover" datatable [dtOptions]="dtOptions"
                    [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" [checked]="selectedId.length === grades.length"
                                    (change)="checkAll($event)" />
                            </th>
                            <th>S/N</th>
                            <th>Grade</th>
                            <th>Rank</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-toggle="modal" class="pointer" data-target="#edit_employee"
                            (click)="editAcademicGrade(row)"
                            *ngFor="let row of grades | filter:searchText; let i = index">
                            <td (click)="stopParentEvent($event)">
                                <input type="checkbox" [checked]="selectedId.includes(row.id)"
                                    (change)="addItemId($event, row.id)" />
                            </td>
                            <td>{{ i + 1 }}</td>
                            <td>{{ row.grade }}</td>
                            <td>{{ row.rank }}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add HMO Modal -->
<div id="add-academic-grade" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{formTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addAcademicGrade(academicGradeForm)" [formGroup]="academicGradeForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">grade<span class="text-danger">*</span></label>
                                <input class="form-control" type="text" [class.invalid]="
                                academicGradeForm.get('grade').invalid &&
                                academicGradeForm.get('grade').touched
                    " formControlName="grade" />
                                <div *ngIf="
                                academicGradeForm.get('grade').invalid &&
                                academicGradeForm.get('grade').touched
                    ">
                                    <small *ngIf="
                                    academicGradeForm.get('grade').invalid &&
                                    academicGradeForm.get('grade').touched
                      " class="text-danger">
                                        *Grade Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Rank<span class="text-danger">*</span></label>
                                <input class="form-control" type="number" min="1" [class.invalid]="
                                academicGradeForm.get('rank').invalid &&
                                academicGradeForm.get('rank').touched
                    " formControlName="rank" />
                                <div *ngIf="
                                academicGradeForm.get('rank').invalid &&
                                academicGradeForm.get('rank').touched">
                                    <small *ngIf="
                                    academicGradeForm.get('rank').invalid &&
                                    academicGradeForm.get('rank').touched
                      " class="text-danger">
                                        *Rank Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Description<span class="text-danger">*</span></label>
                                <textarea class="form-control" type="text" rows="5" [class.invalid]="
                                academicGradeForm.get('description').invalid &&
                                academicGradeForm.get('description').touched
                    " formControlName="description"></textarea>
                                <div *ngIf="academicGradeForm.get('description').invalid && academicGradeForm.get('description').touched
                    ">
                                    <small *ngIf="
                                    academicGradeForm.get('description').invalid &&
                                    academicGradeForm.get('description').touched
                      " class="text-danger">
                                        *Description Field is required</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit" (ngSubmit)="uploadAcademicGrade()" [disabled]="!loading">
                            <span *ngIf="loading">Submit</span> 
                            <span *ngIf="!loading && spinner" ><i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Employee Modal -->

<!-- Delete Employee Modal -->
<div class="modal custom-modal fade" id="delete_employee" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Employee</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a class="btn btn-primary continue-btn" (click)="deleteEmployee()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Employee Modal -->
<!-- Upload Academic Grade Modal -->
<div id="upload_academic_grade" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Academic Grade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="uploadAcademicGrade()" [formGroup]="academicGradeUploadForm">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group row">
                                <label class="col-form-label col-md-4">Choose File (excel format)</label>
                                <div class="col-md-8">
                                    <input class="form-control" name="uploadInput" id="uploadInput" type="file"
                                        (change)="onSelectedFile($event)">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Upload Academic Grade Modal -->