<div class="d-flex justify-content-between" mat-dialog-title>
    <h2 mat-dialog-title>Schedule Class </h2>
    <div class="click" mat-dialog-close>
      <img src="assets/icons/x.svg" alt="" />
    </div>
</div>
  <mat-dialog-content class="mat-typography">
    <div>
        <form [formGroup]="courseOutlineForm">
            <div class="row">
                <div class="col-12">
                    <div class="form_group mb-5">
                      <label for="" class="form-label"
                        >Session Type
                      </label>
                      <select name="" id="" class="form-select">
                          <option value="" selected></option>
                          <option [value]="type?.name" *ngFor="let type of sessionType">
                            {{ type?.name }}
                          </option>
                      </select>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form_group mb-5">
                      <label for="" class="form-label"
                        >Job Title
                      </label>
                      <input
                        type="text"
                        id="reviewers"
                        class="form-control"
                        placeholder=""
                        formControlName="section_Name"
                      />
                    </div>
                </div>
                <div class="col-12">
                    <div class="form_group mb-5">
                      <label for="" class="form-label"
                        >Job Grade
                      </label>
                      <input
                        type="text"
                        id="reviewers"
                        class="form-control"
                        placeholder=""
                        formControlName="outline_Name"
                      />
                    </div>
                </div>
                <div class="col-12">
                    <div class="form_group mb-5">
                      <label for="" class="form-label"
                        >Office
                      </label>
                      <input
                        type="text"
                        id="reviewers"
                        class="form-control"
                        placeholder=""
                        formControlName="outline_Description"
                      />
                    </div>
                </div>
                <div class="col-12">
                  <div class="form_group mb-5">
                    <label for="" class="form-label">Participants</label>
                    <input
                        id=""
                        type="text"
                        class="form-control"
                        formControlName="material_Name"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="form_group mb-5">
                    <label for="" class="form-label">Duration</label>
                    <input
                        id=""
                        type="text"
                        class="form-control"
                        formControlName="material_Name"
                    />
                  </div>
                </div>
            </div>
        </form>
    </div>
   
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      class="btn btn-outline-green btn-md me-4 px-4"
      [mat-dialog-close]="false"
      #close
    >
      Close
    </button>
    <button
      class="btn btn-green btn-md px-4"
      (click)="submit()"
    >
        Submit
    </button>
  </mat-dialog-actions>
  