<div class="courses_wrapper">
    <div class="d-flex justify-content-between">
      <h3>Training Providers</h3>
      <div class="search-wrapper ms-auto ">
        <div
          class="search-wrapper-input me-4 mb-3 form_group"
        >
          <span class="_icon">
            <img src="assets/img/search.svg" />
          </span>
          <input
            #searchQuery
            type="search"
            class="form-control mt-0"
            placeholder="Search"
          />
        </div>
      </div>
    </div>
    <div class="bg-white p-5 my-4">
        <section class="table-responsive">
            <table class="table caption-top text-nowrap">
              <ng-container>
                <thead>
                  <tr>
                    <th class="pl-5">Date</th>
                    <th>Full Name</th>
                    <th>Email Address</th>
                    <th>Description</th>
                    <th>Phone Number</th>
                  </tr>
                </thead>
              </ng-container>
              <tbody>
               
                <ng-container>
                  <tr>
                    <td>
                      <input type="checkbox">
                      <span class="pl-3"> Apr 11, 2018</span>
                    </td>
                    <td>Innocent Sample</td>
                    <td>Excel Ms Advanced</td>
                    <td>180</td>
                    <td>
                      View
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox">
                      <span class="pl-3"> Apr 11, 2018</span>
                    </td>
                    <td>Innocent Sample</td>
                    <td>Excel Ms Advanced</td>
                    <td>180</td>
                    <td>
                      View
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox">
                      <span class="pl-3"> Apr 11, 2018</span>
                    </td>
                    <td>Innocent Sample</td>
                    <td>Excel Ms Advanced</td>
                    <td>180</td>
                    <td>
                      View
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox">
                      <span class="pl-3"> Apr 11, 2018</span>
                    </td>
                    <td>Innocent Sample</td>
                    <td>Excel Ms Advanced</td>
                    <td>180</td>
                    <td>
                      View
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox">
                      <span class="pl-3"> Apr 11, 2018</span>
                    </td>
                    <td>Innocent Sample</td>
                    <td>Excel Ms Advanced</td>
                    <td>180</td>
                    <td>
                      View
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox">
                      <span class="pl-3"> Apr 11, 2018</span>
                    </td>
                    <td>Innocent Sample</td>
                    <td>Excel Ms Advanced</td>
                    <td>180</td>
                    <td>
                      View
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox">
                      <span class="pl-3"> Apr 11, 2018</span>
                    </td>
                    <td>Innocent Sample</td>
                    <td>Excel Ms Advanced</td>
                    <td>180</td>
                    <td>
                      View
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox">
                      <span class="pl-3"> Apr 11, 2018</span>
                    </td>
                    <td>Innocent Sample</td>
                    <td>Excel Ms Advanced</td>
                    <td>180</td>
                    <td>
                      View
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox">
                      <span class="pl-3"> Apr 11, 2018</span>
                    </td>
                    <td>Innocent Sample</td>
                    <td>Excel Ms Advanced</td>
                    <td>180</td>
                    <td>
                      View
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </section>
    </div>
</div>