<div class="courses_wrapper">
    <div class="d-flex justify-content-between">
      <h3>Training Providers</h3>
      <div class="search-wrapper ms-auto ">
        <div
          class="search-wrapper-input me-4 mb-3 form_group"
        >
          <span class="_icon">
            <img src="assets/img/search.svg" />
          </span>
          <input
            #searchQuery
            type="search"
            class="form-control mt-0"
            placeholder="Search"
          />
        </div>
      </div>
    </div>
    <div class="bg-white p-5 my-4">
      <div class="dashboard table-responsive p-3">
        <table class="table table-striped text-nowrap" datatable [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th>
                <input
                  type="checkbox"
                  (change)="checkUncheckAll()"
                  [(ngModel)]="isCheck"
                  class=""
                />
                <span class="px-3">Date</span>
              </th>
              <th>Full Name</th>
              <th>Email Address</th>
              <th>Description</th>
              <th>Phone Number</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trainee of [1,2,3,4,5], index as i">
              <th scope="row">
                <label
                  class="check-container mb-4"
                  for="checkbox{{ i }}"
                >
                  <input
                    (click)="selectDeselectTrainee(trainee)"
                    type="checkbox"
                    id="checkbox{{ i }}"
                    [(ngModel)]="asset.isSelected"
                    class="checkbox"
                  />
                  <span class="checkmark"></span>
                </label>
                <span class="px-3">Apr 11, 2018</span>
              </th>
              <td> Innocent Sample </td>
              <td> Excel Ms Advanced </td>
              <td> 180 </td>
              <td> View </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>