<div class="d-flex justify-content-between" mat-dialog-title>
    <h2 mat-dialog-title>Paticipant(s)</h2>
    <div class="click" mat-dialog-close>
      <img src="assets/icons/x.svg" alt="" />
    </div>
</div>
  <mat-dialog-content class="mat-typography">
    <div>
        <div class="table-responsive bg-white">
            <table class="table caption-top text-nowrap" datatable>
              <ng-container>
                <thead class="bg-white">
                  <tr>
                    <th><input type="checkbox" name="" id=""></th>
                    <th>Participant Name</th>
                    <th>Email Address</th>
                    <th>Phone Number</th>
                    <th>Delivery Type</th>
                    <th>Status</th>
                    <th>Learning Assessment Score</th>
                    <th>Competence Assessment Score</th>
                  </tr>
                </thead></ng-container
              >
              <tbody>
                <ng-container>
                  <tr class="text-capitalize" *ngFor="let leave of [1,2,3,4,5,6,7]">
                    <td><input type="checkbox" name="" id=""></td>
                    <td>Innocent Sample</td>
                    <td>sample@email.com</td>
                    <td>08167534260</td>
                    <td>Classroon</td>
                    <td>
                        <span class="badge bg-success">Completed</span>
                    </td>
                    <td>80</td>
                    <td>90</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
    </div>
   
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      class="btn btn-outline-green btn-md me-4 px-4"
    >
      Attended
    </button>
    <button
      class="btn btn-green btn-md px-4"
      (click)="submit()"
    >
        <app-loading-button
          [text]="'Upload Participants'"
          [condition]="isLoading"
        ></app-loading-button>
    </button>
  </mat-dialog-actions>
  