<app-loading *ngIf="pageLoading"></app-loading>
<div *ngIf="!pageLoading" class="content container-fluid">
    <!--Page Header starts  -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Appraisal Feedback</h3>
            </div>

        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-nowrap table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" [checked]="selectedId.length === appraisalFeedbacks.length"
                            (change)="checkAll($event)" />
                    </th>
                    <th>S/N</th>
                    <th>Review Period</th>
                    <th>Job Title</th>
                    <th>Job Grade</th>
                    <th>Submitted for Review</th>
                    <th>Review Cycle Status</th>
                    <th>Due Date</th>
                    <th>Final Comment</th>

                </tr>
            </thead>
            <tbody>
                <tr data-toggle="modal" class="pointer" data-target="#appraisal_feedback_modal" (click)="edit(row)"
                    *ngFor="let row of hack(appraisalFeedbacks); let i = index">
                    <td (click)="stopParentEvent($event)">
                        <input type="checkbox" [checked]="selectedId.includes(row.id)"
                            (change)="addItemId($event, row.id)" />
                    </td>
                    <td>{{i +1}}</td>
                    <td><a
                            [routerLink]="['/performance/setup/appraisal-feedback-page', row.id]"></a>{{row.reviewPeriod}}
                    </td>
                    <td>{{row.jobTitleName}}</td>
                    <td>{{row.jobGradeName}}</td>
                    <td>{{row.submittedForReview}}</td>
                    <td>{{row.reviewStatusName}}</td>
                    <td>{{row.dueDate}}</td>
                    <td>{{row.comment}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>