<div class="content container-fluid">
  <!--Page Header starts  -->
  <div class="page-header content-wrapper">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Appraisal Feedback</h3>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <p-table
      class="table table-nowrap table-hover"
      [value]="appraisalFeedbacks"
    >
      <ng-template pTemplate="header">
        <tr>
          <!--          <th class="table-checkbox">-->
          <!--            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
          <!--          </th>-->
          <!--          <th class="sn_width">S/N</th>-->
          <th style="width: 210px; text-align: center">Review Period</th>
          <th>Job Title</th>
          <th>Job Grade</th>
          <th>Submitted for Review</th>
          <th>Review Cycle Status</th>
          <th>Due Date</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr class="pointer">
          <!--          <td (click)="stopParentEvent($event)">-->
          <!--            <p-tableCheckbox [value]="row"></p-tableCheckbox>-->
          <!--          </td>-->
          <!--          <td class="sn_width">{{ i + 1 }}</td>-->
          <td style="width: 210px" (click)="viewFeedback(row)">
            {{ row.reviewPeriod }}
          </td>
          <td>
            {{ row.jobTitle | titlecase }}
          </td>
          <td>
            {{ row.jobGrade }}
          </td>
          <td>
            {{ row.submittedForReview }}
          </td>
          <td>
            {{ row.reviewCycle }}
          </td>
          <td>
            {{ row.dueDate }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
