<app-loading *ngIf="pageLoading"></app-loading>
<div *ngIf="!pageLoading" class="content container-fluid">
    <!--Page Header starts  -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Appraisal Feedback</h3>
            </div>

            <div class="col-auto float-right ml-auto">
                <a class="btn delete-btn hint" (click)="delete()"><span class="hint-text">Delete</span><i
                        class="fa fa-trash"></i></a>
                <a class="btn download-btn hint" (click)="downloadFile()" download><span
                        class="hint-text">Download</span><i class="fa fa-download"></i></a>
                <a routerLink='/performance/setup/appraisal-feedback/appraisal-feedback-page'
                    routerLinkActive="router-link-active" class="btn add-btn hint" data-toggle="modal"
                    data-target="#appraisal_feedback_modal"><span class="hint-text">Add
                    </span><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-nowrap table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" [checked]="selectedId.length === appraisalFeedbacks.length"
                            (change)="checkAll($event)" />
                    </th>
                    <th>S/N</th>
                    <th>Review Period</th>
                    <th>Job Title</th>
                    <th>Job Grade</th>
                    <th>Submitted for Review</th>
                    <th>Review Cycle Status</th>
                    <th>Due Date</th>
                    <th>Final Comment</th>

                </tr>
            </thead>
            <tbody>
                <tr data-toggle="modal" class="pointer" data-target="#appraisal_feedback_modal" (click)="edit(row)"
                    *ngFor="let row of hack(appraisalFeedbacks); let i = index">
                    <td (click)="stopParentEvent($event)">
                        <input type="checkbox" [checked]="selectedId.includes(row.id)"
                            (change)="addItemId($event, row.id)" />
                    </td>
                    <td>{{i +1}}</td>
                    <td>{{row.reviewPeriod}}</td>
                    <td>{{row.startTitle}}</td>
                    <td>{{row.jobGrade}}</td>
                    <td>{{row.submittedForReview}}</td>
                    <td>{{row.reviewCycleStatus}}</td>
                    <td>{{row.dueDate}}</td>
                    <td>{{row.finalComment}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>