<div class="content container-fluid">
  <!-- page Header Start -->
  <div class="card">
    <div class="card-header header-bg-color">
      <h5><b>Appraisal Objectives </b></h5>
    </div>
    <div class="card-body" style="padding: 2rem">
      <div class="row">
        <div class="col-auto float-right ml-auto">
          <span class="mr-1">
            <select class="appraisal-select">
              <option>2020</option>
              <option>2021</option>
            </select>
          </span>
          <a class="btn delete-btn hint"
            ><span class="hint-text">Delete</span><i class="fa fa-trash"></i
          ></a>

          <a
            class="btn add-btn hint"
            routerLink="/performance/appraisal-objective-form"
            data-target="#add_appraisal_objectives"
            ><span class="hint-text">Add</span><i class="fa fa-plus"></i>
          </a>
        </div>
        <p-table
          class="table table-striped custom-table datatable table-hover"
          [value]="employeeAppraialCycle"
        >
          <ng-template pTemplate="header">
            <tr>
              <th class="table-checkbox">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th>Review Year</th>
              <th>Review Period</th>
              <th>Manager</th>
              <th>Review Status</th>
              <th>Status</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr (click)="viewCycle(item)" style="cursor: pointer">
              <td class="table-checkbox">
                <p-tableCheckbox [value]="item"></p-tableCheckbox>
              </td>
              <td>{{ item.reviewYear }}</td>
              <td>{{ item.reviewPeriod }}</td>
              <td>{{ item.lineManagerName | titlecase }}</td>
              <td>{{ item.reviewStatus }}</td>
              <td>{{ item.status }}</td>
            </tr>
          </ng-template>
          <tbody></tbody>
        </p-table>
      </div>
    </div>
  </div>
</div>
