<!--<div class="content container-fluid">
  &lt;!&ndash; page Header Start &ndash;&gt;
  <div class="card" style="margin-top: 3rem">
    <div class="card-header header-bg-color">
      <h5><b>Appraisal Objectives </b></h5>
    </div>
    <div class="card-body" style="padding: 2rem">
      <div class="row">
        <div class="col-auto float-right ml-auto">
          <span class="mr-1">
            <select
              class="appraisal-select"
              (change)="filter($event.target.value)"
            >
              <option value="">Filter by review year</option>
              <option
                *ngFor="let year of reviewYears$ | async"
                value="{{ year.reviewYear }}"
              >
                {{ year.reviewYear }}
              </option>
            </select>
          </span>
          <a class="btn delete-btn hint"
            ><span class="hint-text">Delete</span><i class="fa fa-trash"></i
          ></a>

          <a
            class="btn add-btn hint"
            (click)="addObjective()"
            data-target="#add_appraisal_objectives"
            ><span class="hint-text">Add</span><i class="fa fa-plus"></i>
          </a>
        </div>
        <p-table
          class="table table-striped custom-table datatable table-hover"
          [value]="employeeAppraisalCycle"
        >
          <ng-template pTemplate="header">
            <tr>
              <th class="table-checkbox">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th>Review Year</th>
              <th>Review Period</th>
              <th>Manager</th>
              <th>Review Status</th>
              <th>Status</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr (click)="viewCycle(item)" style="cursor: pointer">
              <td class="table-checkbox">
                <p-tableCheckbox
                  (click)="stopParentEvent($event)"
                  [value]="item"
                ></p-tableCheckbox>
              </td>
              <td>{{ item.reviewYear }}</td>
              <td>{{ item.reviewPeriod }}</td>
              <td>{{ item.lineManagerName | titlecase }}</td>
              <td>{{ item.reviewStatusName | titlecase }}</td>
              <td>{{ item.statusName | titlecase }}</td>
            </tr>
          </ng-template>
          <tbody></tbody>
        </p-table>
      </div>
    </div>
  </div>
</div>-->
<div class="df sb">
  <ul class="gos-breadcrumb">
    <li><a href="#">employee</a></li>
    <li><a href="#">performance</a></li>
  </ul>
  <!-- <div class="df sb">
    <button class="g-btn gos-btn-secondary mr10">Delete Request</button>
    <button class="g-btn gos-btn-primary">Add Request</button>
  </div> -->
</div>
<div>
  <!--  <ul class="df g-list-none">-->
  <!--    <li class="tab-item p10">-->
  <!--      <a href="#" class="tab-link g-link">Self Assessment</a>-->
  <!--    </li>-->
  <!--    <li class="tab-item p10">-->
  <!--      <a href="#" class="tab-link g-link">360</a>-->
  <!--    </li>-->
  <!--    <li class="tab-item p10">-->
  <!--      <a href="#" class="tab-link g-link">Career</a>-->
  <!--    </li>-->
  <!--  </ul>-->
  <p-tabView [activeIndex]="activeIndex" (onChange)="tabChange($event)">
    <p-tabPanel header="Self Assessment">
      <div class="df fd-column">
        <div class="ml-auto df center-align">
          <button
            class="btn btn-primary text-capitalize"
            (click)="openPortal()"
          >
            copy objectives to new period
          </button>
          <div class="mr-1">
            <select
              class="appraisal-select"
              (change)="filter($event.target.value)"
            >
              <option value="">Filter by review year</option>
              <option value="1">All</option>
              <option
                *ngFor="let year of reviewYears$ | async"
                value="{{ year.reviewYear }}"
              >
                {{ year.reviewYear }}
              </option>
            </select>
          </div>
          <a
            class="btn add-btn hint"
            (click)="addObjective()"
            data-target="#add_appraisal_objectives"
            ><span class="hint-text">Add</span><i class="fa fa-plus"></i>
          </a>
          <a class="btn delete-btn hint" (click)="deleteObjective()"
            ><span class="hint-text">Delete</span><i class="fa fa-trash"></i
          ></a>
        </div>
        <div class="dg gtc3">
          <div class="g-card p10" *ngFor="let item of employeeAppraisalCycle">
            <div class="g-card-top df sb mb10">
              <input
                type="checkbox"
                [checked]="selectedId.includes(item.id)"
                (change)="addItemId($event, item.id)"
              />
              <div class="dropdown">
                <i
                  class="fa fa-ellipsis-v ellipsis-dropdown"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-hidden="true"
                >
                </i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a
                    class="dropdown-item p10 dropdown__link"
                    (click)="viewObjective(item)"
                    >Objective</a
                  >
                  <a
                    class="dropdown-item p10 dropdown__link"
                    (click)="getAppraisalStatus(item)"
                    >Feedback</a
                  >
                  <a
                    class="dropdown-item p10 dropdown__link"
                    (click)="showScheduleForm(item.employeePerformId)"
                    >Schedule Coaching</a
                  >
                  <a
                    class="dropdown-item p10 dropdown__link"
                    (click)="viewSchedule()"
                    >View Coaching Schedule</a
                  >
                  <!--<a class="dropdown-item p10 dropdown__link" href="#"
                    >End Cycle</a
                  >-->
                </div>
              </div>
              <!--            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>-->
            </div>
            <div class="g-card-mid df sb">
              <div class="card-mid-item pt10 pb10">
                <div class="g-card-label">employee</div>
                <div class="g-card-title">{{ item.employeeName }}</div>
              </div>
              <div class="card-mid-item pt10 pb10">
                <div class="g-card-label">years in the position</div>
                <div class="g-card-title">{{ item.year_In_Position }}</div>
              </div>
              <div class="card-mid-item pt10 pb10">
                <div class="g-card-label">reviewer 1</div>
                <div class="g-card-title">{{ item.firstReviewerName }}</div>
              </div>
            </div>
            <div class="g-card-mid df sb">
              <div class="card-mid-item pt10 pb10">
                <div class="g-card-label">position</div>
                <div class="g-card-title">{{ item.position | titlecase }}</div>
              </div>
              <div class="card-mid-item pt10 pb10">
                <div class="g-card-label">years in the company</div>
                <div class="g-card-title">{{ item.year_In_Company }}</div>
              </div>
              <div class="card-mid-item pt10 pb10">
                <div class="g-card-label">reviewer 2</div>
                <div class="g-card-title">{{ item.secondReviewerName }}</div>
              </div>
            </div>
            <div class="g-card-mid df sb">
              <div class="card-mid-item pt10 pb10">
                <div class="g-card-label">company</div>
                <div class="g-card-title">
                  {{ item.companyName | titlecase }}
                </div>
              </div>
              <div class="card-mid-item pt10 pb10">
                <div class="g-card-label">status</div>
                <div class="g-card-title">
                  {{ item.reviewStatusName | titlecase }}
                </div>
              </div>
              <div class="card-mid-item pt10 pb10">
                <div class="g-card-label">review period(start)</div>
                <div class="g-card-title">{{ item.startDate | date }}</div>
              </div>
            </div>
            <div class="g-card-mid df flex-end">
              <div class="card-mid-item pt10 pb10">
                <div class="g-card-label">feedback status</div>
                <div class="g-card-title"></div>
              </div>
              <div class="card-mid-item pt10 pb10">
                <div class="g-card-label">review period(end)</div>
                <div class="g-card-title">{{ item.endDate }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="360">
      <app-threesixty-appraisals
        *ngIf="activeIndex == 1"
      ></app-threesixty-appraisals>
    </p-tabPanel>
    <p-tabPanel header="Feedback Kudos">
      <app-feedback-kudos *ngIf="activeIndex == 2"></app-feedback-kudos>
    </p-tabPanel>
  </p-tabView>
</div>
<div id="schedlule_modal" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Schedule Coaching Session</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeScheduleModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="scheduleForm">
          <div class="row row-flex">
            <div class="col-md-12">
              <div class="form-group">
                <label>Reviewer Name</label>
                <select
                  name="reviewerName"
                  class="form-control"
                  formControlName="reviewerId"
                >
                  <option value="" disabled>Select Reviewer</option>
                  <option
                    *ngFor="let emp of reviewers$ | async"
                    [value]="emp.reviewerId"
                  >
                    {{ emp.reviewerName | titlecase }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="scheduleDate">Date</label>
                <input
                  type="date"
                  id="scheduleDate"
                  name="scheduleDate"
                  class="form-control"
                  formControlName="date"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="time">Time</label>
                <input
                  type="time"
                  id="time"
                  class="form-control"
                  formControlName="time"
                  name="time"
                  (change)="onTimeChange($event.target.value)"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="objectives">Performance Objectives</label>
                <!--    <select
                  name="objectives"
                  class="form-control"
                  id="objectives"
                  [(ngModel)]="objective"
                >
                  <option value="" disabled>None Selected</option>
                  <option
                    *ngFor="let item of appraisalFeedbacks"
                    [value]="item.employeeObjectiveIdicatorId"
                  >
                    {{ item.kpiObjectives | titlecase }}
                  </option>
                </select>-->
                <div class="col-md-4" style="padding-left: 0">
                  <ng-select
                    [items]="objectives"
                    [multiple]="true"
                    bindValue="id"
                    bindLabel="label"
                    formControlName="objectiveId"
                    [searchable]="true"
                    [closeOnSelect]="false"
                    placeholder="Select Objective"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <input
                        id="item-{{ index }}"
                        type="checkbox"
                        [ngModel]="item$.selected"
                        [ngModelOptions]="{ standalone: true }"
                      />
                      {{ item.label }}
                    </ng-template>
                  </ng-select>
                  <!--                  <p-multiSelect-->
                  <!--                    [options]="appraisalFeedbacks"-->
                  <!--                    [(ngModel)]="objective"-->
                  <!--                    optionLabel="name"-->
                  <!--                    defaultLabel="Select Objective"-->
                  <!--                  ></p-multiSelect>-->
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="scheduleComment">Comment</label>
                <textarea
                  type="text"
                  id="scheduleComment"
                  class="form-control resize"
                  formControlName="comment"
                  name="scheduleComment"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="submit-section">
            <button
              class="btn btn-primary submit-btn"
              type="submit"
              (click)="submitSchedule(scheduleForm)"
            >
              <span>Save</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="copy_modal" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Copy Objectives</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closePortal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row" style="padding: 15px">
            <div class="col-md-12">
              <div class="form-group">
                <label for="source">Source</label>
                <select
                  name="reviewYear"
                  id="source"
                  class="form-control"
                  [(ngModel)]="appraisalcycleId"
                >
                  <option value="" disabled>--Select--</option>
                  <option
                    *ngFor="let row of periods$ | async"
                    [value]="row.appraisalCycleId"
                  >
                    {{ row.period }}
                  </option>
                </select>
              </div>
            </div>
            <!--  <div class="col-md-12">
              <div class="form-group">
                <label for="source">Target</label>
                <select
                  name="period"
                  id="target"
                  class="form-control"
                  [(ngModel)]="period"
                >
                  <option value="" disabled>&#45;&#45;Select&#45;&#45;</option>
                  <option
                    *ngFor="let row of openPeriod"
                    value="{{ row.period }}"
                  >
                    {{ row.period }}
                  </option>
                </select>
              </div>
            </div>-->
            <div
              style="margin-top: 20px; display: flex; justify-content: center"
            >
              <button
                style="
                  background: #f88f09;
                  color: #fff;
                  border: 1px solid #f88f09;
                  height: 40px;
                  padding: 10px;
                  width: 120px;
                  margin-right: 10px;
                  border-radius: 4px;
                "
                (click)="copyObjectives()"
              >
                Copy
              </button>
              <button
                style="
                  background: tomato;
                  color: #fff;
                  border: 1px solid tomato;
                  height: 40px;
                  padding: 10px;
                  width: 120px;
                  border-radius: 4px;
                "
                (click)="closePortal()"
              >
                Close
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
