<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="click" *ngIf="loggedInUser.customerTypeId == 3" routerLink="/home">
      <img id="logo" style="width: 70%;" src="assets/images/GOSHRM-logo.svg" alt="">
    </div>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <div class="search-wrapper ms-auto ">
            <div
              class="search-wrapper-input mb-3 form_group"
            >
              <span class="_icon">
                <img src="assets/icons/search.svg" />
              </span>
              <input
                #searchQuery
                type="search"
                class="form-control mt-0"
                placeholder="Search"
              />
            </div>
          </div>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span>{{ user }} |</span>
            <img class="nav-img mx-3" src="assets/images/profile-img.svg" alt="">
            <span>{{ loggedInUser?.full_Name }}</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" 
                routerLink="/profile" 
                routerLinkActive="router-link-active" 
              >Personal Information</a>
            </li>
            <li *ngIf="loggedInUser.customerTypeId == 3">
              <a class="dropdown-item" 
                routerLink="/communication/messages" 
                routerLinkActive="router-link-active" 
              >Messages</a>
            </li>
            <li *ngIf="loggedInUser.customerTypeId == 3">
              <a class="dropdown-item" 
                routerLink="/running-courses" 
                routerLinkActive="router-link-active" 
              >Running Courses</a>
            </li>
            <li *ngIf="loggedInUser.customerTypeId == 3">
              <a class="dropdown-item" 
                routerLink="/security" 
                routerLinkActive="router-link-active" 
              >Security</a>
            </li>
             <li>
               <a class="dropdown-item click" 
                (click)="logout()"
                >Logout</a>
              </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>