<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="search-wrapper ms-auto ">
            <div
              class="search-wrapper-input mb-3 form_group"
            >
              <span class="_icon">
                <img src="assets/icons/search.svg" />
              </span>
              <input
                #searchQuery
                type="search"
                class="form-control mt-0"
                placeholder="Search"
              />
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span>Admin |</span>
            <img class="nav-img mx-3" src="assets/images/profile-img.svg" alt="">
            <span>Innocent Sample</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngIf="loggedInUser.customerTypeId == 1">
              <a class="dropdown-item" 
                routerLink="training-provider/profile" 
                routerLinkActive="router-link-active" 
              >Profile</a>
            </li>
            <li *ngIf="loggedInUser.customerTypeId == 2">
              <a class="dropdown-item" 
                routerLink="training-instructor/profile" 
                routerLinkActive="router-link-active" 
              >Profile</a>
            </li>
             <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>