<div>
    <div class="card profile-box flex-fill">
        <div class="card-body">
            <h3 class="card-title">Hobbies<a class="edit-icon hint" (click)="delete()"><span
                        class="hint-text">Delete</span><i class="fa fa-trash"></i></a>
                <a *ngIf="dataFromParent.isHr" class="edit-icon hint mr-1" (click)="downloadFile()" download><span
                        class="hint-text">Download</span><i class="fa fa-download"></i></a>
                <a *ngIf="dataFromParent.canSeeProfileElement" (click)="initHobbyForm()" class="hint edit-icon mr-1"
                    data-toggle="modal" data-target="#hobby_modal"><span class="hint-text">Add </span><i
                        class="fa fa-plus"></i></a>
            </h3>
            <div class="table-responsive">
                <table class="table table-nowrap table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" [checked]="selectedId.length === employeeHobby.length"
                                    (change)="checkAll($event)" />
                            </th>
                            <th>S/N</th>
                            <th>Name of Hobby</th>
                            <th>Rating</th>
                            <th>Description</th>
                            <th>Approval Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-toggle="modal" class="pointer" data-target="#hobby_modal" (click)="edit(row)"
                            *ngFor="let row of hack(employeeHobby); let i = index">
                            <td (click)="stopParentEvent($event)">
                                <input type="checkbox" [checked]="selectedId.includes(row.id)"
                                    (change)="addItemId($event, row.id)" />
                            </td>
                            <td>{{i +1}}</td>
                            <td>{{row.hobbyName}}</td>
                            <td>
                                <rating [max]="5" [(ngModel)]="row.rating"
                                    [titles]="['Poor','Below Average','Average','Above Average','Excellent']"
                                    [readonly]="true">
                                </rating>
                            </td>
                            <td>{{row.description}}</td>
                            <td>{{row.approval_status_name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Hobby Modal -->
<div id="hobby_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{cardFormTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="submitHobbyForm(hobbyForm)" [formGroup]="hobbyForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Hobbies</label>
                                <input type="text" class="form-control" [class.invalid]="
                                hobbyForm.get('hobbyName').invalid &&
                                hobbyForm.get('hobbyName').touched" formControlName="hobbyName">
                                <div *ngIf="
                                hobbyForm.get('hobbyName').invalid &&
                                hobbyForm.get('hobbyName').touched
                    ">
                                    <small *ngIf="
                                    hobbyForm.get('hobbyName').invalid &&
                                    hobbyForm.get('hobbyName').touched
                      " class="text-danger"> *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" [class.invalid]="
                                hobbyForm.get('description').invalid &&
                                hobbyForm.get('description').touched" formControlName="description">
                                <div *ngIf="
                                hobbyForm.get('description').invalid &&
                                hobbyForm.get('description').touched
                    ">
                                    <small *ngIf="
                                    hobbyForm.get('description').invalid &&
                                    hobbyForm.get('description').touched
                      " class="text-danger"> *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Rating</label>
                                <rating [max]="5" class="form-control" [class.invalid]="
                                hobbyForm.get('rating').invalid &&
                                hobbyForm.get('rating').touched" formControlName="rating"></rating>
                                <div *ngIf="
                                hobbyForm.get('rating').invalid &&
                                hobbyForm.get('rating').touched
                    ">
                                    <small *ngIf="
                                    hobbyForm.get('rating').invalid &&
                                    hobbyForm.get('rating').touched
                      " class="text-danger"> *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Approval Status</label>
                                <select class="form-control" [class.invalid]="
                                hobbyForm.get('approvalStatus').invalid &&
                                hobbyForm.get('approvalStatus').touched" formControlName="approvalStatus">
                                    <option selected value="">Select Status</option>
                                    <option value="1">Approve</option>
                                    <option value="2">Pending</option>
                                    <option value="3">Decline</option>
                                </select>
                                <div *ngIf="
                                hobbyForm.get('approvalStatus').invalid &&
                                hobbyForm.get('approvalStatus').touched
                    ">
                                    <small *ngIf="
                                    hobbyForm.get('approvalStatus').invalid &&
                                    hobbyForm.get('approvalStatus').touched
                      " class="text-danger"> *Field is required</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit" [disabled]="spinner">
                            <span *ngIf="!spinner">Submit</span>
                            <span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Hobby Modal -->
