<div class="d-flex justify-content-between" mat-dialog-title>
    <h2 mat-dialog-title>Add New Question </h2>
    <div class="click" mat-dialog-close>
      <img src="assets/icons/x.svg" alt="" />
    </div>
</div>
  <mat-dialog-content class="mat-typography">
    <div>
        <div class="row" *ngIf="data.isEditing">
            <div class="col-12">
                <div class="form_group mb-5">
                  <label for="" class="form-label"
                    >Course Title
                  </label>
                  <ng-select 
                    [items]="courses" 
                    bindLabel="training_Name"
                    [(ngModel)]="course"
                    [multiple]="false"
                    (change)="changeQuestion()"
                    >
                    </ng-select>
                </div>
            </div>
            <div class="col-12">
                <div class="form_group mb-5">
                  <label for="" class="form-label"
                    >Delivery Type
                  </label>
                  <input
                    type="text"
                    id="reviewers"
                    class="form-control"
                    [placeholder]="course?.delivery_Type ? course?.delivery_Type : ''"
                    [readonly]="true"
                  />
                </div>
            </div>
            <div class="col-12">
                <div class="form_group mb-5">
                  <label for="" class="form-label"
                    >Session Type
                  </label>
                  <input
                    type="text"
                    id="reviewers"
                    class="form-control"
                    [placeholder]="course?.scheduleType ? course?.scheduleType : ''"
                    [readonly]="true"
                  />
                </div>
            </div>
        </div>
        <form [formGroup]="questionForm">
            <div class="row">
                <div class="col-12">
                    <div class="form_group mb-5">
                      <label for="" class="form-label"
                        >Conversation
                      </label>
                     <textarea 
                        name="" 
                        id="" cols="30" 
                        rows="10"
                        class="form-control"
                        formControlName="comment"
                    ></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
   
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      [mat-dialog-close]="false"
      class="btn btn-outline-green btn-md me-4 px-4 d-none"
      #close
    >
      Done
    </button>
    <button
      class="btn btn-green btn-md px-4"
      (click)="submit()"
    >
        <app-loading-button
          [text]="'Continue'"
          [condition]="isLoading"
        ></app-loading-button>
    </button>
  </mat-dialog-actions>
  