<div class="content container-fluid" style="padding-bottom: 0">
  <!-- Page Header Starts -->
  <div id="add_appraisal_objectives">
    <div class="card">
      <div class="card-header header-bg-color">
        <h3><b>Performance Objective </b></h3>
      </div>

      <br />
      <div class="col-auto float-right ml-auto">
        <a class="btn delete-btn hint" (click)="revokeAndDisagree()"
          ><span class="hint-text">Disagree</span
          ><i class="fa fa-thumbs-o-down" aria-hidden="true"></i
        ></a>
        <a class="btn hint" (click)="saveComment()"
          ><span class="hint-text">Save Comment</span
          ><i class="fa fa-floppy-o" aria-hidden="true"></i>
        </a>
        <a class="btn hint" routerLink="/performance/appraisal-objective-view"
          ><span class="hint-text">Back</span><i class="fa fa-backward"></i
        ></a>
        <a class="btn hint" (click)="revokeAndDisagree()"
          ><span class="hint-text">Revoke</span>
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <a class="btn add-btn hint" (click)="confirm()"
          ><span class="hint-text">Discussed and agreed</span
          ><i class="fa fa-thumbs-up" aria-hidden="true"></i>
        </a>
      </div>

      <div class="card-body">
        <form [formGroup]="appraisalObjectiveForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Review year</label>
                <select
                  class="form-control"
                  formControlName="reviewYear"
                  disabled
                >
                  <option selected value="">Review Year</option>
                  <option
                    *ngFor="let row of appraisalCycles"
                    value="{{ row.reviewYear }}"
                  >
                    {{ row.reviewYear }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Review Period</label
                ><select
                  class="form-control"
                  formControlName="reviewPeriod"
                  disabled
                >
                  <option selected value="">Review Period</option>
                  <option
                    *ngFor="let row of appraisalCycles"
                    value="{{ row.reviewPeriod }}"
                  >
                    {{ row.reviewPeriod }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Employee Name<span class="text-danger">*</span></label>
                <input
                  class="form-control"
                  [attr.disabled]="true"
                  type="text"
                  formControlName="staffName"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Job Grade <span class="text-danger">*</span></label>
                <input
                  class="form-control"
                  [attr.disabled]="true"
                  type="text"
                  formControlName="job_Grade"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Job Title <span class="text-danger">*</span></label>
                <input
                  class="form-control"
                  [attr.disabled]="true"
                  type="text"
                  formControlName="job_title"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header header-bg-color">
                  <h5><b> Line Manager Detail</b></h5>
                </div>
                <div class="card-body">
                  <div>
                    <label>Name <span class="text-danger">*</span></label>
                    <input
                      class="form-control"
                      [attr.disabled]="true"
                      type="text"
                      formControlName="line_ManagerName"
                    />
                  </div>
                  <div>
                    <label>Comments <span class="text-danger">*</span></label>
                    <textarea
                      class="form-control"
                      type="text"
                      rows="5"
                      formControlName="comment"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card">
                <div class="card-header header-bg-color">
                  <h5><b>Performance Reviewer</b></h5>
                </div>
                <div class="card-body">
                  <div>
                    <label>
                      First Reviewer <span class="text-danger">*</span></label
                    >
                    <input
                      class="form-control"
                      [attr.disabled]="true"
                      type="text"
                      formControlName="first_Level_ReviewerName"
                    />
                  </div>
                  <div>
                    <label> Second Reviewer </label
                    ><input
                      class="form-control"
                      [attr.disabled]="true"
                      type="text"
                      formControlName="second_Level_ReviewerName"
                    />
                  </div>
                  <div>
                    <label>Third Reviewer</label
                    ><input
                      class="form-control"
                      [attr.disabled]="true"
                      type="text"
                      formControlName="third_Level_ReviewerName"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-appraisal-objectives
  [objectiveId]="objectiveId"
  [fromLineManager]="true"
></app-appraisal-objectives>
