<!--<div class="content container-fluid" style="padding-bottom: 0">
  &lt;!&ndash; Page Header Starts &ndash;&gt;
  <div id="add_appraisal_objectives">
    <div class="card">
      <div class="card-header header-bg-color">
        <h3><b>Performance Objective </b></h3>
      </div>

      <br />
      <div class="col-auto float-right ml-auto">
        <a class="btn delete-btn hint" (click)="revokeAndDisagree()"
          ><span class="hint-text">Disagree</span
          ><i class="fa fa-thumbs-o-down" aria-hidden="true"></i
        ></a>
        <a class="btn hint" (click)="saveComment()"
          ><span class="hint-text">Save Comment</span
          ><i class="fa fa-floppy-o" aria-hidden="true"></i>
        </a>
        <a class="btn hint" (click)="location.back()"
          ><span class="hint-text">Back</span><i class="fa fa-backward"></i
        ></a>
        <a class="btn hint" (click)="revokeAndDisagree()"
          ><span class="hint-text">Revoke</span>
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <a class="btn add-btn hint" (click)="confirm()"
          ><span class="hint-text">Discussed and agreed</span
          ><i class="fa fa-thumbs-up" aria-hidden="true"></i>
        </a>
      </div>

      <div class="card-body">
        <form [formGroup]="appraisalObjectiveForm">
          <div class="row">
            <div class="card-body">
              <div>
                <label>Comments <span class="text-danger">*</span></label>
                <textarea
                  class="form-control"
                  type="text"
                  rows="5"
                  formControlName="comment"
                ></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>-->
<app-appraisal-objectives
  [objectiveId]="objectiveId"
  [fromLineManager]="true"
></app-appraisal-objectives>
