<div class="dg gtc3 mt10">
  <div class="g-card p10">
    <div class="g-card-top df sb mb10">
      <input type="checkbox" />
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">employee</div>
        <div class="g-card-title">sam white</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">Job grade</div>
        <div class="g-card-title">JG 6</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">review period (start)</div>
        <div class="g-card-title">feb 25, 2021</div>
      </div>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">office/dept</div>
        <div class="g-card-title">finance</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">company</div>
        <div class="g-card-title company-name">abc</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">review period (end)</div>
        <div class="g-card-title">sept 30, 2021</div>
      </div>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">position</div>
        <div class="g-card-title">managing director</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">length of service</div>
        <div class="g-card-title company-name">2 years, 4 months</div>
      </div>
    </div>
    <div class="g-card-mid df sb">
      <table class="g-table">
        <thead>
          <tr>
            <th class="g-table-header">Category</th>
            <th class="g-table-header">comment</th>
            <th class="g-table-header">score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="g-table-row">revenue</td>
            <td class="g-table-row td-comment">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
              eaque libero aliquid ipsa earum! Optio dignissimos et perspiciatis
              accusamus illum pariatur, consequatur, cum possimus similique
              corporis facere, officia quia laboriosam? Est assumenda sed rerum
              nam ullam cumque similique odio nostrum perferendis ipsa nihil
              porro, magnam atque earum eveniet provident saepe error soluta
              consequuntur quasi autem? Rem eos veritatis facere porro. Ut
              consequatur nihil laborum amet temporibus, itaque, quas
              accusantium incidunt ex dolores ratione accusamus. Perspiciatis
              nesciunt iste harum reiciendis maxime neque, earum ea voluptatem
              velit vitae aliquid facere est enim! Nobis corporis ipsum
              perferendis laboriosam sed ab, incidunt facilis fugit officiis
              voluptate inventore, modi, in voluptatibus blanditiis numquam
              quidem. Provident eius laborum ad officiis minus ab aut adipisci
              facere deleniti. Voluptate ea minus quisquam voluptatibus optio.
              Voluptatibus commodi asperiores maxime perferendis similique
              exercitationem doloremque, rerum iure enim, ea deserunt dolorem.
              Et consequatur asperiores iure excepturi incidunt facere ducimus
              tempora deleniti! Necessitatibus qui et veritatis minus enim ea,
              assumenda voluptatibus vel quam consequatur cum maiores mollitia
              rem id sequi libero sed quo ipsam repellat. Delectus officia cum
              laboriosam in, facere voluptates! Eos rem, maiores corporis
              nostrum laborum alias incidunt consectetur dolor a beatae odio
              unde soluta. Impedit ipsam labore libero quaerat, incidunt nisi
              totam ut possimus velit, quae consequatur, non repellendus? Ea,
              quidem. Dolores cumque temporibus, similique aspernatur tempore
              eos nostrum quia autem fuga quidem aliquam repellat quas totam
              deleniti sequi repellendus porro incidunt quibusdam recusandae
              dolor velit. Provident, officia explicabo. Ratione impedit non
              iusto rem repellat optio sequi in nulla, exercitationem placeat ut
              amet totam labore earum sapiente similique, officia distinctio
              blanditiis quia corporis, quas doloremque laborum? Officiis,
              molestiae cum. Accusantium soluta illo quia commodi ea id hic
              quaerat tenetur qui voluptas. Atque reprehenderit tempora quis
              accusantium dolores, cupiditate illo modi, quibusdam eius iusto
              doloremque hic provident consequatur fugit ipsam.
            </td>
            <td class="g-table-row">90%</td>
          </tr>
          <tr>
            <td class="g-table-row">revenue</td>
            <td class="g-table-row td-comment">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
              eaque libero aliquid ipsa earum! Optio dignissimos et perspiciatis
              accusamus illum pariatur, consequatur, cum possimus similique
              corporis facere, officia quia laboriosam? Est assumenda sed rerum
              nam ullam cumque similique odio nostrum perferendis ipsa nihil
              porro, magnam atque earum eveniet provident saepe error soluta
              consequuntur quasi autem? Rem eos veritatis facere porro. Ut
              consequatur nihil laborum amet temporibus, itaque, quas
              accusantium incidunt ex dolores ratione accusamus. Perspiciatis
              nesciunt iste harum reiciendis maxime neque, earum ea voluptatem
              velit vitae aliquid facere est enim! Nobis corporis ipsum
              perferendis laboriosam sed ab, incidunt facilis fugit officiis
              voluptate inventore, modi, in voluptatibus blanditiis numquam
              quidem. Provident eius laborum ad officiis minus ab aut adipisci
              facere deleniti. Voluptate ea minus quisquam voluptatibus optio.
              Voluptatibus commodi asperiores maxime perferendis similique
              exercitationem doloremque, rerum iure enim, ea deserunt dolorem.
              Et consequatur asperiores iure excepturi incidunt facere ducimus
              tempora deleniti! Necessitatibus qui et veritatis minus enim ea,
              assumenda voluptatibus vel quam consequatur cum maiores mollitia
              rem id sequi libero sed quo ipsam repellat. Delectus officia cum
              laboriosam in, facere voluptates! Eos rem, maiores corporis
              nostrum laborum alias incidunt consectetur dolor a beatae odio
              unde soluta. Impedit ipsam labore libero quaerat, incidunt nisi
              totam ut possimus velit, quae consequatur, non repellendus? Ea,
              quidem. Dolores cumque temporibus, similique aspernatur tempore
              eos nostrum quia autem fuga quidem aliquam repellat quas totam
              deleniti sequi repellendus porro incidunt quibusdam recusandae
              dolor velit. Provident, officia explicabo. Ratione impedit non
              iusto rem repellat optio sequi in nulla, exercitationem placeat ut
              amet totam labore earum sapiente similique, officia distinctio
              blanditiis quia corporis, quas doloremque laborum? Officiis,
              molestiae cum. Accusantium soluta illo quia commodi ea id hic
              quaerat tenetur qui voluptas. Atque reprehenderit tempora quis
              accusantium dolores, cupiditate illo modi, quibusdam eius iusto
              doloremque hic provident consequatur fugit ipsam.
            </td>
            <td class="g-table-row">90%</td>
          </tr>
          <tr>
            <td class="g-table-row">revenue</td>
            <td class="g-table-row td-comment">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
              eaque libero aliquid ipsa earum! Optio dignissimos et perspiciatis
              accusamus illum pariatur, consequatur, cum possimus similique
              corporis facere, officia quia laboriosam? Est assumenda sed rerum
              nam ullam cumque similique odio nostrum perferendis ipsa nihil
              porro, magnam atque earum eveniet provident saepe error soluta
              consequuntur quasi autem? Rem eos veritatis facere porro. Ut
              consequatur nihil laborum amet temporibus, itaque, quas
              accusantium incidunt ex dolores ratione accusamus. Perspiciatis
              nesciunt iste harum reiciendis maxime neque, earum ea voluptatem
              velit vitae aliquid facere est enim! Nobis corporis ipsum
              perferendis laboriosam sed ab, incidunt facilis fugit officiis
              voluptate inventore, modi, in voluptatibus blanditiis numquam
              quidem. Provident eius laborum ad officiis minus ab aut adipisci
              facere deleniti. Voluptate ea minus quisquam voluptatibus optio.
              Voluptatibus commodi asperiores maxime perferendis similique
              exercitationem doloremque, rerum iure enim, ea deserunt dolorem.
              Et consequatur asperiores iure excepturi incidunt facere ducimus
              tempora deleniti! Necessitatibus qui et veritatis minus enim ea,
              assumenda voluptatibus vel quam consequatur cum maiores mollitia
              rem id sequi libero sed quo ipsam repellat. Delectus officia cum
              laboriosam in, facere voluptates! Eos rem, maiores corporis
              nostrum laborum alias incidunt consectetur dolor a beatae odio
              unde soluta. Impedit ipsam labore libero quaerat, incidunt nisi
              totam ut possimus velit, quae consequatur, non repellendus? Ea,
              quidem. Dolores cumque temporibus, similique aspernatur tempore
              eos nostrum quia autem fuga quidem aliquam repellat quas totam
              deleniti sequi repellendus porro incidunt quibusdam recusandae
              dolor velit. Provident, officia explicabo. Ratione impedit non
              iusto rem repellat optio sequi in nulla, exercitationem placeat ut
              amet totam labore earum sapiente similique, officia distinctio
              blanditiis quia corporis, quas doloremque laborum? Officiis,
              molestiae cum. Accusantium soluta illo quia commodi ea id hic
              quaerat tenetur qui voluptas. Atque reprehenderit tempora quis
              accusantium dolores, cupiditate illo modi, quibusdam eius iusto
              doloremque hic provident consequatur fugit ipsam.
            </td>
            <td class="g-table-row">90%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="g-card p10">
    <div class="g-card-top df sb mb10">
      <input type="checkbox" />
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">employee</div>
        <div class="g-card-title">sam white</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">Job grade</div>
        <div class="g-card-title">JG 6</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">review period (start)</div>
        <div class="g-card-title">feb 25, 2021</div>
      </div>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">office/dept</div>
        <div class="g-card-title">finance</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">company</div>
        <div class="g-card-title company-name">abc</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">review period (end)</div>
        <div class="g-card-title">sept 30, 2021</div>
      </div>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">position</div>
        <div class="g-card-title">managing director</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">length of service</div>
        <div class="g-card-title company-name">2 years, 4 months</div>
      </div>
    </div>
    <div class="g-card-mid df sb">
      <table class="g-table">
        <thead>
          <tr>
            <th class="g-table-header">Category</th>
            <th class="g-table-header">comment</th>
            <th class="g-table-header">score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="g-table-row">revenue</td>
            <td class="g-table-row td-comment">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
              eaque libero aliquid ipsa earum! Optio dignissimos et perspiciatis
              accusamus illum pariatur, consequatur, cum possimus similique
              corporis facere, officia quia laboriosam? Est assumenda sed rerum
              nam ullam cumque similique odio nostrum perferendis ipsa nihil
              porro, magnam atque earum eveniet provident saepe error soluta
              consequuntur quasi autem? Rem eos veritatis facere porro. Ut
              consequatur nihil laborum amet temporibus, itaque, quas
              accusantium incidunt ex dolores ratione accusamus. Perspiciatis
              nesciunt iste harum reiciendis maxime neque, earum ea voluptatem
              velit vitae aliquid facere est enim! Nobis corporis ipsum
              perferendis laboriosam sed ab, incidunt facilis fugit officiis
              voluptate inventore, modi, in voluptatibus blanditiis numquam
              quidem. Provident eius laborum ad officiis minus ab aut adipisci
              facere deleniti. Voluptate ea minus quisquam voluptatibus optio.
              Voluptatibus commodi asperiores maxime perferendis similique
              exercitationem doloremque, rerum iure enim, ea deserunt dolorem.
              Et consequatur asperiores iure excepturi incidunt facere ducimus
              tempora deleniti! Necessitatibus qui et veritatis minus enim ea,
              assumenda voluptatibus vel quam consequatur cum maiores mollitia
              rem id sequi libero sed quo ipsam repellat. Delectus officia cum
              laboriosam in, facere voluptates! Eos rem, maiores corporis
              nostrum laborum alias incidunt consectetur dolor a beatae odio
              unde soluta. Impedit ipsam labore libero quaerat, incidunt nisi
              totam ut possimus velit, quae consequatur, non repellendus? Ea,
              quidem. Dolores cumque temporibus, similique aspernatur tempore
              eos nostrum quia autem fuga quidem aliquam repellat quas totam
              deleniti sequi repellendus porro incidunt quibusdam recusandae
              dolor velit. Provident, officia explicabo. Ratione impedit non
              iusto rem repellat optio sequi in nulla, exercitationem placeat ut
              amet totam labore earum sapiente similique, officia distinctio
              blanditiis quia corporis, quas doloremque laborum? Officiis,
              molestiae cum. Accusantium soluta illo quia commodi ea id hic
              quaerat tenetur qui voluptas. Atque reprehenderit tempora quis
              accusantium dolores, cupiditate illo modi, quibusdam eius iusto
              doloremque hic provident consequatur fugit ipsam.
            </td>
            <td class="g-table-row">90%</td>
          </tr>
          <tr>
            <td class="g-table-row">revenue</td>
            <td class="g-table-row td-comment">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
              eaque libero aliquid ipsa earum! Optio dignissimos et perspiciatis
              accusamus illum pariatur, consequatur, cum possimus similique
              corporis facere, officia quia laboriosam? Est assumenda sed rerum
              nam ullam cumque similique odio nostrum perferendis ipsa nihil
              porro, magnam atque earum eveniet provident saepe error soluta
              consequuntur quasi autem? Rem eos veritatis facere porro. Ut
              consequatur nihil laborum amet temporibus, itaque, quas
              accusantium incidunt ex dolores ratione accusamus. Perspiciatis
              nesciunt iste harum reiciendis maxime neque, earum ea voluptatem
              velit vitae aliquid facere est enim! Nobis corporis ipsum
              perferendis laboriosam sed ab, incidunt facilis fugit officiis
              voluptate inventore, modi, in voluptatibus blanditiis numquam
              quidem. Provident eius laborum ad officiis minus ab aut adipisci
              facere deleniti. Voluptate ea minus quisquam voluptatibus optio.
              Voluptatibus commodi asperiores maxime perferendis similique
              exercitationem doloremque, rerum iure enim, ea deserunt dolorem.
              Et consequatur asperiores iure excepturi incidunt facere ducimus
              tempora deleniti! Necessitatibus qui et veritatis minus enim ea,
              assumenda voluptatibus vel quam consequatur cum maiores mollitia
              rem id sequi libero sed quo ipsam repellat. Delectus officia cum
              laboriosam in, facere voluptates! Eos rem, maiores corporis
              nostrum laborum alias incidunt consectetur dolor a beatae odio
              unde soluta. Impedit ipsam labore libero quaerat, incidunt nisi
              totam ut possimus velit, quae consequatur, non repellendus? Ea,
              quidem. Dolores cumque temporibus, similique aspernatur tempore
              eos nostrum quia autem fuga quidem aliquam repellat quas totam
              deleniti sequi repellendus porro incidunt quibusdam recusandae
              dolor velit. Provident, officia explicabo. Ratione impedit non
              iusto rem repellat optio sequi in nulla, exercitationem placeat ut
              amet totam labore earum sapiente similique, officia distinctio
              blanditiis quia corporis, quas doloremque laborum? Officiis,
              molestiae cum. Accusantium soluta illo quia commodi ea id hic
              quaerat tenetur qui voluptas. Atque reprehenderit tempora quis
              accusantium dolores, cupiditate illo modi, quibusdam eius iusto
              doloremque hic provident consequatur fugit ipsam.
            </td>
            <td class="g-table-row">90%</td>
          </tr>
          <tr>
            <td class="g-table-row">revenue</td>
            <td class="g-table-row td-comment">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
              eaque libero aliquid ipsa earum! Optio dignissimos et perspiciatis
              accusamus illum pariatur, consequatur, cum possimus similique
              corporis facere, officia quia laboriosam? Est assumenda sed rerum
              nam ullam cumque similique odio nostrum perferendis ipsa nihil
              porro, magnam atque earum eveniet provident saepe error soluta
              consequuntur quasi autem? Rem eos veritatis facere porro. Ut
              consequatur nihil laborum amet temporibus, itaque, quas
              accusantium incidunt ex dolores ratione accusamus. Perspiciatis
              nesciunt iste harum reiciendis maxime neque, earum ea voluptatem
              velit vitae aliquid facere est enim! Nobis corporis ipsum
              perferendis laboriosam sed ab, incidunt facilis fugit officiis
              voluptate inventore, modi, in voluptatibus blanditiis numquam
              quidem. Provident eius laborum ad officiis minus ab aut adipisci
              facere deleniti. Voluptate ea minus quisquam voluptatibus optio.
              Voluptatibus commodi asperiores maxime perferendis similique
              exercitationem doloremque, rerum iure enim, ea deserunt dolorem.
              Et consequatur asperiores iure excepturi incidunt facere ducimus
              tempora deleniti! Necessitatibus qui et veritatis minus enim ea,
              assumenda voluptatibus vel quam consequatur cum maiores mollitia
              rem id sequi libero sed quo ipsam repellat. Delectus officia cum
              laboriosam in, facere voluptates! Eos rem, maiores corporis
              nostrum laborum alias incidunt consectetur dolor a beatae odio
              unde soluta. Impedit ipsam labore libero quaerat, incidunt nisi
              totam ut possimus velit, quae consequatur, non repellendus? Ea,
              quidem. Dolores cumque temporibus, similique aspernatur tempore
              eos nostrum quia autem fuga quidem aliquam repellat quas totam
              deleniti sequi repellendus porro incidunt quibusdam recusandae
              dolor velit. Provident, officia explicabo. Ratione impedit non
              iusto rem repellat optio sequi in nulla, exercitationem placeat ut
              amet totam labore earum sapiente similique, officia distinctio
              blanditiis quia corporis, quas doloremque laborum? Officiis,
              molestiae cum. Accusantium soluta illo quia commodi ea id hic
              quaerat tenetur qui voluptas. Atque reprehenderit tempora quis
              accusantium dolores, cupiditate illo modi, quibusdam eius iusto
              doloremque hic provident consequatur fugit ipsam.
            </td>
            <td class="g-table-row">90%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="g-card p10">
    <div class="g-card-top df sb mb10">
      <input type="checkbox" />
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">employee</div>
        <div class="g-card-title">sam white</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">Job grade</div>
        <div class="g-card-title">JG 6</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">review period (start)</div>
        <div class="g-card-title">feb 25, 2021</div>
      </div>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">office/dept</div>
        <div class="g-card-title">finance</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">company</div>
        <div class="g-card-title company-name">abc</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">review period (end)</div>
        <div class="g-card-title">sept 30, 2021</div>
      </div>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">position</div>
        <div class="g-card-title">managing director</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">length of service</div>
        <div class="g-card-title company-name">2 years, 4 months</div>
      </div>
    </div>
    <div class="g-card-mid df sb">
      <table class="g-table">
        <thead>
          <tr>
            <th class="g-table-header">Category</th>
            <th class="g-table-header">comment</th>
            <th class="g-table-header">score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="g-table-row">revenue</td>
            <td class="g-table-row td-comment">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
              eaque libero aliquid ipsa earum! Optio dignissimos et perspiciatis
              accusamus illum pariatur, consequatur, cum possimus similique
              corporis facere, officia quia laboriosam? Est assumenda sed rerum
              nam ullam cumque similique odio nostrum perferendis ipsa nihil
              porro, magnam atque earum eveniet provident saepe error soluta
              consequuntur quasi autem? Rem eos veritatis facere porro. Ut
              consequatur nihil laborum amet temporibus, itaque, quas
              accusantium incidunt ex dolores ratione accusamus. Perspiciatis
              nesciunt iste harum reiciendis maxime neque, earum ea voluptatem
              velit vitae aliquid facere est enim! Nobis corporis ipsum
              perferendis laboriosam sed ab, incidunt facilis fugit officiis
              voluptate inventore, modi, in voluptatibus blanditiis numquam
              quidem. Provident eius laborum ad officiis minus ab aut adipisci
              facere deleniti. Voluptate ea minus quisquam voluptatibus optio.
              Voluptatibus commodi asperiores maxime perferendis similique
              exercitationem doloremque, rerum iure enim, ea deserunt dolorem.
              Et consequatur asperiores iure excepturi incidunt facere ducimus
              tempora deleniti! Necessitatibus qui et veritatis minus enim ea,
              assumenda voluptatibus vel quam consequatur cum maiores mollitia
              rem id sequi libero sed quo ipsam repellat. Delectus officia cum
              laboriosam in, facere voluptates! Eos rem, maiores corporis
              nostrum laborum alias incidunt consectetur dolor a beatae odio
              unde soluta. Impedit ipsam labore libero quaerat, incidunt nisi
              totam ut possimus velit, quae consequatur, non repellendus? Ea,
              quidem. Dolores cumque temporibus, similique aspernatur tempore
              eos nostrum quia autem fuga quidem aliquam repellat quas totam
              deleniti sequi repellendus porro incidunt quibusdam recusandae
              dolor velit. Provident, officia explicabo. Ratione impedit non
              iusto rem repellat optio sequi in nulla, exercitationem placeat ut
              amet totam labore earum sapiente similique, officia distinctio
              blanditiis quia corporis, quas doloremque laborum? Officiis,
              molestiae cum. Accusantium soluta illo quia commodi ea id hic
              quaerat tenetur qui voluptas. Atque reprehenderit tempora quis
              accusantium dolores, cupiditate illo modi, quibusdam eius iusto
              doloremque hic provident consequatur fugit ipsam.
            </td>
            <td class="g-table-row">90%</td>
          </tr>
          <tr>
            <td class="g-table-row">revenue</td>
            <td class="g-table-row td-comment">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
              eaque libero aliquid ipsa earum! Optio dignissimos et perspiciatis
              accusamus illum pariatur, consequatur, cum possimus similique
              corporis facere, officia quia laboriosam? Est assumenda sed rerum
              nam ullam cumque similique odio nostrum perferendis ipsa nihil
              porro, magnam atque earum eveniet provident saepe error soluta
              consequuntur quasi autem? Rem eos veritatis facere porro. Ut
              consequatur nihil laborum amet temporibus, itaque, quas
              accusantium incidunt ex dolores ratione accusamus. Perspiciatis
              nesciunt iste harum reiciendis maxime neque, earum ea voluptatem
              velit vitae aliquid facere est enim! Nobis corporis ipsum
              perferendis laboriosam sed ab, incidunt facilis fugit officiis
              voluptate inventore, modi, in voluptatibus blanditiis numquam
              quidem. Provident eius laborum ad officiis minus ab aut adipisci
              facere deleniti. Voluptate ea minus quisquam voluptatibus optio.
              Voluptatibus commodi asperiores maxime perferendis similique
              exercitationem doloremque, rerum iure enim, ea deserunt dolorem.
              Et consequatur asperiores iure excepturi incidunt facere ducimus
              tempora deleniti! Necessitatibus qui et veritatis minus enim ea,
              assumenda voluptatibus vel quam consequatur cum maiores mollitia
              rem id sequi libero sed quo ipsam repellat. Delectus officia cum
              laboriosam in, facere voluptates! Eos rem, maiores corporis
              nostrum laborum alias incidunt consectetur dolor a beatae odio
              unde soluta. Impedit ipsam labore libero quaerat, incidunt nisi
              totam ut possimus velit, quae consequatur, non repellendus? Ea,
              quidem. Dolores cumque temporibus, similique aspernatur tempore
              eos nostrum quia autem fuga quidem aliquam repellat quas totam
              deleniti sequi repellendus porro incidunt quibusdam recusandae
              dolor velit. Provident, officia explicabo. Ratione impedit non
              iusto rem repellat optio sequi in nulla, exercitationem placeat ut
              amet totam labore earum sapiente similique, officia distinctio
              blanditiis quia corporis, quas doloremque laborum? Officiis,
              molestiae cum. Accusantium soluta illo quia commodi ea id hic
              quaerat tenetur qui voluptas. Atque reprehenderit tempora quis
              accusantium dolores, cupiditate illo modi, quibusdam eius iusto
              doloremque hic provident consequatur fugit ipsam.
            </td>
            <td class="g-table-row">90%</td>
          </tr>
          <tr>
            <td class="g-table-row">revenue</td>
            <td class="g-table-row td-comment">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
              eaque libero aliquid ipsa earum! Optio dignissimos et perspiciatis
              accusamus illum pariatur, consequatur, cum possimus similique
              corporis facere, officia quia laboriosam? Est assumenda sed rerum
              nam ullam cumque similique odio nostrum perferendis ipsa nihil
              porro, magnam atque earum eveniet provident saepe error soluta
              consequuntur quasi autem? Rem eos veritatis facere porro. Ut
              consequatur nihil laborum amet temporibus, itaque, quas
              accusantium incidunt ex dolores ratione accusamus. Perspiciatis
              nesciunt iste harum reiciendis maxime neque, earum ea voluptatem
              velit vitae aliquid facere est enim! Nobis corporis ipsum
              perferendis laboriosam sed ab, incidunt facilis fugit officiis
              voluptate inventore, modi, in voluptatibus blanditiis numquam
              quidem. Provident eius laborum ad officiis minus ab aut adipisci
              facere deleniti. Voluptate ea minus quisquam voluptatibus optio.
              Voluptatibus commodi asperiores maxime perferendis similique
              exercitationem doloremque, rerum iure enim, ea deserunt dolorem.
              Et consequatur asperiores iure excepturi incidunt facere ducimus
              tempora deleniti! Necessitatibus qui et veritatis minus enim ea,
              assumenda voluptatibus vel quam consequatur cum maiores mollitia
              rem id sequi libero sed quo ipsam repellat. Delectus officia cum
              laboriosam in, facere voluptates! Eos rem, maiores corporis
              nostrum laborum alias incidunt consectetur dolor a beatae odio
              unde soluta. Impedit ipsam labore libero quaerat, incidunt nisi
              totam ut possimus velit, quae consequatur, non repellendus? Ea,
              quidem. Dolores cumque temporibus, similique aspernatur tempore
              eos nostrum quia autem fuga quidem aliquam repellat quas totam
              deleniti sequi repellendus porro incidunt quibusdam recusandae
              dolor velit. Provident, officia explicabo. Ratione impedit non
              iusto rem repellat optio sequi in nulla, exercitationem placeat ut
              amet totam labore earum sapiente similique, officia distinctio
              blanditiis quia corporis, quas doloremque laborum? Officiis,
              molestiae cum. Accusantium soluta illo quia commodi ea id hic
              quaerat tenetur qui voluptas. Atque reprehenderit tempora quis
              accusantium dolores, cupiditate illo modi, quibusdam eius iusto
              doloremque hic provident consequatur fugit ipsam.
            </td>
            <td class="g-table-row">90%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
