@import 'partials/abstract/variables';

.mat-typography {
    font-family: 'Poppins', sans-serif;
    .modal-title {
        font-size: 3.15rem;
        font-weight: bold;
        color: $blue-700;
    }
    .upload-btn {
      position: relative;
      overflow: hidden;
      display: inline-block;
      input[type="file"] {
        font-size: 10rem;
        position: absolute;
        left: 0;
        top: 1rem;
        opacity: 0;
      }
    }

    .cropped-img {
      height: 20rem;
      width: 20rem;
    }
}
