<div class="email-setup_wrapper">
    <div class="d-flex justify-content-between">
      <h3>Page Setup</h3>
    </div>
  
    <div class="bg-white p-5 my-4">
        <div>
          <div class="form-title d-flex justify-content-between pb-4">
            <h4>Landing Page</h4>
          </div>
          <form [formGroup]="pageSetupForm">
              <div class="row">
                  <div class="col-md-6">
                      <div class="form_group mb-4">
                        <label for="currentPassword" class="form-label"
                          >Page Title
                        </label>
                        <input
                            class="form-control pr-2"
                            type="text"
                            formControlName="page_Title"
                            placeholder="Enter current password"
                          />
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form_group mb-4">
                        <label for="currentPassword" class="form-label"
                          >Page Subtitle
                        </label>
                        <input
                            class="form-control pr-2"
                            type="text"
                            formControlName="section_Content"
                            placeholder="Enter current password"
                          />
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form_group mb-4">
                      <label for="currentPassword" class="form-label"
                        >Cover Image
                      </label>
                      <div class="attachment_wrapper">
                        <p>Click here to edit image</p>
                        <div class="d-flex justify-content-center">
                          <img src="assets/img/img-icon.svg" alt="">
                          <input type="file"
                            name="file-1"
                            id="file-1"
                            accept="image/png,image/jpeg,image/jpg"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </form>
        </div>
        <div class="d-flex justify-content-end">
          <button 
            class="btn btn-orange"
            (click)="submit()"
          >
            Save
          </button>
        </div>
    </div>
  </div>
  