.submenu-slidedown {
  display: block;
  transition: display 2s ease-out;
}

.submenu-slideup {
  display: none;
}
ul li a span{
  font-size: 12px
}
li a {
  text-decoration: none;
  font-size: 12px;
}
