.feedback__btn {
  margin-right: 10px;
  border: 1px solid;
  padding: 5px;
  border-radius: 4px;
  /* height: 30px; */
  text-align: center;
  /* height: 26px; */
  width: 30px;
}
td a {
  color: #1f1f1f;
}
.table-container {
  overflow-x: scroll;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  /*border: 1px solid #ddd;*/
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
