<div class="content container-fluid" style="padding-bottom: 0">
  <!-- Page Header Starts -->
  <div id="add_appraisal_objectives">
    <h5><b>Performance Appraisal Feedback Nugget Form</b></h5>
    <div class="card">
      <div class="card-header header-bg-color">
        <h3><b>Reviewee Information </b></h3>
      </div>

      <br />

      <div class="card-body">
        <form [formGroup]="appraisalFeedbackForm">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="employee">Employee</label>
                <select
                  id="employee"
                  class="form-control"
                  formControlName="employee"
                  (change)="getCareerDetails($event.target.value)"
                >
                  <option value="" disabled>Select Employee</option>
                  <option
                    *ngFor="let emp of employees$ | async"
                    [value]="emp.employeeId"
                  >
                    {{ emp.firstName | titlecase }}
                    {{ emp.lastName | titlecase }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="jobgrade">Job Grade</label>
                <input
                  id="jobgrade"
                  type="text"
                  class="form-control"
                  formControlName="revieweeJobGrade"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="revieweeJobTitle">Job Title</label>
                <input
                  class="form-control"
                  id="revieweeJobTitle"
                  type="text"
                  formControlName="revieweeJobTitle"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="office">Office/Dept</label>
                <input
                  class="form-control"
                  id="office"
                  type="text"
                  formControlName="office"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="reviewPeriod">Review Period</label>
                <input
                  class="form-control"
                  id="reviewPeriod"
                  type="text"
                  formControlName="reviewPeriod"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="length">Length of Service</label>
                <input
                  type="text"
                  id="length"
                  class="form-control"
                  formControlName="lengthOfService"
                  disabled
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-header header-bg-color">
        <h3><b>Reviewer Information </b></h3>
      </div>
      <div class="card-body">
        <form [formGroup]="appraisalFeedbackForm">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="name"> Name </label>
                <input
                  id="name"
                  type="text"
                  class="form-control"
                  formControlName="reviewerName"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="department">Department</label>
                <input
                  type="text"
                  id="department"
                  class="form-control"
                  formControlName="department"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Job Grade</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="reviewerJobGrade"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="reviewerJobTitle">Job Title</label>
                <input
                  type="text"
                  id="reviewerJobTitle"
                  class="form-control"
                  formControlName="reviewerJobTitle"
                  disabled
                />
              </div>
            </div>
          </div>
          <div class="btn-group">
            <button class="btn btn-primary">Continue</button>
            <button class="btn btn-danger">Back</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header header-bg-color"></div>
    <div class="card-body">
      <div>
        <p-table [value]="feedbacks$ | async">
          <ng-template pTemplate="header" let-row let-i="rowIndex">
            <tr>
              <th>KPI Category</th>
              <th>Objectives</th>
              <th>Reviewer Comments</th>
              <th>Reviewer Score</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row let-i="rowIndex">
            <tr>
              <td>{{ row.kpiCategory | titlecase }}</td>
              <td>{{ row.objectives | titlecase }}</td>
              <td>
                <a
                  class="hint feedback-btn"
                  data-toggle="modal"
                  (click)="addComment(row.kpiId, 'employee')"
                  ><span class="hint-text">Add </span><i class="fa fa-plus"></i
                ></a>
                <a
                  class="hint feedback-btn"
                  data-toggle="modal"
                  (click)="viewComments(row.revieweeComment, 'employee')"
                  ><span class="hint-text">View </span><i class="fa fa-eye"></i
                ></a>
              </td>
              <td>
                <span style="margin-right: 20px">{{
                  row.revieweeScore | number: "1.2-2"
                }}</span>
                <a
                  class="hint feedback-btn"
                  data-toggle="modal"
                  (click)="addScore(row.kpiId, row.revieweeScore)"
                  ><span class="hint-text">Edit </span><i class="fa fa-edit"></i
                ></a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
<div
  id="appraisal_feedback_page_modal"
  class="modal custom-modal fade"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Comment</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="commentForm">
          <div class="row row-flex">
            <div class="col-md-6">
              <div class="form-group">
                <label>Comment</label>
                <input
                  type="text"
                  name="comment"
                  class="form-control"
                  formControlName="comment"
                />
              </div>
            </div>
            <!--            <div class="col-md-6">-->
            <!--              <div class="form-group">-->
            <!--                <label>Date</label>-->
            <!--                <input-->
            <!--                  type="date"-->
            <!--                  name="date"-->
            <!--                  class="form-control"-->
            <!--                  [(ngModel)]="date"-->
            <!--                />-->
            <!--              </div>-->
            <!--            </div>-->
          </div>
          <div class="submit-section">
            <button
              class="btn btn-primary submit-btn"
              type="submit"
              (click)="saveComment(commentForm)"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="score_modal" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Score</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="scoreForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Reviewee Score</label>
                <select
                  name="number"
                  class="form-control"
                  formControlName="reviewScore"
                >
                  <option
                    *ngFor="let point of points$ | async"
                    [value]="point.point"
                  >
                    {{ point.pointName }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="submit-section">
            <button
              class="btn btn-primary submit-btn"
              type="submit"
              (click)="saveScore(scoreForm)"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- /Appraisal Feedback Reviewee modal -->
<div id="comment_modal" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Comment</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeCommentModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table>
          <thead>
            <tr>
              <th style="width: 250px">Date</th>
              <th>Comment</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td style="width: 250px"></td>
              <td>{{ comment | titlecase }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
