<!-- Page Content -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Employee</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Employee</li>
        </ul>
      </div>
      <div class="col-auto float-right ml-auto">
        <a
          *ngIf="canAddEmployee"
          routerLink="/employees/employee-form"
          class="btn add-btn"
          data-toggle="modal"
          data-target="#add_employee"
          ><i class="fa fa-plus"></i> Add Employee</a
        >
        <!-- Multiphoto upload -->
        <a
          (click)="multiUploadPhoto()"
          class="upload-btn btn btn-link"
          data-toggle="tooltip"
          title="Upload Multiple photos for employees"
          data-placement="top"
          ><i class="fa fa-upload"></i
        ></a>
        <!-- /Multiphoto upload -->
        <div class="view-icons">
          <!-- Grid view -->
          <a
            *ngIf="!list"
            (click)="changeView()"
            class="grid-view btn btn-link"
            data-toggle="tooltip"
            title="Grid View"
            data-placement="top"
            ><i class="fa fa-th"></i
          ></a>
          <!-- /Grid view -->
          <!-- List view -->
          <a
            *ngIf="list"
            (click)="changeView()"
            class="list-view btn btn-link active"
            data-toggle="tooltip"
            title="List View"
            data-placement="top"
            ><i class="fa fa-bars"></i
          ></a>
          <!-- /List view -->
        </div>
      </div>
    </div>
    <div class="select-div">
      <label for="" style="text-transform: capitalize"
        >Filter by staff office</label
      >
      <select
        name="name"
        id="companyStructureId"
        class="form-control select-input"
        (change)="filterEmployee($event.target.value)"
      >
        <option value="" selected disabled>--Select Office--</option>
        <option value="0">All</option>
        <option *ngFor="let row of companies" [value]="row.companyStructureId">
          {{ row.name }}
        </option>
      </select>
    </div>
  </div>
  <!-- /Page Header -->
  <!-- Grid View -->
  <div *ngIf="list" class="row staff-grid-row">
    <div
      class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3"
      *ngFor="let emp of filteredArray; let i = index"
    >
      <div class="profile-widget">
        <div class="profile-img">
          <a
            [routerLink]="['/employees/employeeprofile/', emp.staffId]"
            class="avatar grid-avi"
            ><i *ngIf="!emp.photo" class="fa fa-user"></i
            ><img *ngIf="emp.photo" src="{{ emp?.photo }}" alt=""
          /></a>
        </div>
        <p>Staff Code: {{ emp.staffCode }}</p>
        <h4 class="user-name m-t-10 mb-0 text-ellipsis">
          <a [routerLink]="['/employees/employeeprofile/', emp.staffId]"
            >{{ emp.firstName | titlecase }} {{ emp.lastName | titlecase }}</a
          >
        </h4>
        <div class="small text-muted">{{ emp.jobTitleName | titlecase }}</div>
        <div class="small text-muted">
          <p>{{ emp.email }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /Grid View -->
  <!-- List View -->
  <div *ngIf="!list" class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table
          class="table table-striped custom-table datatable"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead>
            <tr>
              <th>Name</th>
              <th>Staff Code</th>
              <th>Job Grade</th>
              <th>Office</th>
              <th>Contact</th>
              <th>Join Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of employeesList; let i = index">
              <td>
                <h2 class="table-avatar">
                  <a
                    [routerLink]="['/employees/employeeprofile/', row.staffId]"
                    class="avatar list-avi"
                    ><i *ngIf="!row.photo" class="fa fa-user"></i
                    ><img *ngIf="row.photo" alt="" src="{{ row.photo }}"
                  /></a>
                  <a [routerLink]="['/employees/employeeprofile/', row.staffId]"
                    >{{ row.firstName | titlecase }}
                    {{ row.lastName | titlecase }}
                    <span>{{ row.jobTitleName | titlecase }} </span></a
                  >
                </h2>
              </td>
              <td>{{ row.staffCode | uppercase }}</td>
              <td>{{ row.jobGradeName }}</td>
              <td>{{ row.staffOfficeName }}</td>
              <td>
                <h2>
                  <a
                    >{{ row.email }}<span>{{ row.phoneNumber }}</span></a
                  >
                </h2>
              </td>
              <td>{{ row.dateOfJoin | date: "mediumDate" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /List View -->
</div>
<!-- /Page Content -->
