<app-loading *ngIf="pageLoading"></app-loading>
<!-- Page Content -->
<div *ngIf="!pageLoading" class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Job Title</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Setup</a></li>
                    <li class="breadcrumb-item active">Job Title</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a class="btn download-btn hint"><span class="hint-text">Download</span><i
                        class="fa fa-download"></i></a>
                <a class="btn upload-btn hint" (click)="openUploadModal()"><span class="hint-text">Upload</span><i
                        class="fa fa-upload"></i></a>

                <a class="btn add-btn hint" data-toggle="modal" routerLink="/setup/job-sub-skill"><span
                        class="hint-text">Add</span><i class="fa fa-plus"></i></a>
                <a class="btn delete-btn hint" (click)="delete()"><span class="hint-text">Delete</span><i
                        class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table datatable table-hover" datatable [dtOptions]="dtOptions"
                    [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" [checked]="selectedId.length === jobDetails.length"
                                    (change)="checkAll($event)" />
                            </th>
                            <th>S/N</th>
                            <th>Job Title</th>
                            <th>Total Skill Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-toggle="modal" class="pointer" data-target="#edit_employee"
                            *ngFor="let row of jobDetails | filter:searchText; let i = index">

                            <td (click)="stopParentEvent($event)">
                                <input type="checkbox" [checked]="selectedId.includes(row.id)"
                                    (change)="addItemId($event, row.id)" />
                            </td>

                            <td> <a [routerLink]="['/job-detail',row.id]">{{ i + 1 }}</a></td>
                            <td> <a [routerLink]="['/job-detail',row.id]">{{ row.job_title }}</a></td>
                            <td> <a [routerLink]="['/job-detail',row.id]">{{ row.totalSkillWeight }}</a></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Job Title Modal -->
<div id="add_job_detail" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content w-75 mx-auto">
            <div class="modal-header">
                <h5 class="modal-title">Add Job Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addJobDetail(jobDetailForm)" [formGroup]="jobDetailForm">
                    <div class="form-group">
                        <label class="col-form-label">Job Title<span class="text-danger">*</span></label>
                        <input class="form-control" type="text" [class.invalid]="
                                jobDetailForm.get('job_title').invalid &&
                                jobDetailForm.get('job_title').touched
                    " formControlName="job_title" />
                        <div *ngIf="
                                jobDetailForm.get('job_title').invalid &&
                                jobDetailForm.get('job_title').touched
                    ">
                            <small *ngIf="
                                    jobDetailForm.get('job_title').invalid &&
                                    jobDetailForm.get('job_title').touched
                      " class="text-danger">
                                *Field is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Description<span class="text-danger">*</span></label>
                        <textarea class="form-control" type="text" rows="5" [class.invalid]="
                                jobDetailForm.get('job_description').invalid &&
                                jobDetailForm.get('job_description').touched
                    " formControlName="job_description"> </textarea>
                        <div *ngIf="
                                jobDetailForm.get('job_description').invalid &&
                                jobDetailForm.get('job_description').touched
                    ">
                            <small *ngIf="
                                    jobDetailForm.get('job_description').invalid &&
                                    jobDetailForm.get('job_description').touched
                      " class="text-danger">
                                *Field is required</small>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Job Title Modal -->
<!-- Upload Job Detail Modal -->
<div id="upload_job_detail" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Job Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="closeUploadModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body px-5">
                <form (ngSubmit)="uploadJobDetail()" [formGroup]="jobDetailUploadForm">
                    <div class="row">
                        <div class="form-group row">
                            <label class="col-form-label col-md-5">Choose File (excel format)</label>
                            <div class="col-md-7">
                                <input class="form-control" name="uploadInput" id="uploadInput" #fileInput type="file"
                                    (change)="onSelectedFile($event)">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <p>Please use the guide below for your sheet</p>
                        <table class="table table-bordered">
                            <tr>
                                <th>Job Title</th>
                                <th>Job Description</th>
                                <th>Skill</th>
                                <th>Skill Description</th>
                                <th>Total Skill Weight</th>
                            </tr>
                        </table>
                    </div>

                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit" (ngSubmit)="uploadLanguage()"
                            [disabled]="spinner">
                            <span *ngIf="!spinner">Submit</span>
                            <span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Upload Job Grade Modal -->