<div class="" style="padding-top: 0">
  <!-- page Header Start -->
  <div class="card">
    <div class="card-header header-bg-color">
      <h5><b>Appraisal Objectives</b></h5>
    </div>
    <div class="card-body" style="padding: 2rem">
      <div *ngIf="fromLineManager" class="mb20">
        <label>Comments <span class="text-danger">*</span></label>
        <textarea
          class="form-control resize"
          [(ngModel)]="comment"
          type="text"
          rows="5"
        ></textarea>
      </div>
      <div class="row">
        <div class="objectives-container">
          <!--          <div [innerHTML]="getObjectiveNames(addAbleOjectives)"></div>-->
          <div
            *ngFor="let item of addAbleOjectives"
            [ngClass]="{
              green: item.totalWeightFromAppriasal === 100,
              red: item.totalWeightFromAppriasal > 100,
              yellow: item.totalWeightFromAppriasal < 100
            }"
            class="objective"
            (click)="addObjective(item)"
          >
            <span class="objective-name">{{ item.name | titlecase }}</span>
            <span>Weight: {{ item.totalWeightFromAppriasal | number: 0 }}</span>
            <span class="objective-icon"><i class="fa fa-plus"></i></span>
          </div>
        </div>
        <div class="col-auto float-right ml-auto mb_10">
          <a
            class="btn delete-btn hint"
            [hidden]="!fromLineManager"
            (click)="revokeAndDisagree()"
            ><span class="hint-text">Disagree</span
            ><i class="fa fa-thumbs-o-down" aria-hidden="true"></i
          ></a>
          <a
            class="btn hint"
            [hidden]="!fromLineManager"
            (click)="saveComment()"
            ><span class="hint-text">Save Comment</span
            ><i class="fa fa-floppy-o" aria-hidden="true"></i>
          </a>
          <!-- <a class="btn hint" (click)="location.back()"
            ><span class="hint-text">Back</span><i class="fa fa-backward"></i
          ></a>-->
          <a
            class="btn hint"
            [hidden]="!fromLineManager"
            (click)="revokeAndDisagree()"
            ><span class="hint-text">Revoke</span>
            <i class="fa fa-times" aria-hidden="true"></i>
          </a>
          <a
            class="btn add-btn hint"
            [hidden]="!fromLineManager"
            (click)="confirm()"
            ><span class="hint-text">Discussed and agreed</span
            ><i class="fa fa-thumbs-up" aria-hidden="true"></i>
          </a>
          <a
            class="btn hint"
            (click)="saveObjectives()"
            [hidden]="fromLineManager"
          >
            <span class="hint-text">Save</span
            ><i class="fa fa-floppy-o" aria-hidden="true"></i>
          </a>
          <a
            class="btn hint"
            [hidden]="fromLineManager"
            (click)="sendToLineManager()"
          >
            <span class="hint-text">Send to Line Manager</span>
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </a>

          <a class="btn hint" (click)="deleteObjective()"
            ><span class="hint-text">Delete</span><i class="fa fa-trash"></i
          ></a>
          <a class="btn hint" (click)="locatton.back()"
            ><span class="hint-text">Back</span><i class="fa fa-backward"></i
          ></a>
          <!--          <a-->
          <!--            class="btn add-btn hint"-->
          <!--            data-toggle="modal"-->
          <!--            data-target="#appraisal_Objectives_modal"-->
          <!--            ><span class="hint-text">Add</span><i class="fa fa-plus"></i>-->
          <!--          </a>-->
        </div>
        <div *ngFor="let table of objectives; let i = index">
          <h5 style="font-weight: bold" class="category">
            {{ table.kpiCategoryName | titlecase }}
          </h5>
          <p-table
            class="table table-striped custom-table datatable table-hover"
            #dt
            [columns]="cols"
            [(selection)]="selectedObjectives"
            [scrollable]="true"
            [value]="table.employeeObjectiveIdicators"
            scrollHeight="600px"
          >
            <!--           s-->
            <ng-template pTemplate="header">
              <tr>
                <!--              <th>-->
                <!--                <input type="checkbox" />-->
                <!--              </th>-->
                <th class="table-checkbox">
                  <!--                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
                  <input type="checkbox" (change)="checkAll($event)" />
                </th>
                <th class="sn_width">S/N</th>
                <th>KPI Type</th>
                <th>Objectives</th>
                <th>Success targets</th>
                <th>Key Action</th>
                <th>Targets date</th>
                <th>weights(%)</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-i="rowIndex">
              <tr
                (click)="editItem(table, row)"
                style="cursor: pointer"
                [ngClass]="{ disabled: !table.canEmplyeeAddObjective }"
              >
                <!--              <td>-->
                <!--                <input-->
                <!--                  type="checkbox"-->
                <!--                  [checked]="selectedId.includes(row.id)"-->
                <!--                  (change)="addItemId($event, row.id)"-->
                <!--                />-->
                <!--              </td>-->
                <td class="table-checkbox">
                  <!--                  <p-tableCheckbox-->
                  <!--                    (click)="stopParentEvent($event)"-->
                  <!--                    [value]="row"-->
                  <!--                  ></p-tableCheckbox>-->
                  <input
                    [disabled]="!table.canEmplyeeAddObjective"
                    type="checkbox"
                    [checked]="
                      selectedId.includes(row.employeeObjectiveIdicatorId)
                    "
                    (change)="
                      checkItem($event, row.employeeObjectiveIdicatorId)
                    "
                    (click)="stopParentEvent($event)"
                  />
                </td>
                <td class="sn_width">{{ i + 1 }}</td>
                <td>{{ row.kpiName | titlecase }}</td>
                <td>{{ row.objective | titlecase }}</td>
                <td>{{ row.successMeasure | titlecase }}</td>
                <td>{{ row.keyActions | titlecase }}</td>
                <td>{{ row.targetDate | date }}</td>
                <td>{{ row.weightmodel }}</td>
                <!--                <td>{{ kpiWeight }}</td>-->
              </tr>
              <tr *ngFor="let item of empPermittedList">
                <ng-container class="title">
                  <div>
                    {{ item.kpiCategoryName }}
                  </div>
                </ng-container>
                <br />
                <td *ngFor="let row of item.kpIsNameList">{{ row }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Appraisal Objectives Modal -->
<div
  id="appraisal_Objectives_modal"
  class="modal custom-modal fade"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Objectives</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeAppraisalObjectivesModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="appraisalObjectivesForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="KPIcategory">KPI Category</label>
                <select
                  name="kpi"
                  id="KPIcategory"
                  class="form-control"
                  [(ngModel)]="KpiIndicatorName"
                  [disabled]="isEditing"
                  [ngModelOptions]="{ standalone: true }"
                  (change)="checkValue($event.target.value)"
                >
                  <option value="" disabled>--Select KPI Metric--</option>
                  <option
                    *ngFor="let category of kpiCategories"
                    [value]="category.kpi"
                  >
                    {{ category.kpi | titlecase }}
                  </option>
                  <option value="0">Others</option>
                </select>
              </div>
            </div>
            <div class="col-md-12" *ngIf="otherSelected">
              <div class="form-group">
                <label for="others">KPI Metric</label>
                <input
                  class="form-control"
                  type="text"
                  id="others"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="others"
                  name="others"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="objective">Objective</label>
                <textarea
                  id="objective"
                  type="text"
                  class="form-control resize"
                  formControlName="objective"
                ></textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="successMeasures">Success Measures</label>
                <textarea
                  type="text"
                  id="successMeasures"
                  class="form-control resize"
                  formControlName="successMeasure"
                ></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="keyActions">Key Actions</label>
                <textarea
                  id="keyActions"
                  type="text"
                  class="form-control resize"
                  formControlName="keyActions"
                ></textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="targetDate">Target Date</label>
                <input
                  id="targetDate"
                  type="date"
                  class="form-control"
                  formControlName="targetDate"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="weight">Weight(%)</label>
                <input
                  id="weight"
                  type="text"
                  class="form-control"
                  formControlName="weightmodel"
                />
              </div>
            </div>
          </div>
          <div class="submit-section">
            <button
              class="btn btn-primary submit-btn"
              type="submit"
              (click)="saveKPIObjective(appraisalObjectivesForm)"
            >
              <span>Submit</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
