<div class="content container-fluid" style="padding-top: 0">
  <!-- page Header Start -->
  <div class="card">
    <div class="card-header header-bg-color">
      <h5><b>Appraisal Objectives</b></h5>
    </div>
    <div class="card-body" style="padding: 2rem">
      <div class="row">
        <div class="objectives-container">
          <div *ngFor="let item of addAbleOjectives" class="objective">
            <span class="objective-name">{{ item.name | titlecase }}</span>
            <span
              class="objective-icon"
              (click)="addObjective(item.kpiIndicators, item.id)"
              ><i class="fa fa-plus"></i
            ></span>
          </div>
        </div>
        <div class="col-auto float-right ml-auto mb_10">
          <a
            class="btn delete-btn hint"
            routerLink="/performance/appraisal-objective-form"
            ><span class="hint-text">Back</span><i class="fa fa-backward"></i
          ></a>

          <a class="btn delete-btn hint"
            ><span class="hint-text">Delete</span><i class="fa fa-trash"></i
          ></a>
          <a
            class="btn add-btn hint"
            (click)="saveObjectives()"
            [hidden]="fromLineManager"
          >
            <span class="hint-text">Save and Send to Line Manager</span
            ><i class="fa fa-floppy-o" aria-hidden="true"></i>
          </a>

          <!--          <a-->
          <!--            class="btn add-btn hint"-->
          <!--            data-toggle="modal"-->
          <!--            data-target="#appraisal_Objectives_modal"-->
          <!--            ><span class="hint-text">Add</span><i class="fa fa-plus"></i>-->
          <!--          </a>-->
        </div>
        <div *ngFor="let table of objectives; let i = index">
          <h5 style="font-weight: bold" class="category">
            {{ table.kpiCategoryName | titlecase }}
          </h5>
          <p-table
            class="table table-striped custom-table datatable table-hover"
            #dt
            [columns]="cols"
            [(selection)]="selectedObjectives"
            [scrollable]="true"
            [value]="table.employeeObjectiveIdicators"
            scrollHeight="600px"
          >
            <!--           s-->
            <ng-template pTemplate="header">
              <tr>
                <!--              <th>-->
                <!--                <input type="checkbox" />-->
                <!--              </th>-->
                <th class="sn_width">S/N</th>
                <th>KPI Type</th>
                <th>Objectives</th>
                <th>Success targets</th>
                <th>Key Action</th>
                <th>Targets date</th>
                <th>weights(%)</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-i="rowIndex">
              <tr
                (click)="editItem(table, row)"
                style="cursor: pointer"
                [ngClass]="{ disabled: !table.canEmplyeeAddObjective }"
              >
                <!--              <td>-->
                <!--                <input-->
                <!--                  type="checkbox"-->
                <!--                  [checked]="selectedId.includes(row.id)"-->
                <!--                  (change)="addItemId($event, row.id)"-->
                <!--                />-->
                <!--              </td>-->
                <td class="sn_width">{{ i + 1 }}</td>
                <td>{{ row.kpiName | titlecase }}</td>
                <td>{{ row.objective | titlecase }}</td>
                <td>{{ row.successMeasure | titlecase }}</td>
                <td>{{ row.keyActions | titlecase }}</td>
                <td>{{ row.targetDate | date }}</td>
                <td>{{ row.weightmodel }}</td>
                <!--                <td>{{ kpiWeight }}</td>-->
              </tr>
              <tr *ngFor="let item of empPermittedList">
                <ng-container class="title">
                  <div>
                    {{ item.kpiCategoryName }}
                  </div>
                </ng-container>
                <br />
                <td *ngFor="let row of item.kpIsNameList">{{ row }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Appraisal Objectives Modal -->
<div
  id="appraisal_Objectives_modal"
  class="modal custom-modal fade"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Appraisal Objectives</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeAppraisalObjectivesModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="appraisalObjectivesForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="KPIcategory">KPI Category</label>
                <select
                  name="kpi"
                  id="KPIcategory"
                  class="form-control"
                  [(ngModel)]="kpi"
                  [disabled]="isEditing"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <option value="" disabled>--Select KPI Metric--</option>
                  <option
                    *ngFor="let category of kpiCategories"
                    [value]="category.id"
                  >
                    {{ category.kpi | titlecase }}
                  </option>
                  <option value="">Others</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="objective">Objective</label>
                <input
                  id="objective"
                  type="text"
                  class="form-control"
                  formControlName="objective"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="successMeasures">Success Measures</label>
                <input
                  type="text"
                  id="successMeasures"
                  class="form-control"
                  formControlName="successMeasure"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="keyActions">Key Actions</label>
                <input
                  id="keyActions"
                  type="text"
                  class="form-control"
                  formControlName="keyActions"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="targetDate">Target Date</label>
                <input
                  id="targetDate"
                  type="date"
                  class="form-control"
                  formControlName="targetDate"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="weight">Weight(%)</label>
                <input
                  id="weight"
                  type="text"
                  class="form-control"
                  formControlName="weightmodel"
                />
              </div>
            </div>
          </div>
          <div class="submit-section">
            <button
              class="btn btn-primary submit-btn"
              type="submit"
              (click)="saveKPIObjective(appraisalObjectivesForm)"
            >
              <span>Submit</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
