.table-title {
  padding: .5rem;
}
.objectives-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.objective {
  margin-right: 10px;
  padding: 5px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
.objective-name {
  margin-right: 5px;
}

.objective-icon {
  cursor: pointer;
  width: 50px;
  /*background: #ccc;*/
  padding: 5px;
  border-radius: 50%;
  /* color: #fff; */
  height: 50px;
}

.disabled{
  cursor: not-allowed;
}
.category {
  font-weight: bold;
  margin-top: 20px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.green {
  background-color: #00bf6f;
}
.red {
  background-color: tomato;
}

.yellow {
  background-color: #d9d931;
}
