<!-- Appraisal Feedback Page -->

<div  class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="col">
            <h5 class="page-title">{{cardFormTitle}}</h5>

        </div>
        <div class="modal-body">
            <form (ngSubmit)="submitAppraisalFeedbackForm()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Review Period</label>
                            <input type="date" name="reviewPeriod" class="form-control" [(ngModel)]="reviewPeriod">

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Start Title</label>
                            <input type="text" name="startTitle" class="form-control" [(ngModel)]="startTitle">

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Review Year</label>
                            <select type="date" name="reviewYear" class="form-control" [(ngModel)]="reviewYear">
                                <option selected value="Review Year">Review Year</option>
                                <option *ngFor="let row of years" value="{{row.year}}">{{row.year}}</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Job Grade</label>
                            <select type="text" name="job_GradeId" class="form-control" [(ngModel)]="job_GradeId">
                                <option value="">Job Grade</option>
                                <option *ngFor="let row of jobGrades" value="{{row.id}}">{{row.job_grade}} </option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Submited for Review</label>
                            <select type="text" name="submittedForReview" class="form-control"
                                [(ngModel)]="submittedForReview">
                                <option value="1">Yes</option>
                                <option value="2">No</option>

                            </select>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Review Cycle Status</label>
                            <select type="text" name="reviewCycleStatus" class="form-control"
                                [(ngModel)]="reviewCycleStatus">
                                <option value="">Open</option>
                                <option value="">Locked</option>

                            </select>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Date Due</label>
                            <input name="dueDate" type="date" class="form-control" [(ngModel)]="dueDate">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Final Comment</label>
                            <input name="finalComment" type="text" class="form-control" [(ngModel)]="finalComment">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>First Level Reviewer</label>
                            <select name="firstLevelReviewer" type="text" class="form-control"
                                [(ngModel)]="firstLevelReviewer">
                                <option value="">First Level Reviewer</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Second Level Reviewer</label>
                            <select name="secondLevelReviewer" type="text" class="form-control"
                                [(ngModel)]="secondLevelReviewer">
                                <option value="">Second Level Reviewer</option>
                            </select>

                        </div>
                    </div>

                </div>

                <div *ngIf="tableDisabled" class="table-responsive">
                    <table>
                        <tr>
                            <th>KPI</th>
                            <th>Objectives</th>
                            <th>Success Messages</th>
                            <th>Reviewee Comments</th>
                            <th>Reviewee Score</th>
                            <th>Reviewee i Comment</th>
                            <th>Reviewee i Score</th>
                            <th>Reviewee ii Comment</th>
                            <th>Reviewee ii Score</th>
                            <th>Reviewee iii Comment</th>
                            <th>Reviewee iii Score</th>
                        </tr>
                        <tr>
                            <td>Magazzini Alimentari Riuniti</td>
                            <td>Giovanni Rovelli</td>
                            <td>Italy</td>
                            <td><a class="btn add-btn hint" data-toggle="modal"
                                    data-target="#appraisal_feedback_page_modal"><span class="hint-text">Add
                                    </span><i class="fa fa-plus"></i></a>
                                <a class="btn add-btn hint" data-toggle="modal"
                                    data-target="#appraisal_feedback_page_modal"><span class="hint-text">Add
                                    </span><i class="fa fa-eye"></i></a>
                            </td>
                            <td>
                                <a class="btn add-btn hint" data-toggle="modal"
                                    data-target="#appraisal_feedback_reviewee_modal"><span class="hint-text">Edit
                                    </span><i class="fa fa-edit"></i></a>
                                <div></div>
                            </td>
                            <td><a class="btn add-btn hint" data-toggle="modal"
                                    data-target="#appraisal_feedback_page_modal"><span class="hint-text">Add
                                    </span><i class="fa fa-plus"></i></a>
                                <a class="btn add-btn hint" data-toggle="modal"
                                    data-target="#appraisal_feedback_page_modal"><span class="hint-text">Add
                                    </span><i class="fa fa-eye"></i></a>
                            </td>
                            <td>
                                <a class="btn add-btn hint" data-toggle="modal"
                                    data-target="#appraisal_feedback_reviewee_modal"><span class="hint-text">Edit
                                    </span><i class="fa fa-edit"></i></a>
                                <div></div>
                            </td>
                            <td><a class="btn add-btn hint" data-toggle="modal"
                                    data-target="#appraisal_feedback_page_modal"><span class="hint-text">Add
                                    </span><i class="fa fa-plus"></i></a>
                                <a class="btn add-btn hint" data-toggle="modal"
                                    data-target="#appraisal_feedback_page_modal"><span class="hint-text">Add
                                    </span><i class="fa fa-eye"></i></a>
                            </td>
                            <td>
                                <a class="btn add-btn hint" data-toggle="modal"
                                    data-target="#appraisal_feedback_reviewee_modal"><span class="hint-text">Edit
                                    </span><i class="fa fa-edit"></i></a>
                                <div></div>
                            </td>
                            <td><a class="btn add-btn hint" data-toggle="modal"
                                    data-target="#appraisal_feedback_page_modal"><span class="hint-text">Add
                                    </span><i class="fa fa-plus"></i></a>
                                <a class="btn add-btn hint" data-toggle="modal"
                                    data-target="#appraisal_feedback_page_modal"><span class="hint-text">Add
                                    </span><i class="fa fa-eye"></i></a>
                            </td>
                            <td>
                                <a class="btn add-btn hint" data-toggle="modal"
                                    data-target="#appraisal_feedback_reviewee_modal"><span class="hint-text">Edit
                                    </span><i class="fa fa-edit"></i></a>
                                <div></div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="modal-body">
                    <form (ngSubmit)="submitAppraisalFeedbackForm()">

                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="submit-section" class="btn-group mr-2" role="group" aria-label="First group">
                                <button type="button" class="btn btn-danger"
                                    [routerLink]="['/performance/setup/appraisal-feedback']"
                                    routerLinkActive="router-link-active">Back</button>

                                <button class="btn btn-primary" type="submit" [disabled]="spinner">
                                    <span *ngIf="!spinner">Submit</span>
                                    <span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
                                </button>

                                <button class="btn btn-info" (click)="setFeedbackBtn($event)" type="button">Feedback
                                </button>

                            </div>
                        </div>
                    </form>

                </div>
            </form>
        </div>
    </div>
</div>

<!-- /Appraisal Feedback Page -->

<!-- Appraisal Feedback Page modal -->

<div id="appraisal_feedback_page_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{cardFormTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="submitAppraisalFeedbackPageForm()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Comment</label>
                                <input type="text" name="comment" class="form-control" [(ngModel)]="comment">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date</label>
                                <input type="date" name="date" class="form-control" [(ngModel)]="date">

                            </div>
                        </div>

                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit" [disabled]="spinner">
                            <span *ngIf="!spinner">Submit</span>
                            <span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- /Appraisal Feedback Page modal -->

<!-- Appraisal Feedback Reviewee modal -->

<div id="appraisal_feedback_reviewee_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reviewee Score</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="submitAppraisalFeedbackPageForm()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Reviewee Score</label>
                                <input type="number" name="number" class="form-control" [(ngModel)]="number">

                            </div>
                        </div>

                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit" [disabled]="spinner">
                            <span *ngIf="!spinner">Submit</span>
                            <span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- /Appraisal Feedback Reviewee modal -->
