.modal-width {
  /*width: 1200px !important;*/
}

.modal-dialog {
  /*max-width: 1200px !important;*/
}
.btn-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.btn-danger {
  margin-right: 10px;
}
.btn-info {
  margin-right: 15px;
}
.btn-primary {
  margin-right: 15px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.icon-flex {
  display: flex;
  justify-content: space-evenly;
}
td a {
  color: #1f1f1f;
}
th, td {
  text-align: center;
}
.row-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mr_20 {
  margin-right: 20px;
}
