<!-- Appraisal Feedback Page -->

<div class="content container-fluid">
  <!-- Page Header -->
  <div class="card">
    <div class="card-header header-bg-color">
      <h4>{{ cardFormTitle }}</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="appraisalFeedbackForm">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Review Year</label>
              <input
                type="text"
                class="form-control"
                formControlName="reviewYear"
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Review Period Start</label>
              <input
                type="date"
                class="form-control datetimepicker"
                bsDatepicker
                [bsConfig]="{
                  isAnimate: true,
                  dateInputFormat: 'YYYY-MM-DD',
                  returnFocusToInput: true
                }"
                formControlName="startDate"
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Review Period End</label>
              <input
                type="date"
                bsDatepicker
                [bsConfig]="{
                  isAnimate: true,
                  dateInputFormat: 'YYYY-MM-DD',
                  returnFocusToInput: true
                }"
                formControlName="endDate"
                class="form-control datetimepicker"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Employee</label>
              <input
                type="text"
                formControlName="employeeName"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Job Grade</label>
              <input
                type="text"
                formControlName="jobGradeName"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Job Title</label>
              <input
                type="text"
                formControlName="jobTitleName"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Length of Service</label>
              <input
                type="text"
                class="form-control"
                formControlName="lengthOfService"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Time in Present Position</label>
              <input
                type="text"
                formControlName="timeInPresentPosition"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-md-4 btns-flex">
            <a class="btn hint" (click)="showScheduleForm()"
              ><span class="hint-text">Schedule Coaching </span
              ><i class="fa fa-calendar"></i
            ></a>
            <a
              class="btn hint"
              [routerLink]="['/performance/coaching-schedules']"
              ><span class="hint-text">Coaching Schedules</span
              ><i class="fa fa-calendar-o"></i
            ></a>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Overall Remark</label>
              <input
                type="text"
                class="form-control"
                formControlName="overallRemark"
              />
            </div>
          </div>
          <div class="col-md-12 card-header header-bg-color mb_10">
            <h4>Performance Reviewer</h4>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="reviewer1">First Reviewer</label>
              <input
                type="text"
                formControlName="firstReviewerName"
                id="reviewer1"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="reviewer2">Second Reviewer</label>
              <input
                type="text"
                formControlName="secondReviewerName"
                id="reviewer2"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="reviewer3">Third Reviewer</label>
              <input
                type="text"
                id="reviewer3"
                class="form-control"
                formControlName="thirdReviewerName"
              />
            </div>
          </div>
          <!--          <div class="col-md-6">-->
          <!--            <div class="form-group">-->
          <!--              <label>Review Cycle Status</label>-->
          <!--              <select-->
          <!--                type="text"-->
          <!--                name="reviewCycleStatus"-->
          <!--                class="form-control"-->
          <!--                [(ngModel)]="reviewCycleStatus"-->
          <!--              >-->
          <!--                <option value="">Open</option>-->
          <!--                <option value="">Locked</option>-->
          <!--              </select>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          <div class="col-md-6">-->
          <!--            <div class="form-group">-->
          <!--              <label>Date Due</label>-->
          <!--              <input-->
          <!--                name="dueDate"-->
          <!--                type="date"-->
          <!--                class="form-control"-->
          <!--                [(ngModel)]="dueDate"-->
          <!--              />-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          <div class="col-md-6">-->
          <!--            <div class="form-group">-->
          <!--              <label>Final Comment</label>-->
          <!--              <input-->
          <!--                name="finalComment"-->
          <!--                type="text"-->
          <!--                class="form-control"-->
          <!--                [(ngModel)]="finalComment"-->
          <!--              />-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          <div class="col-md-6">-->
          <!--            <div class="form-group">-->
          <!--              <label>First Level Reviewer</label>-->
          <!--              <select-->
          <!--                name="firstLevelReviewer"-->
          <!--                type="text"-->
          <!--                class="form-control"-->
          <!--                [(ngModel)]="firstLevelReviewer"-->
          <!--              >-->
          <!--                <option value="">First Level Reviewer</option>-->
          <!--              </select>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          <div class="col-md-6">-->
          <!--            <div class="form-group">-->
          <!--              <label>Second Level Reviewer</label>-->
          <!--              <select-->
          <!--                name="secondLevelReviewer"-->
          <!--                type="text"-->
          <!--                class="form-control"-->
          <!--                [(ngModel)]="secondLevelReviewer"-->
          <!--              >-->
          <!--                <option value="">Second Level Reviewer</option>-->
          <!--              </select>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>

        <div *ngIf="tableDisabled" class="table-responsive">
          <p-table [value]="hack(appraisalFeedbacks)">
            <ng-template pTemplate="header" let-row let-i="rowIndex">
              <tr>
                <th>KPI</th>
                <th>Objectives</th>
                <th>Success Target</th>
                <th>Reviewee Comments</th>
                <th>Reviewee Score</th>
                <th *ngIf="preference?.isReviewerOneInvloved">
                  Reviewer I Comment
                </th>
                <th *ngIf="preference?.isReviewerOneInvloved">
                  Reviewer I Score
                </th>
                <th *ngIf="preference?.isReviewertwoInvloved">
                  Reviewer II Comment
                </th>
                <th *ngIf="preference?.isReviewertwoInvloved">
                  Reviewer II Score
                </th>
                <th *ngIf="preference?.isReviewerThreeInvloved">
                  Reviewer III Comment
                </th>
                <th *ngIf="preference?.isReviewerThreeInvloved">
                  Reviewer III Score
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-i="rowIndex">
              <tr>
                <td>{{ row.kpiCategory | titlecase }}</td>
                <td>{{ row.kpiObjectives | titlecase }}</td>
                <td>{{ row.successTarget | titlecase }}</td>
                <td>
                  <a
                    *ngIf="reviewer === 'employee'"
                    class="hint mr_20"
                    data-toggle="modal"
                    (click)="
                      addComment(row.employeeObjectiveFeedbackID, 'employee')
                    "
                    ><span class="hint-text">Add </span
                    ><i class="fa fa-plus"></i
                  ></a>
                  <a
                    class="hint"
                    data-toggle="modal"
                    (click)="viewComments(row.feedBackComments, 'employee')"
                    ><span class="hint-text">View </span
                    ><i class="fa fa-eye"></i
                  ></a>
                </td>
                <td>
                  <span style="margin-right: 20px">{{
                    row.revieweeScore | number: "1.2-2"
                  }}</span>
                  <a
                    *ngIf="reviewer === 'employee'"
                    class="hint"
                    data-toggle="modal"
                    (click)="
                      addScore(
                        row.employeeObjectiveFeedbackID,
                        row.revieweeScore,
                        'employee'
                      )
                    "
                    ><span class="hint-text">Edit </span
                    ><i class="fa fa-edit"></i
                  ></a>
                </td>
                <td *ngIf="preference.isReviewerOneInvloved">
                  <a
                    *ngIf="reviewer === 'reviewer1'"
                    class="hint mr_20"
                    data-toggle="modal"
                    (click)="
                      addComment(row.employeeObjectiveFeedbackID, 'reviewer1')
                    "
                    ><span class="hint-text">Add </span
                    ><i class="fa fa-plus"></i
                  ></a>
                  <a
                    class="hint"
                    data-toggle="modal"
                    (click)="
                      viewComments(row.feedBackRevieweOneComments, 'reviewer1')
                    "
                    ><span class="hint-text">View Comment </span
                    ><i class="fa fa-eye"></i
                  ></a>
                </td>
                <td *ngIf="preference.isReviewerOneInvloved">
                  <span class="mr_20">{{
                    row.reviewerOneScore | number: "1.2-2"
                  }}</span>
                  <a
                    *ngIf="reviewer === 'reviewer1'"
                    class="hint"
                    data-toggle="modal"
                    (click)="
                      addScore(
                        row.employeeObjectiveFeedbackID,
                        row.reviewerOneScore,
                        'reviewer1'
                      )
                    "
                    ><span class="hint-text">Edit </span
                    ><i class="fa fa-edit"></i
                  ></a>
                </td>
                <td *ngIf="preference.isReviewertwoInvloved">
                  <a
                    *ngIf="reviewer === 'reviewer2'"
                    class="hint mr_20"
                    data-toggle="modal"
                    (click)="
                      addComment(row.employeeObjectiveFeedbackID, 'reviewer2')
                    "
                    ><span class="hint-text">Add </span
                    ><i class="fa fa-plus"></i
                  ></a>
                  <a
                    class="hint"
                    data-toggle="modal"
                    (click)="
                      viewComments(row.feedBackRevieweTwoComments, 'reviewer2')
                    "
                    ><span class="hint-text">View </span
                    ><i class="fa fa-eye"></i
                  ></a>
                </td>
                <td *ngIf="preference.isReviewertwoInvloved">
                  <span class="mr_20">{{
                    row.reviewerTwoScore | number: "1.2-2"
                  }}</span>
                  <a
                    *ngIf="reviewer === 'reviewer2'"
                    class="hint"
                    data-toggle="modal"
                    (click)="
                      addScore(
                        row.employeeObjectiveFeedbackID,
                        row.reviewerTwoScore,
                        'reviewer2'
                      )
                    "
                    ><span class="hint-text">Edit </span
                    ><i class="fa fa-edit"></i
                  ></a>
                  <!--                  <a-->
                  <!--                    class="hint"-->
                  <!--                    data-toggle="modal"-->
                  <!--                    data-target="#appraisal_feedback_reviewee_modal"-->
                  <!--                    ><span class="hint-text">View </span-->
                  <!--                    ><i class="fa fa-eye"></i-->
                  <!--                  ></a>-->
                </td>
                <td *ngIf="preference.isReviewerThreeInvloved">
                  <a
                    *ngIf="reviewer === 'reviewer3'"
                    class="hint mr_20"
                    data-toggle="modal"
                    (click)="
                      addComment(row.employeeObjectiveFeedbackID, 'reviewer3')
                    "
                    ><span class="hint-text">Add </span
                    ><i class="fa fa-plus"></i
                  ></a>
                  <a
                    class="hint"
                    data-toggle="modal"
                    (click)="
                      viewComments(
                        row.feedBackReviewethreeComments,
                        'reviewer3'
                      )
                    "
                    ><span class="hint-text">View </span
                    ><i class="fa fa-eye"></i
                  ></a>
                </td>
                <td *ngIf="preference.isReviewerThreeInvloved">
                  <span class="mr_20">{{
                    row.rewviewerThreeScore | number: "1.2-2"
                  }}</span>
                  <a
                    *ngIf="reviewer === 'reviewer3'"
                    class="hint"
                    data-toggle="modal"
                    (click)="
                      addScore(
                        row.employeeObjectiveFeedbackID,
                        row.rewviewerThreeScore,
                        'reviewer3'
                      )
                    "
                    ><span class="hint-text">Edit </span
                    ><i class="fa fa-edit"></i
                  ></a>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div class="modal-body">
          <form>
            <div
              class="btn-toolbar"
              role="toolbar"
              aria-label="Toolbar with button groups"
            >
              <div
                class="submit-section"
                class="btn-group mr-2"
                role="group"
                aria-label="First group"
              >
                <button
                  type="button"
                  class="btn btn-danger"
                  [routerLink]="['/performance/setup/appraisal-feedback']"
                  routerLinkActive="router-link-active"
                >
                  Back
                </button>

                <button
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="spinner"
                  (click)="submitEmployeeFeedback()"
                >
                  <span *ngIf="!spinner">Submit</span>
                  <span *ngIf="spinner"
                    ><i class="fa fa-spinner fa-spin"></i
                  ></span>
                </button>

                <button
                  class="btn btn-info"
                  (click)="setFeedbackBtn($event)"
                  type="button"
                >
                  Feedback
                </button>
              </div>
            </div>
          </form>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- /Appraisal Feedback Page -->

<!-- Appraisal Feedback Page modal -->

<div
  id="appraisal_feedback_page_modal"
  class="modal custom-modal fade"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ commentTitle }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="employeeCommentForm">
          <div class="row row-flex">
            <div class="col-md-6">
              <div class="form-group">
                <label>Comment</label>
                <input
                  type="text"
                  name="comment"
                  class="form-control"
                  formControlName="{{ formControlName }}"
                />
              </div>
            </div>
            <!--            <div class="col-md-6">-->
            <!--              <div class="form-group">-->
            <!--                <label>Date</label>-->
            <!--                <input-->
            <!--                  type="date"-->
            <!--                  name="date"-->
            <!--                  class="form-control"-->
            <!--                  [(ngModel)]="date"-->
            <!--                />-->
            <!--              </div>-->
            <!--            </div>-->
          </div>
          <div class="submit-section">
            <button
              class="btn btn-primary submit-btn"
              type="submit"
              [disabled]="spinner"
              (click)="submitAppraisalFeedbackPageForm(employeeCommentForm)"
            >
              <span *ngIf="!spinner">Submit</span>
              <span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- /Appraisal Feedback Page modal -->

<!-- Appraisal Feedback Reviewee modal -->

<div id="score_modal" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ scoreTitle }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="employeeScoreForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Reviewee Score</label>
                <select
                  name="number"
                  class="form-control"
                  formControlName="score"
                >
                  <option
                    *ngFor="let point of points$ | async"
                    [value]="point.point"
                  >
                    {{ point.pointName }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="submit-section">
            <button
              class="btn btn-primary submit-btn"
              type="submit"
              [disabled]="spinner"
              (click)="saveScore(employeeScoreForm)"
            >
              <span *ngIf="!spinner">Submit</span>
              <span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- /Appraisal Feedback Reviewee modal -->
<div id="comment_modal" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ commentTitle }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeCommentModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p-table [value]="employeeComments">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 250px">Date</th>
              <th>Comment</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row let-i="rowIndex">
            <tr>
              <td style="width: 250px">{{ row.createdOn | date }}</td>
              <td>{{ row.comment | titlecase }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<!--schedule modal-->
<div id="schedlule_modal" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Schedule Coaching Session</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeScheduleModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row row-flex">
            <div class="col-md-12">
              <div class="form-group">
                <label>Reviewer Name</label>
                <input
                  type="text"
                  name="reviewerName"
                  class="form-control"
                  [(ngModel)]="reviewerName"
                />
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="scheduleDate">Date</label>
                <input
                  type="date"
                  id="scheduleDate"
                  name="scheduleDate"
                  class="form-control"
                  [(ngModel)]="scheduleDate"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="time">Time</label>
                <input
                  type="time"
                  id="time"
                  class="form-control"
                  [(ngModel)]="time"
                  name="time"
                  (change)="onTimeChange($event.target.value)"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="objectives">Performance Objectives</label>
                <select
                  name="objectives"
                  class="form-control"
                  id="objectives"
                  [(ngModel)]="objective"
                >
                  <option value="" disabled>None Selected</option>
                  <option
                    *ngFor="let item of appraisalFeedbacks"
                    [value]="item.employeeObjectiveIdicatorId"
                  >
                    {{ item.kpiObjectives | titlecase }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="scheduleComment">Comment</label>
                <textarea
                  type="text"
                  id="scheduleComment"
                  class="form-control resize"
                  [(ngModel)]="scheduleComment"
                  name="scheduleComment"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="submit-section">
            <button
              class="btn btn-primary submit-btn"
              type="submit"
              [disabled]="spinner"
              (click)="submitSchedule()"
            >
              <span *ngIf="!spinner">Save</span>
              <span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
