<div class="policy_wrapper mt-5">
    <div class="d-flex justify-content-between">
        <h3>Privacy Policy</h3>
        <img class="click" *ngIf="!canEditPolicy" (click)="editPolicy()" src="assets/img/edit-pen.svg" alt="">
        <h4 class="click" *ngIf="canEditPolicy" (click)="updatePolicySetup()">Save</h4>
    </div>
    <div class="policy-content bg-white p-5 my-5">
        <div *ngIf="!canEditPolicy">
            <h4>Your rights</h4>
            <p>Tellus pulvinar nibh consequat euismod eget in morbi. Sed lacus semper massa mi dignissim 
                id quam. Posuere et, enim ut at nisl nunc turpis. Neque, malesuada ullamcorper consequat 
                accumsan. Pharetra, sed blandit ornare donec tempor, dignissim orci. Convallis laoreet 
                malesuada pretium lorem. Metus facilisi rhoncus etiam quam ligula ridiculus gravida sagittis. 
                Amet eu, odio neque nec tellus amet mus id leo. Eget purus urna, habitasse amet. Enim ut dui 
                accumsan, lacus luctus pulvinar vel. Egestas cursus cursus nulla mattis id in nunc. Lacus 
                mattis dignissim pharetra, velit. Luctus lacus, pharetra congue diam. 
            </p>
            <p>
                Elit convallis in nisl dapibus sed massa volutpat cras aliquam. Odio suspendisse tincidunt 
                mus diam tellus, facilisi. Purus integer suspendisse suspendisse arcu eget. Et mattis tortor 
                turpis posuere sed aenean in imperdiet et. Sit ac eget convallis vestibulum. Consequat risus 
                molestie sit ut morbi. Quam interdum gravida euismod tristique aliquam. Enim viverra nullam 
                feugiat eu. Consequat risus molestie sit ut morbi. Quam interdum gravida.
            </p>
            <ul class="px-5">
                <li>
                    Tellus pulvinar nibh consequat euismod eget in morbi. Sed lacus semper massa mi dignissim 
                    id quam. Tellus pulvinar nibh consequat euismod eget in morbi. Sed lacus semper massa 
                    mi dignissim id quam. Tellus pulvinar nibh consequat euismod eget in morbi. Tellus 
                    pulvinar nibh consequat euismod eget in morb
                </li>
                <li> Tellus pulvinar nibh consequat euismod eget in morbi. Sed lacus semper massa mi dignissim id quam.</li>
                <li> Tellus pulvinar nibh consequat euismod eget in morbi. Sed lacus semper massa mi dignissim id quam.</li>
                <li> Tellus pulvinar nibh consequat euismod eget in morbi. Sed lacus semper massa mi dignissim id quam.</li>
            </ul>
            <p>
                Tellus pulvinar nibh consequat euismod eget in morbi. Sed lacus semper massa mi dignissim 
                id quam. Tellus pulvinar nibh consequat euismod eget in morbi. Sed lacus semper massa mi 
                dignissim id quam. Tellus pulvinar nibh consequat euismod eget in morbi. Tellus pulvinar 
                nibh consequat euismod eget in morbi. Sed lacus semper massa mi dignissim id quam. Sed lacus 
                semper massa mi dignissim id quam. 
            </p>
            <div [innerHTML]="htmlContent"></div>
        </div>

       <div *ngIf="canEditPolicy">
            <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
       </div>
    </div>
</div>

<!-- Edit policy Modal -->
<!-- <div id="policy-modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-left modal-lg">
      <div class="modal-content">
        <div class="modal-body">
            <form [formGroup]="policyForm">
                <div class="row">
                    <div class="col-12">
                        <div class="form_group mb-4">
                          <label for="currentPassword" class="form-label"
                            >Policy Title
                            <span class="text-danger">● </span>
                          </label>
                          <input 
                            type="text" 
                            class="form-control"
                            >
                          <div
                            class="invalid-feedback"
                          >
                            Required
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-4">
                          <label for="currentPassword" class="form-label"
                            >Policy Detail
                            <span class="text-danger">● </span>
                          </label>
                          <angular-editor formControlName="htmlContent" [config]="editorConfig"></angular-editor>
                            <div
                              class="invalid-feedback"
                            >
                              Required
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-end pt-4">
                <button
                class="btn btn-orange"
                type="submit"
                [disabled]="!policyForm.valid"
                (click)="updatePolicySetup()"
              >
                <span>Save</span>
                <span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
              </button>
            </div>
        </div>
      </div>
    </div>
</div> -->
<!-- Edit policy Modal -->