<!--
<div class="account-content">
  &lt;!&ndash; <a routerLink="/login/joblist" class="btn btn-primary apply-btn">Apply Job</a> &ndash;&gt;
  <div class="container">
    &lt;!&ndash; Account Logo &ndash;&gt;

    &lt;!&ndash; /Account Logo &ndash;&gt;

    <div class="account-box">
      <div class="account-wrapper">
        <div class="account-logo">
          <a href="javascript:"
            ><img src="../../../assets/img/goshrm.png" alt="GOS HRM"
          /></a>
        </div>

        &lt;!&ndash; Account Form &ndash;&gt;
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label>Username</label>
            <input
              class="form-control"
              type="text"
              formControlName="userName"
            />
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label>Password</label>
              </div>
              <div class="col-auto">
                <a class="text-muted" routerLink="/login/forgot">
                  Forgot password?
                </a>
              </div>
            </div>
            <input
              class="form-control"
              type="password"
              formControlName="password"
            />
          </div>
          <div class="form-group text-center">
            <button
              class="btn btn-primary account-btn"
              type="button"
              (click)="login(loginForm)"
              [disabled]="loading"
            >
              <span *ngIf="!loading">Login</span>
              <span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></span>
            </button>
          </div>
          <div class="account-footer">
            <p>
              Forget Password?
              <a routerLink="/forgetPassword">Click Here</a>
            </p>
          </div>
        </form>
        &lt;!&ndash; /Account Form &ndash;&gt;
      </div>
    </div>
  </div>
</div>
-->

<div class="login-container">
  <div class="login-wrapper">
    <div class="bg-wrapper">
      <h2 class="gs-h2 animate__animated animate__fadeInLeftBig">
        The Efficient Human Capital Software
      </h2>
    </div>
    <div class="gos-form-wrapper">
      <img
        src="assets/img/hr-logo.png"
        class="logo"
        alt="HRM Logo"
      />
      <form class="form" [formGroup]="loginForm">
        <div class="gos-input-group">
          <label for="username" class="gos-label">Username</label>
          <input
            type="text"
            class="gos-control"
            id="username"
            placeholder="Username"
            formControlName="userName"
          />
        </div>
        <div class="gos-input-group">
          <label for="passwordType" class="gos-label">Password</label>
          <input
            [type]="passwordType"
            class="gos-control"
            id="passwordType"
            placeholder="Password"
            formControlName="password"
          />
          <a class="show-btn" id="show-btn" (click)="togglePasswordType()">{{
            btnTitle
          }}</a>
        </div>
        <a class="gos-link" routerLink="/login/forgot"
          >Did you forget your password, Reset it.</a
        >
        <div class="gos-btn-wrapper">
          <button class="gos-btn" (click)="login(loginForm)">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
