<div class="d-flex justify-content-between" mat-dialog-title>
    <h2 mat-dialog-title>Upload Course Paticipant(s)</h2>
    <div class="click" mat-dialog-close>
      <img src="assets/icons/x.svg" alt="" />
    </div>
</div>
  <mat-dialog-content class="mat-typography">
    <ng-container>
      <div>
          <div class="form_group mb-4">
              <label for="" class="form-label">
                  Choose File (Excel format)
                  <span>● </span>
                </label>
              <input 
                id="fileSelect" type="file"
                class="form-control"
                [(ngModel)]="file" 
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" 
            /> 
          </div>
      </div>
      <div class="table-responsive pt-4">
        <span class="guide py-3">Please use the guide below for your sheet</span>
        <table class="table caption-top text-nowrap" datatable>
          <ng-container>
            <thead class="bg-white">
              <tr>
                <th>
                    Full Name
                </th>
                <th>Email Address</th>
                <th>Phone Number</th>
              </tr>
            </thead></ng-container
          >
        </table>
      </div>
    </ng-container> 
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      class="btn btn-outline-green btn-md d-none"
      [mat-dialog-close]="true"
      #close
    >
      Cancel
    </button>
    <button
      class="btn btn-green btn-md px-4"
      (click)="submit()"
    >
        <app-loading-button
          [text]="'Upload Participants'"
          [condition]="isLoading"
        ></app-loading-button>
    </button>
  </mat-dialog-actions>
  