<div class="bg-white p-4 my-4">
    <form>
        <div class="row">
           <div class="row col-md-6">
            <div class="col-12">
                <div class="form_group mb-4">
                    <label for="" class="form-label"
                    >User Name
                        <span class="text-danger">● </span>
                    </label>
                    <input
                        class="form-control pr-2"
                        type="text"
                        formControlName="currentPassword"
                        placeholder="Enter username"
                    />
                </div>
            </div>
            <div class="col-12">
                <div class="form_group mb-4">
                    <label for="" class="form-label"
                    >LinkedIn link
                    </label>
                    <input
                        class="form-control pr-2"
                        type="text"
                        formControlName="currentPassword"
                        placeholder="Enter linkedIn link"
                    />
                </div>
            </div>
            <div class="col-12">
                <div class="form_group mb-4">
                    <label for="" class="form-label"
                    >Twitter link
                    </label>
                    <input
                        class="form-control pr-2"
                        type="text"
                        formControlName="currentPassword"
                        placeholder="Enter twitter link"
                    />
                </div>
            </div>
           </div>
           <div class="col-md-6">
            <div class="form_group mb-4">
                <label for="" class="form-label"
                >User Name
                </label>
                    <input
                        class="form-control pr-2"
                        type="text"
                        formControlName="currentPassword"
                        placeholder="Enter username"
                    />
                </div>
           </div>
           <div class="col-12">
            <div class="form_group mb-4">
                <label for="" class="form-label"
                >Bio
                </label>
                   <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
                </div>
           </div>
        </div>
    </form>
</div>