<div class="bg-white p-4 my-4">
    <form [formGroup]="FacilitatorForm">
        <div class="row">
            <div class="col-md-6">
                <div class="form_group mb-4">
                    <label for="" class="form-label"
                    >Instructor Name
                    </label>
                    <input
                        class="form-control pr-2"
                        type="text"
                        [attr.disabled]="true"
                        formControlName="instructor_Name"
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form_group mb-4">
                    <label for="" class="form-label"
                    >Instructor Email
                    </label>
                        <input
                            class="form-control pr-2"
                            type="text"
                            [attr.disabled]="true"
                            formControlName="trainingInstructorEmail"
                            placeholder="Enter username"
                        />
                    </div>
               </div>
            <div class="col-md-6">
                <div class="form_group mb-4">
                    <label for="" class="form-label"
                    >LinkedIn link
                    </label>
                    <input
                        class="form-control pr-2"
                        type="text"
                        [attr.disabled]="true"
                        formControlName="linkedin_Link"
                        placeholder="Enter linkedIn link"
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form_group mb-4">
                    <label for="" class="form-label"
                    >Twitter link
                    </label>
                    <input
                        class="form-control pr-2"
                        type="text"
                        formControlName="twitter_Link"
                        [attr.disabled]="true"
                        placeholder="Enter twitter link"
                    />
                </div>
            </div>
           <div class="col-12">
            <div class="form_group mb-4">
                <label for="" class="form-label"
                >Bio
                </label>
                   <textarea 
                    class="form-control" 
                    name="" id="" cols="30" 
                    rows="10"
                    [attr.disabled]="true"
                    formControlName="bios"
                ></textarea>
                </div>
           </div>
        </div>
        <div class="d-flex justify-content-end py-5">
            <button 
                class="btn btn-green btn-lg"
                [attr.disabled]="true"
                (click)="submit()"
            >
                Save
            </button>
        </div>
    </form>
</div>