<div class="content container-fluid">
  <!--Page Header starts  -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Appraisal Cycle</h3>
      </div>
      <div _ngcontent-wii-c69="" class="col-md-4">
        <div _ngcontent-wii-c69="" class="form-group">
          <label _ngcontent-wii-c69="">Company</label>
          <select
            type="text"
            class="form-control"
            name="company"
            (change)="filterByCompany($event.target.value)"
          >
            <option value="" selected disabled>Company</option>
            <option
              *ngFor="let row of offices"
              value="{{ row?.companyStructureId }}"
            >
              {{ row?.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-auto float-right ml-auto">
        <a class="btn delete-btn hint" (click)="delete()"
          ><span class="hint-text">Delete</span><i class="fa fa-trash"></i
        ></a>
        <a class="btn download-btn hint" (click)="downloadFile()" download
          ><span class="hint-text">Download</span><i class="fa fa-download"></i
        ></a>
        <a
          routerLink="/performance/setup/appraisal-cycle/appraisal-cycle-page"
          routerLinkActive="router-link-active"
          class="btn add-btn hint"
          data-toggle="modal"
          data-target="#appraisal_cycle_modal"
          ><span class="hint-text">Add </span><i class="fa fa-plus"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table
      class="table table-nowrap table-hover"
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
    >
      <thead>
        <tr>
          <th>
            <input
              type="checkbox"
              [checked]="selectedId.length === appraisalCycles.length"
              (change)="checkAll($event)"
            />
          </th>
          <th>S/N</th>
          <th>Review Year</th>
          <th>Start Period</th>
          <th>End Period</th>
          <th>Due Date</th>
          <th>Reviewer I</th>
          <th>Reviewer II</th>
          <th>Reviewer III</th>
          <th>Reviewee Weight</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr
          data-toggle="modal"
          class="pointer"
          *ngFor="let row of hack(appraisalCycles); let i = index"
        >
          <td (click)="stopParentEvent($event)">
            <input
              type="checkbox"
              [checked]="selectedId.includes(row.id)"
              (change)="addItemId($event, row.id)"
            />
          </td>
          <td>
            <a
              class="text-dark d-block"
              [routerLink]="['appraisals', row.id]"
              >{{ i + 1 }}</a
            >
          </td>
          <td>
            <a
              class="text-dark d-block"
              [routerLink]="['appraisals', row.id]"
              >{{ row.reviewYear }}</a
            >
          </td>
          <td>
            <a
              class="text-dark d-block"
              [routerLink]="['appraisals', row.id]"
              >{{ row.startDate }}</a
            >
          </td>
          <td>
            <a
              class="text-dark d-block"
              [routerLink]="['appraisals', row.id]"
              >{{ row.endDate }}</a
            >
          </td>
          <td>
            <a
              class="text-dark d-block"
              [routerLink]="['appraisals', row.id]"
              >{{ row.dueDate }}</a
            >
          </td>
          <td>
            <a
              class="text-dark d-block"
              [routerLink]="['appraisals', row.id]"
              >{{ row.reviewerOneWeight }}</a
            >
          </td>
          <td>
            <a
              class="text-dark d-block"
              [routerLink]="['appraisals', row.id]"
              >{{ row.reviewerTwoWeight }}</a
            >
          </td>
          <td>
            <a
              class="text-dark d-block"
              [routerLink]="['appraisals', row.id]"
              >{{ row.reviewerThreeWeight }}</a
            >
          </td>
          <td>
            <a
              class="text-dark d-block"
              [routerLink]="['appraisals', row.id]"
              >{{ row.revieweeWeight }}</a
            >
          </td>
          <td>
            <a
              class="text-dark d-block"
              [routerLink]="['appraisals', row.id]"
              >{{ row.status }}</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
