<div class="content container-fluid">
  <!--Page Header starts  -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Appraisal Cycle</h3>
      </div>
      <div _ngcontent-wii-c69="" class="col-md-4">
        <div _ngcontent-wii-c69="" class="form-group">
          <label _ngcontent-wii-c69="">Company</label>
          <select
            type="text"
            class="form-control"
            name="company"
            (change)="filterByCompany($event.target.value)"
          >
            <option value="" selected disabled>Company</option>
            <option
              *ngFor="let row of offices"
              value="{{ row?.companyStructureId }}"
            >
              {{ row?.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-auto float-right ml-auto">
        <a class="btn delete-btn hint" (click)="delete()"
          ><span class="hint-text">Delete</span><i class="fa fa-trash"></i
        ></a>
        <a class="btn download-btn hint" (click)="downloadFile()" download
          ><span class="hint-text">Download</span><i class="fa fa-download"></i
        ></a>
        <a
          routerLink="/performance/setup/appraisal-cycle/appraisal-cycle-page"
          routerLinkActive="router-link-active"
          class="btn add-btn hint"
          data-toggle="modal"
          data-target="#appraisal_cycle_modal"
          ><span class="hint-text">Add </span><i class="fa fa-plus"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <p-table
      class="table table-nowrap table-hover"
      #dt
      [value]="appraisalCycles"
      [columns]="cols"
      [(selection)]="selectedCycles"
      [scrollable]="true"
      scrollHeight="600px"
    >
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <input
            type="text"
            pInputText
            size="50"
            class="form-control"
            placeholder="Search..."
            (keyup)="dt.filterGlobal($event.target.value, 'contains')"
            style="width: auto"
          />
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="table-checkbox">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <!--          <th class="sn_width">S/N</th>-->
          <th pSortableColumn="reviewYear">Review Year</th>
          <th pSortableColumn="startDate">Start Period</th>
          <th pSortableColumn="endDate">End Period</th>
          <th pSortableColumn="dueDate">Due Date</th>
          <th pSortableColumn="reviewerOneWeight">Reviewer I</th>
          <th pSortableColumn="reviewerTwoWeight">Reviewer II</th>
          <th pSortableColumn="reviewerThreeWeight">Reviewer III</th>
          <!--          <th pSortableColumn="revieweeWeight" style="width: 10rem">-->
          <!--            Reviewee Weight-->
          <!--          </th>-->
          <th pSortableColumn="status">Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr class="pointer">
          <td (click)="stopParentEvent($event)" class="table-checkbox">
            <p-tableCheckbox [value]="row"></p-tableCheckbox>
          </td>
          <!--          <td class="sn_width">-->
          <!--            <a-->
          <!--              class="text-dark d-block"-->
          <!--              [routerLink]="['appraisals', row.id]"-->
          <!--              >{{ i + 1 }}</a-->
          <!--            >-->
          <!--          </td>-->
          <td>
            <a
              class="text-dark d-block text-center"
              [routerLink]="['appraisals', row.appraisalCycleId]"
              >{{ row.reviewYear }}</a
            >
          </td>
          <td>
            <a
              class="text-dark d-block text-center"
              [routerLink]="['appraisals', row.appraisalCycleId]"
              >{{ row.startPeriod | date }}</a
            >
          </td>
          <td>
            <a
              class="text-dark d-block text-center"
              [routerLink]="['appraisals', row.appraisalCycleId]"
              >{{ row.endPeriod | date }}</a
            >
          </td>
          <td>
            <a
              class="text-dark d-block text-center"
              [routerLink]="['appraisals', row.appraisalCycleId]"
              >{{ row.dueDate | date }}</a
            >
          </td>
          <td>
            <a
              class="text-dark d-block text-center"
              [routerLink]="['appraisals', row.appraisalCycleId]"
              >{{ row.reviewerOneWeight }}</a
            >
          </td>
          <td>
            <a
              class="text-dark d-block text-center"
              [routerLink]="['appraisals', row.appraisalCycleId]"
              >{{ row.reviewerTwoWeight }}</a
            >
          </td>
          <td>
            <a
              class="text-dark d-block text-center"
              [routerLink]="['appraisals', row.appraisalCycleId]"
              >{{ row.reviewerThreeWeight }}</a
            >
          </td>
          <!--          <td style="width: 10rem">-->
          <!--            <a-->
          <!--              class="text-dark d-block text-center"-->
          <!--              [routerLink]="['appraisals', row.id]"-->
          <!--              >{{ row.revieweeWeight }}</a-->
          <!--            >-->
          <!--          </td>-->
          <td>
            <a
              class="text-dark d-block text-center"
              [routerLink]="['appraisals', row.appraisalCycleId]"
              >{{ row.status }}</a
            >
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
