<!--
<div class="content container-fluid">
  &lt;!&ndash; page Header Start &ndash;&gt;
  <div class="card">
    <div class="card-header header-bg-color">
      <h5><b>Appraisal Feedback Nuggets </b></h5>
    </div>
    <div class="card-body" style="padding: 2rem">
      <div class="row">
        <div class="header_flex">
          <select
            name=""
            id=""
            class="form-control search_field"
            style="margin-right: 3px"
          >
            <option value="" selected disabled>Review Period</option>
            <option
              *ngFor="let item of reviewPeriod$ | async"
              [value]="item.appraisalCycleId"
            >
              {{ item.period }}
            </option>
          </select>
          <a
            routerLink="/performance/add-kudos"
            routerLinkActive="router-link-active"
            class="btn hint"
            ><span class="hint-text">Add </span><i class="fa fa-plus"></i
          ></a>
          <a class="btn hint" (click)="delete()"
            ><span class="hint-text">Delete</span><i class="fa fa-trash"></i
          ></a>
          <input
            type="text"
            class="form-control search_field"
            placeholder="Search"
          />
        </div>
        <p-table
          class="table table-striped custom-table datatable table-hover"
          [value]="feedbacks$ | async"
        >
          <ng-template pTemplate="header">
            <tr>
              <th class="table-checkbox">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th class="sn_width">S/N</th>
              <th>Reviewee Name</th>
              <th>Review Period</th>
              <th>Submitted</th>
              <th>Request On</th>
              <th>Review Cycle Status</th>
              <th>Review Date</th>
              &lt;!&ndash;              <th></th>&ndash;&gt;
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr
              (click)="viewKudos(item)"
              style="cursor: pointer"
              [ngClass]="{ disabled: item.submitted == 'Yes' }"
            >
              <td class="table-checkbox">
                <p-tableCheckbox
                  (click)="stopParentEvent($event)"
                  [value]="item"
                ></p-tableCheckbox>
              </td>
              <td class="sn_width">{{ i + 1 }}</td>
              <td>{{ item.revieweeName | titlecase }}</td>
              <td>{{ item.reviewCycle }}</td>
              <td>{{ item.submitted | titlecase }}</td>
              <td>{{ item.requestOn | date }}</td>
              <td>{{ item.statusName }}</td>
              <td>{{ item.reviewDate }}</td>
            </tr>
          </ng-template>
          <tbody></tbody>
        </p-table>
      </div>
    </div>
  </div>
</div>
-->

<p-tabView [activeIndex]="activeIndex" (onChange)="tabChange($event)">
  <p-tabPanel header="Inward Nugget">
    <div class="header_flex">
      <select
        name=""
        id=""
        class="form-control search_field"
        style="margin-right: 3px"
      >
        <option value="" selected disabled>Review Period</option>
        <option
          *ngFor="let item of reviewPeriod$ | async"
          [value]="item.appraisalCycleId"
        >
          {{ item.period }}
        </option>
      </select>
      <a
        routerLink="/performance/add-kudos"
        routerLinkActive="router-link-active"
        class="btn hint"
        ><span class="hint-text">Add </span><i class="fa fa-plus"></i
      ></a>
      <a class="btn hint" (click)="delete()"
        ><span class="hint-text">Delete</span><i class="fa fa-trash"></i
      ></a>
      <input
        type="text"
        class="form-control search_field"
        placeholder="Search"
      />
    </div>

    <app-inward-nuggets
      [icomingFeedbacks]="feedbacks$ | async"
    ></app-inward-nuggets>
  </p-tabPanel>
  <p-tabPanel header="Outward Nugget">
    <app-outward-nuggets *ngIf="activeIndex == 1"></app-outward-nuggets>
  </p-tabPanel>
</p-tabView>
