<div class="d-flex justify-content-between" mat-dialog-title>
    <h2 mat-dialog-title>Social Media Accounts </h2>
    <div class="click" mat-dialog-close>
      <img src="assets/icons/x.svg" alt="" />
    </div>
  </div>
  <mat-dialog-content class="mat-typography">
    <div>
        <form [formGroup]="socialMediaForm">
            <div class="">
                <div formArrayName="socialMedia">
                  <div *ngFor="let item of newForm.controls; index as i">
                    <div [formGroupName]="i">
                        <div class="row">
                          <div class="col-12">
                            <div class="form_group mb-3">
                              <label class="col-form-label"
                                  >Social Media Type</label
                              >
                            <select class="form-control" formControlName="socialMediaType">
                                <option [value]="1">Youtube</option>
                                <option [value]="2">Linkedin</option>
                                <option [value]="3">Facebook</option>
                                <option [value]="4">Twitter</option>
                              </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form_group">
                            <label class="col-form-label"
                                >Social Media Url</label
                            >
                            <input
                                class="form-control"
                                type="text"
                                formControlName="socialMediaUrl"
                            />
                            </div>
                        </div>
                        </div>
                    </div>
                  </div>
                </div>
             </div>
        </form>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      [mat-dialog-close]="false"
      class="btn btn-outline-green btn-md me-4 px-4 d-none"
      #close
    >
      No, cancel
    </button>
    <button
      class="btn btn-outline-green btn-md me-4 px-4"
      *ngIf="newForm.controls.length < 4"
      (click)="addSocialMedia()"
    >
      Add more
    </button>
    <button
      class="btn btn-green btn-md px-4"
      (click)="submit()"
    >
        <!-- <app-loading-button
          [text]="'Save'"
          [condition]="isLoading"
        ></app-loading-button> -->
        Save
    </button>
  </mat-dialog-actions>
