@import 'partials/abstract/variables';
@import 'partials/abstract/mixins';

.course_wrapper {
    .header {
        h2 {
            font-weight: 400;
            font-size: 3.2rem;
            .coursee-title {
                font-weight: 700;
            }
        }
    }
    .view {
        height: 465.73px;
        position: relative;
        overflow-y: scroll;
        img.w-100, video {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            object-fit: cover;
        }
        .rating {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
        }
    }
    .section {
        position: relative;
        height: 465.73px;
        overflow-y: scroll;
        &-details {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            .accordion {
                &-item {
                    border-top: 0.5px solid #828282;
                    border-bottom: 0.5px solid #828282;
                }
                &-header {
                    .accordion-button {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 150%;
                    }
                }
                &-body {
                    border: none;
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height: 150%;
                    cursor: pointer;
                    .duration {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    
    .dropdown-menu {
        .dropdown-item {
          padding: 1rem 1.5rem;
          font-size: 1.2rem;
          &:hover, &:focus {
            background: #FEF1E1;
          }
        }
    }
    
    .certificate {
        text-align: center;
        color: $orange-400;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2rem;
        padding: 2rem;
    }
    
    
    #container {
        margin-top: 15px;
      }
      
      #container button{
        padding: 15px;
        background: black;
        color: white;
      }
      #container .progress-bar {
        margin-top: 15px;
        width: 100%;
        border: 2px solid black;
      }
      #container .progress-bar span{
          height: 5px;
          display:block;
          background: red;
          width: 0%;
          transition: width 0.25s ease;
      }
      
      #container button:active, #container button:focus{
          outline: none;
      }
    .tab-contents {
        min-height: 30vh;
        .course-details {
            background: $white-100;
            // position: relative;
            &_objectives, 
            &_requirements,
            &_transcript,
            &_infos{
                .card {
                    border: none;
                    padding: 1rem 1.5rem;
                    border-radius: .6rem;
                    margin-bottom: 3rem;
                    img &-img-top{
                        min-height: 350px;
                    }
                    .text {
                        font-size: 1.4rem;
                    }
                    &-body {
                        font-weight: 400;
                        line-height: 33px;
                        .card-title {
                            font-size: 2rem;
                        }
                        .card-text {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}
