<div class="d-flex justify-content-between" mat-dialog-title>
    <h2 mat-dialog-title>Assessment Score</h2>
    <div class="click" mat-dialog-close>
      <img src="assets/icons/x.svg" alt="" />
    </div>
</div>
  <mat-dialog-content class="mat-typography">
    <div class="d-flex justify-content-center">
        <div role="progressbar" 
            [attr.aria-valuenow]="score" 
            aria-valuemin="0" 
            aria-valuemax="100" 
            [style]="'--value:'+score"
        ></div>
        <div class="score py-3">
          You scored {{ score }}% in your assessment!!!
        </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      [mat-dialog-close]="false"
      class="btn btn-outline-green btn-md me-4 px-4"
      (click)="retakeAssessment()"
    >
     Retake
    </button>
    <button
      class="btn btn-green btn-md px-4"
      (click)="backtocourse()"
    >
      Go to Course
    </button>
  </mat-dialog-actions>
  