<div class="payout__wrapper">
  <app-back-button></app-back-button>
    <div class="row d-flex justify-content-between py-4">
        <div class="col-md-3">
            <h3>Payout</h3>
        </div>
        <div class="col-md-7 d-flex justify-content-end">
            <app-searchbar
              [canAdd]="true"
              [canDelete]="true"
              (deleteAction)="deletePayout()"
              (btnAction)="openPayoutDialog({ isEditing: false, editObject: {account_TypeId: 1}})"
            ></app-searchbar>
        </div>
    </div>
    <div class="payout_detail bg-white p-4">
      <ng-container
        *ngIf="isFetchingPayout || payouts.length > 0"
      >
        <div class="payout-form my-4" *ngFor="let account of payouts; index as i">
          <div class="">
              <div class="d-flex justify-content-between py-3">
                <div>
                  <label for="payout{{i}}">
                    <input
                      type="checkbox"
                      id="payout{{i}}"
                      name="" id=""
                      (change)="selectDeselectPayout(account)"
                    />
                  </label>
                </div>
                  <div class="click" (click)="openPayoutDialog({ isEditing: true, editObject: account })">
                      <img src="assets/images/edit-pen.svg" alt="">
                      <span class="edit-pen p-4">Edit</span>
                  </div>
              </div>
              <form>
                <div class="row">
                  <div class="col-md-6">
                      <div class="form_group mb-4">
                        <label for="currentPassword" class="form-label"
                          >Account Type
                        </label>
                        <select
                          class="form-control"
                          disabled
                        >
                            <option value="">{{ account?.account_TypeId == 1 ? 'Paypal' : 'Bank' }}</option>
                        </select>
                      </div>
                  </div>
                </div>

                <div *ngIf="account?.account_TypeId == 1">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form_group mb-4">
                            <label for="currentPassword" class="form-label"
                              >Paypay Email Address
                            </label>
                            <input
                            class="form-control pr-2"
                            type="email"
                            readonly
                            placeholder="{{ account?.paypal_Email }}"
                          />
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form_group mb-4">
                            <label for="currentPassword" class="form-label"
                              >Paypal Name
                            </label>
                              <input
                                class="form-control pr-2"
                                type="text"
                                readonly
                                placeholder="{{ account?.paypal_Name }}"
                              />
                          </div>
                      </div>
                  </div>
                </div>

                <div *ngIf="account?.account_TypeId == 2">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form_group mb-4">
                            <label for="currentPassword" class="form-label"
                              >Bank Name
                            </label>
                              <input
                                class="form-control pr-2"
                                type="text"
                                readonly
                                placeholder="{{ account?.bank_Name }}"
                              />
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form_group mb-4">
                            <label for="currentPassword" class="form-label"
                              >Account Name
                            </label>
                              <input
                                class="form-control pr-2"
                                type="text"
                                readonly
                                placeholder="{{ account?.account_Name }}"
                              />
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form_group mb-4">
                            <label for="currentPassword" class="form-label"
                              >Account Number
                            </label>
                              <input
                                class="form-control pr-2"
                                type="text"
                                readonly
                                placeholder="{{ account?.account_Number }}"
                              />
                          </div>
                      </div>
                  </div>
                </div>



              </form>
              <div class="d-flex justify-content-end pt-4">
                <button
                  class="btn btn-lg"
                  [disabled]="account?.account_Default"
                  [ngClass]="!account?.account_Default
                    ? 'btn-green' : 'btn-light'"
                  (click)="setAsDefault(account)"
                >
                  Set as Default
                </button>
            </div>
            </div>
        </div>
      </ng-container>

      <app-no-data
          name="Payout"
          [is_loading]="isFetchingPayout"
          *ngIf="payouts.length == 0"
          (open_dialog)="openPayoutDialog({ isEditing: false, editObject: {account_TypeId: 1}})"
      ></app-no-data>
    </div>
</div>
