<div class="personal-details-wrapper">

    <div class="row">

        <!-- left panel showing description of the section -->
        <div class="col-lg-4 left-column">
            <div class="row">
                <div class="col-md-12">
                    <p class="description-title">Change Profile Picture</p>
                    <p>Choose a new avatar to be used across the app</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="description-title">Basic Information</p>
                    <p>Tell us about yourself</p>
                </div>
            </div>

            <div class="row margin-t-73">
                <div class="col-md-12">
                    <p class="description-title">Contact Information</p>
                    <p>Fill the best/Fastest way to get through to you</p>
                </div>
            </div>

            <div class="row margin-t-27">
                <div class="col-md-12">
                    <p class="description-title">Account Information</p>
                    <p>This includes sensitive information like bank details, 
                        pension details, e.tc</p>
                </div>
            </div>

            <div class="row margin-t-25">
                <div class="col-md-12">
                    <p class="description-title">Career</p>
                    <p>In what capacity do you serve the company</p>
                </div>
            </div>

        </div>

        <!-- right panel shoqing fields for entering inputs -->
        <div class="col-lg-8 right-column">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/img/profiles/avatar-01.jpg" alt="profile image" class="profile-image">
                </div>
            </div>
            <form>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Employee ID">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Last Name/Surname">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="First Name">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Middle Name">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Gender">
                    <img class="dropdown-toggler" src="assets/icons/dropdown-down.svg" 
                    alt="Gender dropdown icon">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Marital Status">
                    <img class="dropdown-toggler" src="assets/icons/dropdown-down.svg" 
                    alt="Marital Status dropdown icon">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Date of Birth">
                    <img class="dropdown-toggler" src="assets/icons/dropdown-down.svg" 
                    alt="Date of Birth dropdown icon">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Place of Birth">
                    <img class="dropdown-toggler" src="assets/icons/dropdown-down.svg" 
                    alt="Place of Birth dropdown icon">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Country of Birth">
                    <img class="dropdown-toggler" src="assets/icons/dropdown-down.svg" 
                    alt="Country of Birth dropdown icon">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Nationalty">
                    <img class="dropdown-toggler" src="assets/icons/dropdown-down.svg" 
                    alt="Nationalty dropdown icon">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="State of Origin">
                    <img class="dropdown-toggler" src="assets/icons/dropdown-down.svg" 
                    alt="State of Origin dropdown icon">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="LGA">
                    <img class="dropdown-toggler" src="assets/icons/dropdown-down.svg" 
                    alt="LGA dropdown icon">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Identification Type">
                    <img class="dropdown-toggler" src="assets/icons/dropdown-down.svg" 
                    alt="Identification Type dropdown icon">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Identification Issuer">
                    <img class="dropdown-toggler" src="assets/icons/dropdown-down.svg" 
                    alt="Identification Issuer dropdown icon">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Identification Number">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="ID Expiry Date">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Resumption Date">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Expected Confirmation Date">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Confirmation Date">
                    <img class="dropdown-toggler" src="assets/icons/dropdown-down.svg" 
                    alt="Confirmation Date dropdown icon">
                </div>
            </div>


            <div class="row margin-t-7">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Office Number">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Personal Email">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Office Email">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Home Address">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Country">
                </div>
            </div>


            <div class="row margin-t-7">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Bank Name">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Account Name">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Account Number">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Pension Manager">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="RSA Account">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="NHF Number">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Tax ID">
                </div>
            </div>

            <div class="row margin-t-7">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Job Grade">
                    <img class="dropdown-toggler" src="assets/icons/dropdown-down.svg" 
                    alt="Confirmation Date dropdown icon">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Job Title Name">
                    <img class="dropdown-toggler" src="assets/icons/dropdown-down.svg" 
                    alt="Confirmation Date dropdown icon">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Job Type">
                    <img class="dropdown-toggler" src="assets/icons/dropdown-down.svg" 
                    alt="Confirmation Date dropdown icon">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Country">
                    <img class="dropdown-toggler" src="assets/icons/dropdown-down.svg" 
                    alt="Confirmation Date dropdown icon">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Location">
                    <img class="dropdown-toggler" src="assets/icons/dropdown-down.svg" 
                    alt="Confirmation Date dropdown icon">
                </div>
            </div>


            </form>
        </div>
    </div>

</div>
