@import 'partials/abstract/variables';
@import "partials/abstract/mixins";
@import "partials/components/forms";

.setup__wrapper {
    padding: 3rem;
    color: $black-100;
    .setup_content {
        min-height: 50vh;
    //    .setup-card {
    //         .card-left {
    //             .img-wrapper {
    //                 width: 10rem;
    //                 height: 10rem;
    //                 border-radius: 50%;
    //                 background: #C4C4C4;
    //                 position: relative;
    //                 .upload-icon {
    //                     position: absolute;
    //                     bottom: 1rem;
    //                     right: 1rem;
    //                     height: 2rem;
    //                     cursor: pointer;
    //                     .fa {
    //                         color: $orange-400;
    //                         font-size: 2rem !important;
    //                     }
    //                     .upload-file {
    //                         position: absolute;
    //                         height: 100%;
    //                         left: .05rem;
    //                         opacity: 0;
    //                     }
    //                 }
    //             }
    //             .ratings i {
    //                 color: #cecece;
    //                 font-size: 1rem
    //             }
                
    //             .rating-color {
    //                 color: $orange-400 !important
    //             }
                
    //             .review-count {
    //                 font-weight: 400;
    //                 margin-bottom: 2px;
    //                 font-size: 24px !important
    //             }
                
    //             .small-ratings i {
    //                 color: #cecece
    //             }
                
    //             .review-stat {
    //                 font-weight: 300;
    //                 font-size: 18px;
    //                 margin-bottom: 2px
    //             }
    //         }
    //         .card-right {
    //             font-size: 1.5rem;
    //             line-height: 25px;
    //         }
    //    }
    }
    .font-bold {
        font-weight: 600;
    }
    .btn-secondary {
        background: $orange-400;
        border: .1rem solid $orange-400;
    }
}