<!-- Page Content -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Appraisals</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a>Performance Management Setup</a></li>
          <li class="breadcrumb-item">
            <a routerLink="/performance/setup/appraisal-cycle"
              >Appraisals Cycle</a
            >
          </li>
          <li class="breadcrumb-item active">Appraisals</li>
        </ul>
      </div>
      <div class="col-auto float-right ml-auto df">
        <input
          type="file"
          class="form-control"
          (change)="handleFileUpload($event.target.files)"
        />
        <a
          (click)="uploadAppraisalSummary()"
          class="btn upload-btn"
          pTooltip="Upload Excel File: (Employee Name, Department, Reviewer I score,Reviewer II
            score, Reviewer III score, 360(managers), 360(peers), 360(reports),
            360(self), overall, overall remark, adjustment, score"
          data-toggle="modal"
        >
          <i class="fa fa-upload"></i
        ></a>
        <a
          class="btn download-btn hint"
          data-toggle="modal"
          (click)="downloadAppraisals()"
          ><span class="hint-text">Download</span><i class="fa fa-download"></i
        ></a>
        <a class="btn delete-btn hint" (click)="delete()"
          ><span class="hint-text">Delete</span><i class="fa fa-trash"></i
        ></a>
      </div>
    </div>
  </div>
  <!-- /Page Header -->
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <p-table
          #dt
          class="table table-striped custom-table datatable table-hover"
          [value]="appraisals$ | async"
          [columns]="cols"
          [scrollable]="true"
          [responsive]="true"
          [style]="{ width: '200rem' }"
          [(selection)]="selectedItems"
        >
          <ng-template pTemplate="caption">
            <div style="text-align: right">
              <input
                type="text"
                pInputText
                size="50"
                class="form-control"
                placeholder="Search..."
                (keyup)="dt.filterGlobal($event.target.value, 'contains')"
                style="width: auto"
              />
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th class="sn_width">
                <!--<input
                  type="checkbox"
                  [checked]="selectedId.length === appraisalList.length"
                  (change)="checkAll($event)"
                />-->
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th class="sn_width">S/N</th>
              <th class="cell_width" pSortableColumn="employeeName">
                Employee
              </th>
              <th class="cell_width" pSortableColumn="companyName">Dept</th>
              <th pSortableColumn="reviewerOneScore">Reviewer I score</th>
              <th pSortableColumn="reviewerTwoScore">Reviewer II score</th>
              <th pSortableColumn="reviewerThreeScore">Reviewer III score</th>
              <th class="text-center" pSortableColumn="">360 (Managers)</th>
              <th class="text-center" pSortableColumn="_360Peers">
                360 (Peers)
              </th>
              <th class="text-center" pSortableColumn="_360Report">
                360 (Reports)
              </th>
              <th class="text-center" pSortableColumn="_360Self">360 (Self)</th>
              <th class="text-center" pSortableColumn="overall">Overall</th>
              <th class="cell_width" pSortableColumn="overallRemark">
                Overall remark
              </th>
              <th class="text-center" pSortableColumn="score">Score</th>
              <th class="cell_width" pSortableColumn="">Adjustment</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row let-i="rowIndex">
            <tr class="pointer">
              <td (click)="stopParentEvent($event)" class="sn_width">
                <!-- <input
                  type="checkbox"
                  [checked]="selectedId.includes(row.id)"
                  (change)="addItemId($event, row.id)"
                />-->
                <p-tableCheckbox [value]="row"></p-tableCheckbox>
              </td>
              <td class="sn_width">{{ i + 1 }}</td>
              <td
                (click)="viewAppraisal(row)"
                style="cursor: pointer; width: 15rem"
              >
                {{ row.employeeName | titlecase }}
              </td>
              <td class="cell_width">{{ row.companyName | titlecase }}</td>
              <td class="text-center">{{ row.reviewerOneScore }}</td>
              <td class="text-center">{{ row.reviewerTwoScore }}</td>
              <td class="text-center">{{ row.reviewerThreeScore }}</td>
              <td class="text-center">{{ row.prop }}</td>
              <td class="text-center">{{ row._360Peers }}</td>
              <td class="text-center">{{ row._360Report }}</td>
              <td class="text-center">{{ row._360Self }}</td>
              <td class="text-center">{{ row.overall }}</td>
              <td class="cell_width">{{ row.overallRemark }}</td>
              <td class="cell_width text-center">{{ row.score }}</td>
              <td class="cell_width">{{ row.prop }}</td>
              <td>
                <a (click)="reOpenObjective()">
                  <i class="fa fa-pencil" pTooltip="Reopen Objectives"></i>
                </a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
