<div class="container">
    <div class=" my-5">
       <div class="d-flex justify-content-between">
        <div class="py-3">
          <h3>Innocent Sample</h3>
          </div>
          <div>
            <button 
              class="btn-green btn-lg"
              [routerLink]="['/training-provider/courses/add-course', {instructorId: 1}]"
            >Add New Course</button>
          </div>
       </div>
      <ul class="nav nav-pills vertical-nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            [ngClass]="{ active: current_tab == 'information' }"
            id="pills-info-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-info"
            type="button"
            role="tab"
            aria-controls="pills-info"
            aria-selected="true"
            (click)="getInformation()"
          >
            Personal Information
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            [ngClass]="{ active: current_tab == 'courses' }"
            id="pills-identity-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-identity"
            type="button"
            role="tab"
            aria-controls="pills-identity"
            aria-selected="false"
            (click)="getCourses()"
          >
            Facilitated Ccourses
          </button>
        </li>
      </ul>
    </div>
  
    <section class="tab-content mt-4" id="pills-tabContent">
      <app-facilitated-courses *ngIf="current_tab == 'courses'"></app-facilitated-courses>
      <app-instructor-information *ngIf="current_tab == 'information'"></app-instructor-information>
    </section>
</div>