@import 'partials/abstract/variables';
@import "partials/abstract/mixins";
@import "partials/components/forms";

.running_courses-wrapper {
    padding: 3rem;
    color: $black-100;
    table.table {
        text-align: center;
       a {
        text-decoration: none;
        color: $text-body;
       }
    }
}
