<div class="running_courses-wrapper m-0">
  <app-back-button></app-back-button>
    <div class="d-flex justify-content-between title pt-3 pb-4">
        <h3>Training Providers</h3>
        <app-searchbar
              [canAdd]="false"
              [canDelete]="false"
              [canDownload]="true"
        ></app-searchbar>
    </div>
    <div class="table-responsive bg-white">
      <ng-container
          class="bg-white p-4"
          *ngIf="isfetchingCourses || runningCourses.length > 0"
        >
            <p-table
                #dt
                [value]="runningCourses"
                dataKey="trainingProviderId"
                [(selection)]="selectedCourses"
                [paginator]="true"
                [rows]="10"
                [responsive]="true"
                [scrollable]="true"
                [scrollHeight]="viewHeight"
                class=""
            >
              <ng-template pTemplate="header">
                  <tr class="thead">
                      <th [pSortableColumn]="'full_Name'">Name</th>
                      <th [pSortableColumn]="'email_Address'">Email Address</th>
                      <th [pSortableColumn]="'website'">Website</th>
                      <th [pSortableColumn]="'phone_Number'">Phone Number</th>
                      <th [pSortableColumn]="'createdOn'">Date Joined</th>
                      <th [pSortableColumn]="'courses'">Courses</th>
                      <th>Action</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-course let-i="rowIndex">
                <tr class="tbody" [pSelectableRow]="course">
                  <td>{{ course?.full_Name }}</td>
                  <td>
                    <a [href]="'mailto:' + course?.email_Address">{{ course?.email_Address }} </a>
                  </td>
                  <td>
                    <a [href]="course?.website" target="_blank">{{ course?.website ?? '--' }}</a>
                  <td>
                    <a [href]="'tel:' + course?.phone_Number">{{ course?.phone_Number ?? '--' }} </a>
                  </td>
                  <td>
                    {{ course?.createdOn | date }}
                  </td>
                  <td class="click" routerLink="/courses" [queryParams]="{q: course?.trainingProviderId}">
                    {{ course?.courses }}
                  </td>
                  <td>
                    <button class="btn btn-green btn-md" (click)="suspendprovider(course?.trainingProviderId)">{{ course?.status }}</button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
      </ng-container>

      <app-no-data
          name="Training Providers"
          [is_loading]="isfetchingCourses"
          *ngIf="runningCourses?.length == 0"
          [showAddBtn]="false"
        >
      </app-no-data>
    </div>
  </div>
