<!-- Appraisal Cycle Page -->

<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="col">
      <h5 class="page-title">{{ cardFormTitle }}</h5>
    </div>
    <div class="modal-body">
      <form [formGroup]="appraisalCycleForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Calender Range</label>
              <input type="text" name="calenderRange" class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Company <span class="text-danger">*</span></label>
              <select
                type="text"
                class="form-control"
                name="company"
                formControlName="department"
              >
                <option selected value="">Company</option>
                <option
                  *ngFor="let row of offices"
                  value="{{ row.companyStructureId }}"
                >
                  {{ row.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>Review Year</label>
              <select
                type="date"
                name="reviewYear"
                class="form-control"
                formControlName="reviewYear"
              >
                <option selected value="Review Year">Review Year</option>
                <option *ngFor="let row of years" value="{{ row.year }}">
                  {{ row.year }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Start Period</label>{{ dateObj | date }}
              <input
                type="date"
                name="startDate"
                class="form-control"
                formControlName="startPeriod"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>End Period</label>
              <input
                type="date"
                name="endDate"
                class="form-control"
                formControlName="endPeriod"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Due Date</label>
              <input
                type="date"
                name="dueDate"
                class="form-control"
                formControlName="dueDate"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Reviewer Weight I</label>
              <input
                name="reviewerOneWeight"
                type="number"
                class="form-control"
                formControlName="reviewerOneWeight"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Reviewer Weight II</label>
              <input
                name="reviewerTwoWeight"
                type="number"
                class="form-control"
                formControlName="reviewerTwoWeight"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Reviewer Weight iii</label>
              <input
                name="reviewerThreeWeight"
                type="number"
                class="form-control"
                formControlName="reviewerThreeWeight"
              />
            </div>
          </div>
          <!--          <div class="col-md-6">-->
          <!--            <div class="form-group">-->
          <!--              <label>Reviewee Weight</label>-->
          <!--              <input-->
          <!--                class="form-control"-->
          <!--                name="revieweeWeight"-->
          <!--                type="number"-->
          <!--                [(ngModel)]="revieweeWeight"-->
          <!--              />-->
          <!--            </div>-->
          <!--          </div>-->
          <div class="col-md-6">
            <div class="form-group">
              <label>Status</label>
              <select
                class="form-control"
                name="status"
                type="number"
                formControlName="status"
              >
                <option selected value="">Status</option>
                <option value="1">Locked</option>
                <option value="2">Open</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div>
            <div
              class="btn-toolbar"
              role="toolbar"
              aria-label="Toolbar with button groups"
            >
              <div
                class="submit-section"
                class="btn-group mr-2"
                role="group"
                aria-label="First group"
              >
                <button
                  type="button"
                  class="btn btn-danger"
                  [routerLink]="['/performance/setup/appraisal-cycle']"
                  routerLinkActive="router-link-active"
                >
                  Back
                </button>

                <button
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="spinner"
                  (click)="submitAppraisalCycleForm(appraisalCycleForm)"
                >
                  <span *ngIf="!spinner">Submit</span>
                  <span *ngIf="spinner"
                    ><i class="fa fa-spinner fa-spin"></i
                  ></span>
                </button>

                <!--                <button type="button" class="btn btn-warning"></button>-->

                <button
                  type="button"
                  class="btn btn-warning"
                  style="color: #fff"
                >
                  Copy previous objectives
                </button>

                <button class="btn btn-success" type="button">
                  Send Objective Alert
                </button>

                <button class="btn btn-info" type="button">
                  Send Feedback Alert
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- /Appraisal Cycle Page -->
