<app-loading *ngIf="pageLoading"></app-loading>
<!-- Page Content -->
<div *ngIf="!pageLoading" class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Job Grade</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Setup</a></li>
                    <li class="breadcrumb-item active">Job Grade</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a class="btn download-btn hint"><span class="hint-text">Download</span><i
                        class="fa fa-download"></i></a>
                <a class="btn upload-btn hint" (click)="openUploadModal()"><span class="hint-text">Upload</span><i
                        class="fa fa-upload"></i></a>
                <a class="btn add-btn hint" data-toggle="modal" (click)="openModal()"><span
                        class="hint-text">Add</span><i class="fa fa-plus"></i></a>
                <a class="btn delete-btn hint" (click)="delete()"><span class="hint-text">Delete</span><i
                        class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table datatable table-hover" datatable [dtOptions]="dtOptions"
                    [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" [checked]="selectedId.length === jobGrades.length"
                                    (change)="checkAll($event)" />
                            </th>
                            <th>S/N</th>
                            <th>Job Grade</th>
                            <th>Report To</th>
                            <th>Rank</th>
                            <th>Probation Period</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-toggle="modal" class="pointer" data-target="#edit_employee" (click)="edit(row)"
                            *ngFor="let row of jobGrades | filter:searchText; let i = index">
                            <td (click)="stopParentEvent($event)">
                                <input type="checkbox" [checked]="selectedId.includes(row.id)"
                                    (change)="addItemId($event, row.id)" />
                            </td>
                            <td>{{ i + 1 }}</td>
                            <td>{{ row.job_grade }}</td>
                            <td>{{ row.job_grade_reporting_to }}</td>
                            <td>{{ row.rank }}</td>
                            <td>{{ row.probation_period_in_months }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Job Grade Modal -->
<div id="add_job_grade" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{formTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addJobGrade(jobGradeForm)" [formGroup]="jobGradeForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Job Grade <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" [class.invalid]="
                                jobGradeForm.get('job_grade').invalid &&
                                jobGradeForm.get('job_grade').touched
                    " formControlName="job_grade" />
                                <div *ngIf="
                                jobGradeForm.get('job_grade').invalid &&
                                jobGradeForm.get('job_grade').touched
                    ">
                                    <small *ngIf="
                                    jobGradeForm.get('job_grade').invalid &&
                                    jobGradeForm.get('job_grade').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Reporting To<span class="text-danger">*</span></label>
                                <!--  <textarea class="form-control" type="text" [class.invalid]="
                                jobGradeForm.get('job_grade_reporting_to').invalid &&
                                jobGradeForm.get('job_grade_reporting_to').touched
                    " formControlName="job_grade_reporting_to"></textarea> -->
                                <select class="form-control" [class.invalid]="
                    jobGradeForm.get('job_grade_reporting_to').invalid &&
                    jobGradeForm.get('job_grade_reporting_to').touched" formControlName="job_grade_reporting_to">
                                    <option value="N/A">N/A</option>
                                    <option selected value="">Select Reporting to</option>

                                    <option *ngFor="let row of jobGrades" value="{{row.job_grade}}">{{row.job_grade}}
                                    </option>
                                </select>
                                <div *ngIf="
                                jobGradeForm.get('job_grade_reporting_to').invalid &&
                                jobGradeForm.get('job_grade_reporting_to').touched
                    ">
                                    <small *ngIf="
                                    jobGradeForm.get('job_grade_reporting_to').invalid &&
                                    jobGradeForm.get('job_grade_reporting_to').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Rank <span class="text-danger">*</span></label>
                                <input class="form-control" type="number" [class.invalid]="
                                jobGradeForm.get('rank').invalid &&
                                jobGradeForm.get('rank').touched
                    " formControlName="rank" min="1" />
                                <div *ngIf="
                                jobGradeForm.get('rank').invalid &&
                                jobGradeForm.get('rank').touched
                    ">
                                    <small *ngIf="
                                    jobGradeForm.get('rank').invalid &&
                                    jobGradeForm.get('rank').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Probation Period <span
                                        class="text-danger">*</span></label>
                                <input class="form-control" type="number" [class.invalid]="
                                jobGradeForm.get('probation_period_in_months').invalid &&
                                jobGradeForm.get('probation_period_in_months').touched
                    " formControlName="probation_period_in_months" min="1" />
                                <div *ngIf="
                                jobGradeForm.get('probation_period_in_months').invalid &&
                                jobGradeForm.get('probation_period_in_months').touched
                    ">
                                    <small *ngIf="
                                    jobGradeForm.get('probation_period_in_months').invalid &&
                                    jobGradeForm.get('probation_period_in_months').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label">Description <span class="text-danger">*</span></label>

                                <textarea rows="5" class="form-control" [class.invalid]="
                    jobGradeForm.get('description').invalid &&
                    jobGradeForm.get('description').touched
                    " formControlName="description"></textarea>
                                <div *ngIf="
                                jobGradeForm.get('description').invalid &&
                                jobGradeForm.get('description').touched
                    ">
                                    <small *ngIf="
                                    jobGradeForm.get('description').invalid &&
                                    jobGradeForm.get('description').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Employee Modal -->

<!-- Delete Employee Modal -->
<div class="modal custom-modal fade" id="delete_employee" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Employee</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a class="btn btn-primary continue-btn" (click)="deleteEmployee()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Employee Modal -->
<!-- Upload Job Grade Modal -->
<div id="upload_job_grade" class="modal custom-modal fade " role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Job Grade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body px-5">
                <form (ngSubmit)="uploadJobGrade()" [formGroup]="jobGradeUploadForm">
                    <div class="row">

                        <div class="form-group row">
                            <label class="col-form-label col-md-5">Choose File (excel format)</label>
                            <div class="col-md-7">
                                <input class="form-control" name="uploadInput" id="uploadInput" #fileInput type="file"
                                    (change)="onSelectedFile($event)">
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <p>Please use the guide below for your sheet</p>
                        <table class="table table-bordered">
                            <tr>
                                <th>Job Grade</th>
                                <th>Description</th>
                                <th>Report To</th>
                                <th>Rank</th>
                                <th>Probation Period</th>
                            </tr>
                        </table>
                    </div>

                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit" (ngSubmit)="uploadJobGrade()" [disabled]="spinner">
                            <span *ngIf="!spinner">Submit</span> 
                            <span *ngIf="spinner" ><i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Upload Job Grade Modal -->