<!--
<div class="content container-fluid">
  &lt;!&ndash; page Header Start &ndash;&gt;
  <div class="card">
    <div class="card-header header-bg-color">
      <h5><b>360 Feedback </b></h5>
    </div>
    <div class="card-body" style="padding: 2rem">
      <div class="row">
        <div class="col-auto float-right ml-auto">
          <input
            type="text"
            class="form-control search_field"
            placeholder="Search"
          />
        </div>
        <p-table
          class="table table-striped custom-table datatable table-hover"
          [value]="feedbacks$ | async"
        >
          <ng-template pTemplate="header">
            <tr>
              <th class="table-checkbox">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th class="sn_width">S/N</th>
              <th>Employee</th>
              <th>Job Title</th>
              <th>Office</th>
              <th>Request On</th>
              <th>Complete Status</th>
              <th>Submitted</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr
              style="cursor: pointer"
              (click)="viewFeedback(item)"
              [ngClass]="{ disabled: item.isSubmitted }"
            >
              <td class="table-checkbox">
                <p-tableCheckbox
                  (click)="stopParentEvent($event)"
                  [value]="item"
                ></p-tableCheckbox>
              </td>
              <td class="sn_width">{{ i + 1 }}</td>
              <td>{{ item.revieweeName | titlecase }}</td>
              <td>{{ item.jobTitleName | titlecase }}</td>
              <td>{{ item.companyName | titlecase }}</td>
              <td>{{ item.requestOn | date | date: "mediumDate" }}</td>
              <td>{{ item.statusName | titlecase }}</td>
              <td>
                <span *ngIf="item.isSubmitted">Yes</span>
                <span *ngIf="!item.isSubmitted">No</span>
              </td>
            </tr>
          </ng-template>
          <tbody></tbody>
        </p-table>
      </div>
    </div>
  </div>
</div>
-->
<!--*ngFor="let item of feedbacks$ | async"-->
<div class="dg gtc mt10">
  <div class="g-card p10">
    <div class="g-card-top df sb mb10">
      <input type="checkbox" />
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
    <div class="g-card-mid df sb" *ngFor="let item of feedbacks$ | async">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">employee</div>
        <div class="g-card-title">joshua chukwu</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">request date</div>
        <div class="g-card-title">02 feb, 2021</div>
      </div>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">position</div>
        <div class="g-card-title">engineering manager</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">status</div>
        <div class="g-card-title">submitted</div>
      </div>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">company</div>
        <div class="g-card-title company-name">abc</div>
      </div>
    </div>
    <div class="g-card-mid df flex-end">
      <div class="card-mid-item pt10 pb10">
        <button class="feedback-btn gos-btn">feeback</button>
      </div>
    </div>
  </div>
  <div class="g-card p10">
    <div class="g-card-top df sb mb10">
      <input type="checkbox" />
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">employee</div>
        <div class="g-card-title">joshua chukwu</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">request date</div>
        <div class="g-card-title">02 feb, 2021</div>
      </div>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">position</div>
        <div class="g-card-title">engineering manager</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">status</div>
        <div class="g-card-title">submitted</div>
      </div>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">company</div>
        <div class="g-card-title company-name">abc</div>
      </div>
    </div>
    <div class="g-card-mid df flex-end">
      <div class="card-mid-item pt10 pb10">
        <button class="feedback-btn gos-btn">feeback</button>
      </div>
    </div>
  </div>
  <div class="g-card p10">
    <div class="g-card-top df sb mb10">
      <input type="checkbox" />
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">employee</div>
        <div class="g-card-title">joshua chukwu</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">request date</div>
        <div class="g-card-title">02 feb, 2021</div>
      </div>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">position</div>
        <div class="g-card-title">engineering manager</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">status</div>
        <div class="g-card-title">submitted</div>
      </div>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">company</div>
        <div class="g-card-title company-name">abc</div>
      </div>
    </div>
    <div class="g-card-mid df flex-end">
      <div class="card-mid-item pt10 pb10">
        <button class="feedback-btn gos-btn">feeback</button>
      </div>
    </div>
  </div>
  <div class="g-card p10">
    <div class="g-card-top df sb mb10">
      <input type="checkbox" />
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">employee</div>
        <div class="g-card-title">joshua chukwu</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">request date</div>
        <div class="g-card-title">02 feb, 2021</div>
      </div>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">position</div>
        <div class="g-card-title">engineering manager</div>
      </div>
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">status</div>
        <div class="g-card-title">submitted</div>
      </div>
    </div>
    <div class="g-card-mid df sb">
      <div class="card-mid-item pt10 pb10">
        <div class="g-card-label">company</div>
        <div class="g-card-title company-name">abc</div>
      </div>
    </div>
    <div class="g-card-mid df flex-end">
      <div class="card-mid-item pt10 pb10">
        <button class="feedback-btn gos-btn">feeback</button>
      </div>
    </div>
  </div>
</div>
