<div class="payout__wrapper">
    <div class="row d-flex justify-content-between py-4">
        <div class="col-md-3">
            <h3>Payout</h3>
        </div>
        <div class="col-md-7 d-flex justify-content-end">
            <app-searchbar [canAdd]="true" [canDelete]="true"></app-searchbar>
        </div>
    </div>
    <div class="payout_detail">
        <div class="payout-form bg-white p-4 my-3">
            <div class="d-flex justify-content-between">
                <div>
                    <input type="checkbox" name="" id="">
                </div>
                <div class="click" (click)="openPayoutDialog({ isEditing: false })">
                    <img src="assets/images/edit-pen.svg" alt="">
                    <span>Edit</span>
                </div>
            </div>
            <form>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form_group mb-5">
                      <label for="firstName" class="form-label"
                        >Account Type
                      </label>
                     <select name="" id="" class="form-control">
                         <option value="individual">Individual</option>
                         <option value="cooperate">Cooperate</option>
                     </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form_group mb-5">
                          <label for="middleName" class="form-label"
                            >Paypay Email Address
                          </label>
                          <input
                            type="email"
                            id="middleName"
                            class="form-control"
                            placeholder="Enter Middle Name"
                            formControlName="middleName"
                          />
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form_group mb-5">
                          <label for="lastName" class="form-label"
                            >Paypal Name
                          </label>
                          <input
                            type="text"
                            id="email"
                            class="form-control"
                            placeholder="Enter Last Name"
                            formControlName="lastName"
                          />
                        </div>
                      </div>
                </div>
            </form>
        </div>

        <div class="payout-form bg-white p-4 my-5">
            <div class="d-flex justify-content-between">
                <div>
                    <input type="checkbox" name="" id="">
                </div>
                <div>
                    <img src="assets/images/edit-pen.svg" alt="">
                    <span>Edit</span>
                </div>
            </div>
            <form>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form_group mb-5">
                      <label for="firstName" class="form-label"
                        >Account Type
                      </label>
                     <select name="" id="" class="form-control">
                         <option value="individual">Individual</option>
                         <option value="cooperate">Cooperate</option>
                     </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form_group mb-5">
                          <label for="middleName" class="form-label"
                            >Paypay Email Address
                          </label>
                          <input
                            type="email"
                            id="middleName"
                            class="form-control"
                            placeholder="Enter Middle Name"
                            formControlName="middleName"
                          />
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form_group mb-5">
                          <label for="lastName" class="form-label"
                            >Paypal Name
                          </label>
                          <input
                            type="text"
                            id="email"
                            class="form-control"
                            placeholder="Enter Last Name"
                            formControlName="lastName"
                          />
                        </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form_group mb-5">
                          <label for="phoneNo" class="form-label"
                            >Account Number
                          </label>
                          <input
                            type="text"
                            id="phoneNo"
                            class="form-control"
                            placeholder="Enter phone number"
                            formControlName="phoneNumber1"
                          />
                        </div>
                      </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-green btn-lg">
                        Set as Default
                    </button>
                </div>
            </form>
        </div>

        <div class="payout-form bg-white p-4 my-5">
            <div class="d-flex justify-content-between">
                <div>
                    <input type="checkbox" name="" id="">
                </div>
                <div>
                    <img src="assets/images/edit-pen.svg" alt="">
                    <span>Edit</span>
                </div>
            </div>
            <form>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form_group mb-5">
                      <label for="firstName" class="form-label"
                        >Account Type
                      </label>
                     <select name="" id="" class="form-control">
                         <option value="individual">Individual</option>
                         <option value="cooperate">Cooperate</option>
                     </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form_group mb-5">
                          <label for="middleName" class="form-label"
                            >Paypay Email Address
                          </label>
                          <input
                            type="email"
                            id="middleName"
                            class="form-control"
                            placeholder="Enter Middle Name"
                            formControlName="middleName"
                          />
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form_group mb-5">
                          <label for="lastName" class="form-label"
                            >Paypal Name
                          </label>
                          <input
                            type="text"
                            id="email"
                            class="form-control"
                            placeholder="Enter Last Name"
                            formControlName="lastName"
                          />
                        </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form_group mb-5">
                          <label for="phoneNo" class="form-label"
                            >Account Number
                          </label>
                          <input
                            type="text"
                            id="phoneNo"
                            class="form-control"
                            placeholder="Enter phone number"
                            formControlName="phoneNumber1"
                          />
                        </div>
                      </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-green btn-lg">
                        Set as Default
                    </button>
                </div>
            </form>
        </div>

        <div class="payout-form bg-white p-4 my-5">
            <div class="d-flex justify-content-between">
                <div>
                    <input type="checkbox" name="" id="">
                </div>
                <div>
                    <img src="assets/images/edit-pen.svg" alt="">
                    <span>Edit</span>
                </div>
            </div>
            <form>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form_group mb-5">
                      <label for="firstName" class="form-label"
                        >Account Type
                      </label>
                     <select name="" id="" class="form-control">
                         <option value="individual">Individual</option>
                         <option value="cooperate">Cooperate</option>
                     </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form_group mb-5">
                          <label for="middleName" class="form-label"
                            >Paypay Email Address
                          </label>
                          <input
                            type="email"
                            id="middleName"
                            class="form-control"
                            placeholder="Enter Middle Name"
                            formControlName="middleName"
                          />
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form_group mb-5">
                          <label for="lastName" class="form-label"
                            >Paypal Name
                          </label>
                          <input
                            type="text"
                            id="email"
                            class="form-control"
                            placeholder="Enter Last Name"
                            formControlName="lastName"
                          />
                        </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form_group mb-5">
                          <label for="phoneNo" class="form-label"
                            >Account Number
                          </label>
                          <input
                            type="text"
                            id="phoneNo"
                            class="form-control"
                            placeholder="Enter phone number"
                            formControlName="phoneNumber1"
                          />
                        </div>
                      </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-light btn-lg">
                        Set as Default
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>