@import 'partials/abstract/variables';
@import "partials/abstract/mixins";
@import "partials/components/forms";

.payout__wrapper {
    padding: 3rem 5rem;
    .payout-form {
        span {
            color: $orange-400;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 2.1rem;
        }
    }
}