<div class="container">
    <div class=" my-5">
      <app-back-button class="py-4"></app-back-button>
       <div class="d-flex justify-content-between">
        <div class="py-3">
          <h3>Innocent Sample</h3>
          </div>
          <div class="d-flex" *ngIf="current_tab === 2">
            <button
              mat-raised-button #tooltip="matTooltip"
              matTooltip="Add"
              [matTooltipPosition]="'below'"
              matTooltipHideDelay="100"
              aria-label="Add"
              class="btn-green btn-lg me-2"
            >
            <svg width="18" height="18" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title></title> <g id="Complete"> <g data-name="add" id="add-2"> <g> <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12" x2="12" y1="19" y2="5"></line> <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="5" x2="19" y1="12" y2="12"></line> </g> </g> </g> </g></svg>
            </button>
            <button
              mat-raised-button #tooltip="matTooltip"
              matTooltip="Delete"
              [matTooltipPosition]="'below'"
              matTooltipHideDelay="100"
              aria-label="Delete"
              class="btn-green btn-lg"
            >
              <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10 11V17" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M14 11V17" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M4 7H20" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M6 7H12H18V18C18 19.6569 16.6569 21 15 21H9C7.34315 21 6 19.6569 6 18V7Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            </button>
          </div>
       </div>
      <ul class="nav nav-pills vertical-nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            [ngClass]="{ active: current_tab === 1 }"
            id="pills-info-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-info"
            type="button"
            role="tab"
            aria-controls="pills-info"
            aria-selected="true"
            (click)="toggleTab(1)"
          >
            Page Banner
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            [ngClass]="{ active: current_tab === 2}"
            id="pills-identity-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-identity"
            type="button"
            role="tab"
            aria-controls="pills-identity"
            aria-selected="false"
            (click)="toggleTab(2)"
          >
            Page Content
          </button>
        </li>
      </ul>
    </div>

    <section class="tab-content mt-4" id="pills-tabContent">
      <app-facilitated-courses *ngIf="current_tab === 1"></app-facilitated-courses>
      <app-instructor-information *ngIf="current_tab === 2"></app-instructor-information>
    </section>
</div>
