<div>
  <!--Page Header starts  -->
  <div class="card">
    <div class="card-header header-bg-color">
      <h5><b>Performance Appraisal Feedback Form</b></h5>
    </div>

    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="gos-label" for="reviewYear">Review Year</label>
              <!--<select name="" id="" class="form-control">
                <option value="">2021</option>
              </select>-->
              <input
                type="text"
                id="reviewYear"
                class="form-control"
                name="reviewYear"
                [(ngModel)]="appraisalFeedbackForm.reviewYear"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="jobgrade" class="gos-label">Grade</label>
              <input
                type="text"
                class="form-control"
                id="jobgrade"
                name="jobGradeName"
                [(ngModel)]="appraisalFeedbackForm.jobGradeName"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="startperiod" class="gos-label text-uppercase"
                    >Review start period</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="startperiod"
                    name="startperiod"
                    [(ngModel)]="appraisalFeedbackForm.startDate"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="endperiod" class="gos-label text-uppercase">
                    review period end</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="endperiod"
                    name="endperiod"
                    [(ngModel)]="appraisalFeedbackForm.endDate"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="dept" class="gos-label text-uppercase"
                >department</label
              >
              <input type="text" class="form-control" id="dept" name="dept" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="employeenumber" class="gos-label text-uppercase"
                >employee number</label
              >
              <input
                type="text"
                class="form-control"
                id="employeenumber"
                name="employeenumber"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="location" class="gos-label text-uppercase"
                >location</label
              >
              <input
                type="text"
                class="form-control"
                name="location"
                id="location"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="employeename" class="gos-label text-uppercase"
                >employee name</label
              >
              <input
                type="text"
                class="form-control"
                id="employeename"
                name="employeeName"
                [(ngModel)]="appraisalFeedbackForm.employeeName"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="time" class="gos-label text-uppercase"
                >time in present position</label
              >
              <input type="text" class="form-control" id="time" name="time" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="jobtitle" class="gos-label text-uppercase"
                >job title</label
              >
              <input
                type="text"
                class="form-control"
                id="jobtitle"
                name="jobTitleName"
                [(ngModel)]="appraisalFeedbackForm.jobTitleName"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lengthofservice" class="gos-label text-uppercase"
                >length of service</label
              >
              <input
                type="text"
                class="form-control"
                id="lengthofservice"
                name="lengthOfService"
                [(ngModel)]="appraisalFeedbackForm.lengthOfService"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="reviewer1" class="gos-label text-uppercase"
                >reviewer i</label
              >
              <input
                type="text"
                class="form-control"
                id="reviewer1"
                name="firstReviewerName"
                [(ngModel)]="appraisalFeedbackForm.firstReviewerName"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="reviewer1point" class="gos-label text-uppercase"
                >reviewer I point</label
              >
              <input
                type="text"
                class="form-control"
                id="reviewer1point"
                name="firstReviewerPoint"
                [(ngModel)]="appraisalFeedbackForm.firstReviewerPoint"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="reviewer2" class="gos-label text-uppercase"
                >reviewer II</label
              >
              <input
                type="text"
                class="form-control"
                id="reviewer2"
                name="secondReviewerName"
                [(ngModel)]="appraisalFeedbackForm.secondReviewerName"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="reviewer2point" class="gos-label text-uppercase"
                >reviewer II point average</label
              >
              <input
                type="text"
                class="form-control"
                id="reviewer2point"
                name="secondReviewerPoint"
                [(ngModel)]="appraisalFeedbackForm.secondReviewerPoint"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="reviewer3" class="gos-label text-uppercase"
                >reviewer III</label
              >
              <input
                type="text"
                class="form-control"
                id="reviewer3"
                name="thirdReviewerName"
                [(ngModel)]="appraisalFeedbackForm.thirdReviewerName"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="reviewer3point" class="gos-label text-uppercase"
                >reviewer III point average</label
              >
              <input
                type="text"
                class="form-control"
                id="reviewer3point"
                name="thirdReviewerPoint"
                [(ngModel)]="appraisalFeedbackForm.thirdReviewerPoint"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label
                for="reviewer1recommendation"
                class="gos-label text-uppercase"
                >reviewer i recommendation</label
              >
              <input
                type="text"
                class="form-control"
                id="reviewer1recommendation"
                name="firstReviewerRecommendation"
                [(ngModel)]="appraisalFeedbackForm.firstReviewerRecommendation"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label
                for="reviewer2recommendation"
                class="gos-label text-uppercase"
                >reviewer ii recommendation</label
              >
              <input
                type="text"
                class="form-control"
                id="reviewer2recommendation"
                name="secondReviewerRecommendation"
                [(ngModel)]="appraisalFeedbackForm.secondReviewerRecommendation"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label
                for="reviewer3recommendation"
                class="gos-label text-uppercase"
                >reviewer iii recommendation</label
              >
              <input
                type="text"
                class="form-control"
                id="reviewer3recommendation"
                name="thirdReviewerRecommendation"
                [(ngModel)]="appraisalFeedbackForm.thirdReviewerRecommendation"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="overallremark" class="gos-label text-uppercase"
                >overall remark</label
              >
              <input
                type="text"
                class="form-control"
                id="overallremark"
                name="overallRemark"
                [(ngModel)]="appraisalFeedbackForm.overallRemark"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="revieweepointaverage" class="gos-label text-uppercase"
                >reviewee point average</label
              >
              <input
                type="text"
                class="form-control"
                id="revieweepointaverage"
                name="averageReviewerPoint"
                [(ngModel)]="appraisalFeedbackForm.averageReviewerPoint"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="overallpoint" class="gos-label text-uppercase"
                >overall point</label
              >
              <input
                type="text"
                class="form-control"
                id="overallpoint"
                name="overallPoint"
                [(ngModel)]="appraisalFeedbackForm.overallPoint"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="overallscore" class="gos-label text-uppercase"
                >overall score(%)</label
              >
              <input
                type="text"
                class="form-control"
                id="overallscore"
                name="overallScore"
                [(ngModel)]="appraisalFeedbackForm.overallScore"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="adjustedoverallscore" class="gos-label text-uppercase"
                >adjusted overall score(%)</label
              >
              <input
                type="text"
                class="form-control"
                id="adjustedoverallscore"
                name="adjustedOverallScore"
                [(ngModel)]="appraisalFeedbackForm.adjustedOverallScore"
              />
            </div>
          </div>
          <div class="col-md-12">
            <label for="hrrecommendation" class="gos-label text-uppercase"
              >hr recommendation</label
            >
            <textarea
              name="hrRecommendation"
              id="hrrecommendation"
              class="form-control"
              [(ngModel)]="appraisalFeedbackForm.hrRecommendation"
            ></textarea>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label
                for="employeefinaldecision"
                class="gos-label text-uppercase"
                >employee final decision</label
              >
              <input
                type="text"
                class="form-control"
                id="employeefinaldecision"
                name="employeeFinalDecision"
                [(ngModel)]="appraisalFeedbackForm.employeeFinalDecision"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="employeecomment" class="gos-label text-uppercase"
                >employee comment</label
              >
              <input
                type="text"
                class="form-control"
                id="employeecomment"
                name="employeeComment"
                [(ngModel)]="appraisalFeedbackForm.employeeComment"
              />
            </div>
          </div>
        </div>
      </form>

      <div class="df center-align justify-content-center mt20">
        <button class="perf-btn btn-danger mr10" (click)="location.back()">
          << Back
        </button>
        <button class="perf-btn btn-save mr10">Save Record</button>
        <button class="perf-btn promote-btn mr10">Promote Staff</button>
        <button class="perf-btn btn-360" (click)="show360Modal()">
          360 Feedback
        </button>
      </div>
    </div>
  </div>
  <div
    *ngFor="let table of objectives; let i = index"
    class="card"
    style="
      margin-bottom: 0;
      border: none;
      box-shadow: none;
      padding: 1rem 1.5rem;
    "
  >
    <h5 style="font-weight: bold" class="category">
      {{ table.kpiCategoryName | titlecase }}
    </h5>
    <p-table
      class="table table-striped custom-table datatable table-hover"
      #dt
      [columns]="cols"
      [(selection)]="selectedObjectives"
      [value]="table.employeeObjectiveIdicators"
    >
      <!--           s-->
      <ng-template pTemplate="header">
        <tr>
          <!--              <th>-->
          <!--                <input type="checkbox" />-->
          <!--              </th>-->
          <!-- <th class="table-checkbox">
           
            <input type="checkbox" (change)="checkAll($event)" />
          </th> -->
          <!-- <th class="sn_width small_font">S/N</th> -->
          <th class="small_font">KPI Type</th>
          <th class="small_font">Reviewee Comment</th>
          <th class="small_font">Rating</th>
          <th class="small_font">Points</th>
          <th class="small_font">Reviewer Comment</th>
          <th class="small_font">Rating</th>
          <th class="small_font">Points</th>
          <th class="small_font">Reviewer II Comment</th>
          <th class="small_font">Rating</th>
          <th class="small_font">Points</th>
          <th class="small_font">Reviewer III Comment</th>
          <th class="small_font">Rating</th>
          <th class="small_font">Points</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr
          (click)="editItem(table, row)"
          style="cursor: pointer"
          [ngClass]="{ disabled: !table.canEmplyeeAddObjective }"
        >
          <!--              <td>-->
          <!--                <input-->
          <!--                  type="checkbox"-->
          <!--                  [checked]="selectedId.includes(row.id)"-->
          <!--                  (change)="addItemId($event, row.id)"-->
          <!--                />-->
          <!--              </td>-->
          <!-- <td class="table-checkbox">
            <input
              [disabled]="!table.canEmplyeeAddObjective"
              type="checkbox"
              [checked]="selectedId.includes(row.employeeObjectiveIdicatorId)"
              (change)="checkItem($event, row.employeeObjectiveIdicatorId)"
              (click)="stopParentEvent($event)"
            />
          </td> -->
          <!-- <td class="sn_width">{{ i + 1 }}</td> -->
          <td class="small_font">{{ row.kpiName }}</td>
          <td class="small_font">{{ row.revieweeComment }}</td>
          <td class="small_font">{{ row.revieweeRating }}</td>
          <td class="small_font">{{ row.revieweePoint | number: "1.2-2" }}</td>
          <td class="small_font">{{ row.reviewerOneComment }}</td>
          <td class="small_font">{{ row.reviewerOneRating }}</td>
          <td class="small_font">
            {{ row.reviewerOnePoint | number: "1.2-2" }}
          </td>
          <td class="small_font">{{ row.reviewerTwoComment }}</td>
          <td class="small_font">{{ row.reviewerTwoRating }}</td>
          <td class="small_font">
            {{ row.reviewerTwoPoint | number: "1.2-2" }}
          </td>
          <td class="small_font">{{ row.reviewerThreeComment }}</td>
          <td class="small_font">{{ row.reviewerThreeRating }}</td>
          <td class="small_font">
            {{ row.reviewerThreePoint | number: "1.2-2" }}
          </td>
          <!--                <td>{{ kpiWeight }}</td>-->
        </tr>
        <!-- <tr *ngFor="let item of empPermittedList">
          <ng-container class="title">
            <div>
              {{ item.kpiCategoryName }}
            </div>
          </ng-container>
          <br />
          <td *ngFor="let row of item.kpIsNameList">{{ row }}</td>
        </tr> -->
      </ng-template>
    </p-table>
  </div>
</div>
<div id="feedback_modal" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="p-3 header-bg-color mb20">
        <h5 class="modal-title" style="font-size: 1.4rem">
          {{ employeeName }} 360 Feedback
        </h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeScheduleModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="submit-section ml-5 mt-0">
        <button
          class="btn btn-primary submit-btn"
          type="submit"
          (click)="addThreeSixtyReviewers()"
        >
          <span>Save</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="feebackForm">
          <div class="row row-flex">
            <div class="col-md-12">
              <div class="form-group">
                <label for="employee">Employees</label>

                <div class="col-md-4" style="padding-left: 0">
                  <ng-select
                    [items]="employees"
                    [multiple]="true"
                    bindValue="id"
                    bindLabel="label"
                    formControlName="reviewerId"
                    [searchable]="true"
                    [closeOnSelect]="false"
                    placeholder="Select Employee"
                    id="employee"
                  >
                    <!--<ng-template ng-header-tmp>
                      <div>
                        <input
                          id="select"
                          type="checkbox"
                          (click)="onSelectAll()"
                        />
                        <label for="select" class="ml-3">Select All</label>
                        <button class="btn btn-link" (click)="onClearAll()">
                          Clear All
                        </button>
                      </div>
                    </ng-template>-->
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <input
                        id="item-{{ index }}"
                        type="checkbox"
                        [ngModel]="item$.selected"
                        [ngModelOptions]="{ standalone: true }"
                      />
                      {{ item.label }}
                    </ng-template>
                  </ng-select>
                  <!--                  <p-multiSelect-->
                  <!--                    [options]="appraisalFeedbacks"-->
                  <!--                    [(ngModel)]="objective"-->
                  <!--                    optionLabel="name"-->
                  <!--                    defaultLabel="Select Objective"-->
                  <!--                  ></p-multiSelect>-->
                </div>
              </div>
            </div>
          </div>
        </form>
        <div>
          <p-table [value]="reviewers">
            <ng-template pTemplate="header">
              <tr>
                <th class="sn_width">S/N</th>
                <th>Name</th>
                <th>Grade</th>
                <th>Unit/Dept</th>
                <th>Completion</th>
                <th>Submitted On</th>
                <th>Reviewer Selected By</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-i="rowIndex">
              <tr>
                <td class="sn_width">{{ i + 1 }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.grade }}</td>
                <td>{{ row.dept }}</td>
                <td>{{ row.completion }}</td>
                <td>{{ row.submittedOn | customDate }}</td>
                <td>{{ row.revieweBy }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
