<div>
  <!--Page Header starts  -->
  <div class="card">
    <div class="card-header header-bg-color">
      <h5><b>Performance Appraisal Feedback Form</b></h5>
    </div>

    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="gos-label">Review Year</label>
              <select name="" id="" class="form-control">
                <option value="">2021</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="jobgrade" class="gos-label">Grade</label>
              <input type="text" class="form-control" id="jobgrade" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="startperiod" class="gos-label text-uppercase"
                    >Review start period</label
                  >
                  <input type="date" class="form-control" id="startperiod" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="endperiod" class="gos-label text-uppercase">
                    review period end</label
                  >
                  <input type="date" class="form-control" id="endperiod" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="dept" class="gos-label text-uppercase"
                >department</label
              >
              <input type="text" class="form-control" id="dept" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="employeenumber" class="gos-label text-uppercase"
                >employee number</label
              >
              <input type="text" class="form-control" id="employeenumber" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="location" class="gos-label text-uppercase"
                >location</label
              >
              <input type="text" class="form-control" id="location" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="employeename" class="gos-label text-uppercase"
                >employee name</label
              >
              <input type="text" class="form-control" id="employeename" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="time" class="gos-label text-uppercase"
                >time in present position</label
              >
              <input type="text" class="form-control" id="time" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="jobtitle" class="gos-label text-uppercase"
                >job title</label
              >
              <input type="text" class="form-control" id="jobtitle" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lengthofservice" class="gos-label text-uppercase"
                >length of service</label
              >
              <input type="text" class="form-control" id="lengthofservice" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="reviewer1" class="gos-label text-uppercase"
                >reviewer i</label
              >
              <input type="text" class="form-control" id="reviewer1" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="reviewer1point" class="gos-label text-uppercase"
                >reviewer I point</label
              >
              <input type="text" class="form-control" id="reviewer1point" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="reviewer2" class="gos-label text-uppercase"
                >reviewer II</label
              >
              <input type="text" class="form-control" id="reviewer2" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="reviewer2point" class="gos-label text-uppercase"
                >reviewer II point average</label
              >
              <input type="text" class="form-control" id="reviewer2point" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="reviewer3" class="gos-label text-uppercase"
                >reviewer III</label
              >
              <input type="text" class="form-control" id="reviewer3" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="reviewer3point" class="gos-label text-uppercase"
                >reviewer III point average</label
              >
              <input type="text" class="form-control" id="reviewer3point" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label
                for="reviewer1recommendation"
                class="gos-label text-uppercase"
                >reviewer i recommendation</label
              >
              <input
                type="text"
                class="form-control"
                id="reviewer1recommendation"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label
                for="reviewer2recommendation"
                class="gos-label text-uppercase"
                >reviewer ii recommendation</label
              >
              <input
                type="text"
                class="form-control"
                id="reviewer2recommendation"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label
                for="reviewer3recommendation"
                class="gos-label text-uppercase"
                >reviewer iii recommendation</label
              >
              <input
                type="text"
                class="form-control"
                id="reviewer3recommendation"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="overallremark" class="gos-label text-uppercase"
                >overall remark</label
              >
              <input type="text" class="form-control" id="overallremark" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="revieweepointaverage" class="gos-label text-uppercase"
                >reviewee point average</label
              >
              <input
                type="text"
                class="form-control"
                id="revieweepointaverage"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="overallpoint" class="gos-label text-uppercase"
                >overall point</label
              >
              <input type="text" class="form-control" id="overallpoint" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="overallscore" class="gos-label text-uppercase"
                >overall score(%)</label
              >
              <input type="text" class="form-control" id="overallscore" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="adjustedoverallscore" class="gos-label text-uppercase"
                >adjusted overall score(%)</label
              >
              <input
                type="text"
                class="form-control"
                id="adjustedoverallscore"
              />
            </div>
          </div>
          <div class="col-md-12">
            <label for="hrrecommendation" class="gos-label text-uppercase"
              >hr recommendation</label
            >
            <textarea
              name=""
              id="hrrecommendation"
              class="form-control"
            ></textarea>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label
                for="employeefinaldecision"
                class="gos-label text-uppercase"
                >employee final decision</label
              >
              <input
                type="text"
                class="form-control"
                id="employeefinaldecision"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="employeecomment" class="gos-label text-uppercase"
                >employee comment</label
              >
              <input type="text" class="form-control" id="employeecomment" />
            </div>
          </div>
        </div>
      </form>

      <div class="df center-align justify-content-center mt20">
        <button class="perf-btn btn-danger mr10"><< Back</button>
        <button class="perf-btn btn-save mr10">Save Record</button>
        <button class="perf-btn promote-btn mr10">Promote Staff</button>
        <button class="perf-btn btn-360" (click)="show360Modal()">
          360 Feedback
        </button>
      </div>
    </div>
  </div>
</div>
<div id="feedback_modal" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="p-4">
        <h5 class="modal-title" style="font-size: 1.4rem">360 Feedback</h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeScheduleModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="submit-section ml-5 mt-0">
        <button
          class="btn btn-primary submit-btn"
          type="submit"
          (click)="save(feebackForm)"
        >
          <span>Save</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="feebackForm">
          <div class="row row-flex">
            <div class="col-md-12">
              <div class="form-group">
                <label for="employee">Employees</label>

                <div class="col-md-4" style="padding-left: 0">
                  <ng-select
                    [items]="employees"
                    [multiple]="true"
                    bindValue="id"
                    bindLabel="label"
                    formControlName="employeeId"
                    [searchable]="true"
                    [closeOnSelect]="false"
                    placeholder="Select Employee"
                    id="employee"
                  >
                    <!--<ng-template ng-header-tmp>
                      <div>
                        <input
                          id="select"
                          type="checkbox"
                          (click)="onSelectAll()"
                        />
                        <label for="select" class="ml-3">Select All</label>
                        <button class="btn btn-link" (click)="onClearAll()">
                          Clear All
                        </button>
                      </div>
                    </ng-template>-->
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <input
                        id="item-{{ index }}"
                        type="checkbox"
                        [ngModel]="item$.selected"
                        [ngModelOptions]="{ standalone: true }"
                      />
                      {{ item.label }}
                    </ng-template>
                  </ng-select>
                  <!--                  <p-multiSelect-->
                  <!--                    [options]="appraisalFeedbacks"-->
                  <!--                    [(ngModel)]="objective"-->
                  <!--                    optionLabel="name"-->
                  <!--                    defaultLabel="Select Objective"-->
                  <!--                  ></p-multiSelect>-->
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
