<div class="d-flex justify-content-between" mat-dialog-title>
    <h2 mat-dialog-title>Privacy Policy </h2>
    <div class="click" mat-dialog-close>
      <img src="assets/icons/x.svg" alt="" />
    </div>
  </div>
  <mat-dialog-content class="mat-typography">
    <div>
        <form [formGroup]="faqForm">
          <div class="row">
            <div class="col-12">
                <div class="form_group">
                  <label class="form-label"
                      >Content</label
                  >
                  <angular-editor
                    formControlName="policy_Content"
                    [config]="config"
                    [ngClass]="{
                      'is-invalid':
                        (faqForm.get('policy_Content')?.errors &&
                        faqForm.get('policy_Content')?.touched) ||
                        (faqForm.get('policy_Content')?.hasError('required') &&
                        faqFormSubmitted)
                    }"
                  ></angular-editor>
                </div>
            </div>
          </div>
        </form>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      [mat-dialog-close]="false"
      class="btn btn-outline-green btn-md me-4 px-4 d-none"
      #close
    >
      No, cancel
    </button>
    <button
      class="btn btn-green btn-md px-4"
      (click)="submit()"
    >
        <!-- <app-loading-button
          [text]="'Save'"
          [condition]="isLoading"
        ></app-loading-button> -->
        Save
    </button>
</mat-dialog-actions>
