<div class="d-flex justify-content-between" mat-dialog-title>
  <h2 mat-dialog-title>Personal Information </h2>
  <div class="click" mat-dialog-close>
    <img src="assets/icons/x.svg" alt="" />
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <div>
    <form [formGroup]="updateProfileForm">
      <div class="row">
        <div class="col-lg-6">
          <div class="form_group mb-4">
            <label for="firstName" class="form-label"
              >Company Name
            </label>
            <input
              type="text"
              id="company_Name"
              class="form-control"
              placeholder="Enter Company Name"
              formControlName="company_Name"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form_group mb-4">
            <label for="middleName" class="form-label"
              >Phone Number
            </label>
            <input
              type="text"
              id="phone_Number"
              class="form-control"
              placeholder="Enter Phone Name"
              formControlName="phone_Number"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form_group mb-4">
            <label for="lastName" class="form-label"
              >Email Address
            </label>
            <input
              type="email"
              id="email_Address"
              class="form-control"
              placeholder="Enter Email Address"
              formControlName="email_Address"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form_group mb-4">
            <label for="phoneNo" class="form-label"
              >Physical Address
            </label>
            <input
              type="text"
              id="phoneNo"
              class="physical_Address"
              placeholder="Enter Physical Address"
              formControlName="physical_Address"
            />
          </div>
        </div>
        <hr class="mt-3">
        <h2 mat-dialog-title>Other Information </h2>

        <div class="col-lg-6">
          <div class="form-group form_group">
          <label>Industry </label>
          <ng-select
              [items]="industries"
              [selectOnTab]="true"
              appendTo="body"
              [loading]="isfetchingIndustry"
              [virtualScroll]="true"
              bindValue="name"
              bindLabel="name"
              placeholder="Select Industry"
              (scrollToEnd)="getAllIndustries()"
              [searchable]="true"
              formControlName="industryTypes"
          >
          </ng-select>
          <div
              class="p-0 m-0 click d-flex justify-content-end align-items-center"
              (click)="getAllIndustries()"
              *ngIf="isfetchingIndustryFailed"
          >
              Retry &nbsp;
              <mat-icon [ngClass]="{ spin: isfetchingIndustry }"
              >refresh</mat-icon
              >
          </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group form_group">
          <label>Specialization </label>
          <ng-select
              [items]="specializations"
              [selectOnTab]="true"
              appendTo="body"
              [loading]="isfetchingSpecialization"
              [virtualScroll]="true"
              bindValue="name"
              bindLabel="name"
              placeholder="Select Specialization"
              (scrollToEnd)="getAllSpecializations()"
              [searchable]="true"
              formControlName="specializationTypes"
          >
          </ng-select>
          <div
              class="p-0 m-0 click d-flex justify-content-end align-items-center"
              (click)="getAllSpecializations()"
              *ngIf="isfetchingSpecializationFailed"
          >
              Retry &nbsp;
              <mat-icon [ngClass]="{ spin: isfetchingSpecialization }"
              >refresh</mat-icon
              >
          </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group form_group">
          <label>Currency </label>
          <ng-select
              [items]="currencies"
              [selectOnTab]="true"
              appendTo="body"
              [virtualScroll]="true"
              bindValue="code"
              bindLabel="name"
              placeholder="Select currency"
              (scrollToEnd)="getAllIndustries()"
              [searchable]="true"
              formControlName="currencyCode"
          >
          </ng-select>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form_group mb-5">
            <label for="firstName" class="form-label"
              >About
            </label>
           <textarea
            class="form-control"
            cols="30" rows="10"
            formControlName="aboutInfo"
          ></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    [mat-dialog-close]="false"
    class="btn btn-outline-green btn-md me-4 px-4 d-none"
    #close
  >
    No, cancel
  </button>
  <button
    class="btn btn-green btn-md px-4"
    (click)="submit()"
  >
      <!-- <app-loading-button
        [text]="'Continue'"
        [condition]="isLoading"
      ></app-loading-button> -->
      Continue
  </button>
</mat-dialog-actions>
