<app-loading *ngIf="pageLoading"></app-loading>
<!-- Page Content -->
<div *ngIf="!pageLoading" class="content container-fluid">

    <!-- Add Job Title Modal -->
    <div id="add_job_detail" role="dialog">
        <div class="mb-3">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h3 class="modal-title">{{jobFormTitle}}</h3>
                    <!--  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="addJobDetail(jobDetailForm)" [formGroup]="jobDetailForm">
                        <div class="form-group">
                            <label class="col-form-label">Job Title<span class="text-danger">*</span></label>
                            <input class="form-control" type="text" [class.invalid]="
                                jobDetailForm.get('job_title').invalid &&
                                jobDetailForm.get('job_title').touched
                    " formControlName="job_title" />
                            <div *ngIf="
                                jobDetailForm.get('job_title').invalid &&
                                jobDetailForm.get('job_title').touched
                    ">
                                <small *ngIf="
                                    jobDetailForm.get('job_title').invalid &&
                                    jobDetailForm.get('job_title').touched
                      " class="text-danger">
                                    *Field is required</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Description<span class="text-danger">*</span></label>
                            <textarea class="form-control" type="text" rows="5" [class.invalid]="
                                jobDetailForm.get('job_description').invalid &&
                                jobDetailForm.get('job_description').touched
                    " formControlName="job_description"> </textarea>
                            <div *ngIf="
                                jobDetailForm.get('job_description').invalid &&
                                jobDetailForm.get('job_description').touched
                    ">
                                <small *ngIf="
                                    jobDetailForm.get('job_description').invalid &&
                                    jobDetailForm.get('job_description').touched
                      " class="text-danger">
                                    *Field is required</small>
                            </div>
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn" type="submit" [disabled]="spinner">
                                <span *ngIf="!spinner">Submit</span>
                                <span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Job Title Modal -->
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Job Skill</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Setup</a></li>
                    <li class="breadcrumb-item active">Job Skill</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a class="btn download-btn hint" (click)="downloadFile()"><span class="hint-text">Download</span><i
                        class="fa fa-download"></i></a>
                <a class="btn upload-btn hint" (click)="openUploadModal()"><span class="hint-text">Upload</span><i
                        class="fa fa-upload"></i></a>
                <a class="btn add-btn hint" data-toggle="modal" (click)="openModal()"><span
                        class="hint-text">Add</span><i class="fa fa-plus"></i></a>
                <a class="btn delete-btn hint" (click)="delete()"><span class="hint-text">Delete</span><i
                        class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table datatable table-hover" datatable [dtOptions]="dtOptions"
                    [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" [checked]="selectedId.length === subSkill.length"
                                    (change)="checkAll($event)" />
                            </th>
                            <th>S/N</th>
                            <th>Skills</th>
                            <th>Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-toggle="modal" class="pointer" data-target="#edit_employee" (click)="editSubSkill(row)"
                            *ngFor="let row of jobSkills; let i = index">
                            <td (click)="stopParentEvent($event)">
                                <input type="checkbox" [checked]="selectedId.includes(row.id)"
                                    (change)="addItemId($event, row.id)" />
                            </td>
                            <td>{{ i + 1 }}</td>
                            <td>{{ row.skill }}</td>
                            <td>{{ row.weight }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Job Skill Modal -->
<div id="add_sub_skill" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{formTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="closeUploadModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addSubSkill(subSkillForm)" [formGroup]="subSkillForm">
                    <div class="row">
                        <!-- <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Job Title<span class="text-danger">*</span></label>
                                <select class="form-control" [class.invalid]="
                                subSkillForm.get('job_title').invalid &&
                                subSkillForm.get('job_title').touched" formControlName="job_title"
                                    (change)=getJobId($event)>
                                    <option selected value="">Select Job Title</option>

                                    <option *ngFor="let row of jobTitles" value="{{row.job_title}}">{{row.job_title}}
                                    </option>
                                </select>
                                <div *ngIf="
                                subSkillForm.get('job_title').invalid &&
                                subSkillForm.get('job_title').touched
                    ">
                                    <small *ngIf="
                                    subSkillForm.get('job_title').invalid &&
                                    subSkillForm.get('job_title').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Skill<span class="text-danger">*</span></label>
                                <input class="form-control" type="text" [class.invalid]="
                                subSkillForm.get('skill').invalid &&
                                subSkillForm.get('skill').touched
                    " formControlName="skill" />
                                <div *ngIf="
                                subSkillForm.get('skill').invalid &&
                                subSkillForm.get('skill').touched
                    ">
                                    <small *ngIf="
                                    subSkillForm.get('skill').invalid &&
                                    subSkillForm.get('skill').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Weight<span class="text-danger">*</span></label>
                                <input class="form-control" type="number" min="1" [class.invalid]="
                                subSkillForm.get('weight').invalid &&
                                subSkillForm.get('weight').touched
                    " formControlName="weight" />
                                <div *ngIf="
                                subSkillForm.get('weight').invalid &&
                                subSkillForm.get('weight').touched
                    ">
                                    <small *ngIf="
                                    subSkillForm.get('weight').invalid &&
                                    subSkillForm.get('weight').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Description<span class="text-danger">*</span></label>
                                <textarea class="form-control" type="text" rows="5" [class.invalid]="
                                subSkillForm.get('description').invalid &&
                                subSkillForm.get('description').touched
                    " formControlName="description"></textarea>
                                <div *ngIf="
                                subSkillForm.get('description').invalid &&
                                subSkillForm.get('description').touched
                    ">
                                    <small *ngIf="
                                    subSkillForm.get('description').invalid &&
                                    subSkillForm.get('description').touched
                      " class="text-danger">
                                        *Field is required</small>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit" [disabled]="spinner">
                            <span *ngIf="!spinner">Submit</span>
                            <span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Employee Modal -->
<!-- Upload Job Detail Modal -->
<div id="upload_sub_skill" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Job Skill</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body px-5">
                <form (ngSubmit)="uploadSubSkill()" [formGroup]="subSkillUploadForm">
                    <div class="row">

                        <div class="form-group row">
                            <label class="col-form-label col-md-5">Choose File (excel format)</label>
                            <div class="col-md-7">
                                <input class="form-control" name="uploadInput" id="uploadInput" #fileInput type="file"
                                    (change)="onSelectedFile($event)">
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <p>Please use the guide below for your sheet</p>
                        <table class="table table-bordered">
                            <tr>
                                <th>Job Title</th>
                                <th>Skill</th>
                                <th>Description</th>
                                <th>Weight</th>
                            </tr>
                        </table>
                    </div>

                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit" (ngSubmit)="uploadSubSkill()"
                            [disabled]="spinner">
                            <span *ngIf="!spinner">Submit</span>
                            <span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Upload Job Grade Modal -->