<div class="running_courses-wrapper m-0">
    <div class="title pt-3 pb-4">
        <h3>Running Courses</h3>
    </div>
    <div class="table-responsive bg-white">
      <table class="table caption-top text-nowrap" datatable>
        <ng-container>
          <thead class="bg-white">
            <tr>
              <th>Upload Date</th>
              <th>Facilitator</th>
              <th>Course Title</th>
              <th>No. of Enrolled</th>
              <th>Ratings</th>
              <th></th>
            </tr>
          </thead></ng-container
        >
        <tbody>
          <ng-container>
            <tr class="text-capitalize" *ngFor="let course of runningCourses">
              <td>{{ course?.upload_Date | date }}</td>
              <td>{{ course?.facilitator }}</td>
              <td>{{ course?.course_Title }}</td>
              <td>{{ course?.no_Of_Views }}</td>
              <td>
                <div class="d-flex justify-content-center align-items-center">
                   <ng-rating-bar
                    [value]="course?.ratings || 0"
                    [ratingCount]="5"
                    [disabled]="true"
                    [styles]="{ margin: '0px', fontSize: '16px'}"
                    colorActive="#F88F09" 
                    colorDefault="#cecece"
                  ></ng-rating-bar>
                  </div>
              </td>
              <td class="click">Update</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>