<div class="my-5">
  <div class="row d-flex justify-content-center">
    <div class="bg-white col-md-10 col-lg-10 col-12 p-5">
              <h2 class="mb-5">Email Configuration</h2>
              <form [formGroup]="emailConfigForm">
                  <app-error [error_message]="error_message"></app-error>
                  <div class="row">
                      <div class="col-md-6 col-lg-6 col-12">
                          <div class="form-group form_group">
                              <label>Smtp Client</label>
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Smtp Client"
                                formControlName="stmp_Client"
                                (keyup)="checkForKeyEnter($event)"
                                [ngClass]="{
                                  'is-invalid':
                                    (emailConfigForm.get('stmp_Client')?.errors &&
                                      emailConfigForm.get('stmp_Client')?.touched) ||
                                    (emailConfigForm.get('stmp_Client')?.hasError('required') &&
                                      emailConfigFormSubmitted)
                                }"
                              />
                              <div
                                class="invalid-feedback"
                                *ngIf="
                                  emailConfigForm.get('stmp_Client')?.hasError('required') &&
                                  emailConfigFormSubmitted
                                "
                              >
                                Required
                              </div>
                            </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-12">
                          <div class="form-group form_group">
                              <label>Smtp Port </label>
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Smtp Port"
                                formControlName="smtp_Port"
                                (keyup)="checkForKeyEnter($event)"
                                [ngClass]="{
                                  'is-invalid':
                                    (emailConfigForm.get('smtp_Port')?.errors &&
                                      emailConfigForm.get('smtp_Port')?.touched) ||
                                    (emailConfigForm.get('smtp_Port')?.hasError('required') &&
                                      emailConfigFormSubmitted)
                                }"
                              />
                              <div
                                class="invalid-feedback"
                                *ngIf="
                                  emailConfigForm.get('smtp_Port')?.hasError('required') &&
                                  emailConfigFormSubmitted
                                "
                              >
                                Required
                              </div>
                            </div>
                      </div>
                       <div class="col-md-6 col-lg-6 col-12">
                          <div class="form-group form_group">
                              <label>Sender Email </label>
                              <input
                                type="email"
                                class="form-control"
                                placeholder="Sender Email"
                                formControlName="sender_Email"
                                (keyup)="checkForKeyEnter($event)"
                                [ngClass]="{
                                  'is-invalid':
                                    (emailConfigForm.get('sender_Email')?.errors &&
                                      emailConfigForm.get('sender_Email')?.touched) ||
                                    (emailConfigForm.get('sender_Email')?.hasError('required') &&
                                      emailConfigFormSubmitted)
                                }"
                              />
                              <div
                                class="invalid-feedback"
                                *ngIf="
                                  emailConfigForm.get('sender_Email')?.hasError('required') &&
                                  emailConfigFormSubmitted
                                "
                              >
                                Required
                              </div>
                            </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-12">
                          <div class="form-group form_group">
                              <label>Mail Caption </label>
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Mail Caption"
                                formControlName="mail_Caption"
                                (keyup)="checkForKeyEnter($event)"
                                [ngClass]="{
                                  'is-invalid':
                                    (emailConfigForm.get('mail_Caption')?.errors &&
                                      emailConfigForm.get('mail_Caption')?.touched) ||
                                    (emailConfigForm.get('mail_Caption')?.hasError('required') &&
                                      emailConfigFormSubmitted)
                                }"
                              />
                              <div
                                class="invalid-feedback"
                                *ngIf="
                                  emailConfigForm.get('mail_Caption')?.hasError('required') &&
                                  emailConfigFormSubmitted
                                "
                              >
                                Required
                              </div>
                            </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-12">
                          <div class="form-group form_group">
                              <label>Sender Username </label>
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Sender Username"
                                formControlName="sender_Username"
                                (keyup)="checkForKeyEnter($event)"
                                [ngClass]="{
                                  'is-invalid':
                                    (emailConfigForm.get('sender_Username')?.errors &&
                                      emailConfigForm.get('sender_Username')?.touched) ||
                                    (emailConfigForm.get('sender_Username')?.hasError('required') &&
                                      emailConfigFormSubmitted)
                                }"
                              />
                              <div
                                class="invalid-feedback"
                                *ngIf="
                                  emailConfigForm.get('sender_Username')?.hasError('required') &&
                                  emailConfigFormSubmitted
                                "
                              >
                                Required
                              </div>
                            </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-12">
                          <div class="form_group mb-3">
                              <label for="password" class="form-label"
                                >Sender Password
                              </label>
                              <div class="position-relative">
                                <input
                                  class="form-control pr-2"
                                  [type]="showPassword ? 'text' : 'password'"
                                  placeholder="Sender Password"
                                  formControlName="sender_Password"
                                  [ngClass]="{
                                    'is-invalid':
                                      (emailConfigForm.get('sender_Password')?.errors &&
                                      emailConfigForm.get('sender_Password')?.touched) ||
                                      (emailConfigForm.get('sender_Password')?.hasError('required') &&
                                      emailConfigFormSubmitted)
                                  }"
                                />
                                <i
                                  class="fa fa-eye-slash click"
                                  *ngIf="showPassword; else hidePassword"
                                  (click)="showPassword = !showPassword"
                                ></i>
                                <ng-template #hidePassword>
                                  <i
                                    class="fa fa-eye click"
                                    (click)="showPassword = !showPassword"
                                  ></i>
                                </ng-template>
                              </div>
                              <div
                                class="invalid-feedback"
                                *ngIf="emailConfigForm.get('sender_Password')?.hasError('required') &&
                                emailConfigFormSubmitted"
                              >
                                Enter a valid password
                              </div>
                            </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-12">
                          <div class="form-group form_group">
                              <label>Base Frontend </label>
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Base Frontend"
                                formControlName="baseFrontEndURL"
                                (keyup)="checkForKeyEnter($event)"
                                [ngClass]="{
                                  'is-invalid':
                                    (emailConfigForm.get('baseFrontEndURL')?.errors &&
                                      emailConfigForm.get('baseFrontEndURL')?.touched) ||
                                    (emailConfigForm.get('baseFrontEndURL')?.hasError('required') &&
                                      emailConfigFormSubmitted)
                                }"
                              />
                              <div
                                class="invalid-feedback"
                                *ngIf="
                                  emailConfigForm.get('baseFrontEndURL')?.hasError('required') &&
                                  emailConfigFormSubmitted
                                "
                              >
                                Required
                              </div>
                            </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-12">
                          <div class="form-group form_group">
                              <label>Send Notification</label>
                              <select
                                  name="" id=""
                                  class="form-control"
                                  formControlName="send_notification"
                                  (keyup)="checkForKeyEnter($event)"
                                  [ngClass]="{
                                      'is-invalid':
                                      (emailConfigForm.get('send_notification')?.errors &&
                                          emailConfigForm.get('send_notification')?.touched) ||
                                      (emailConfigForm.get('send_notification')?.hasError('required') &&
                                          emailConfigFormSubmitted)
                                  }"
                              >
                                  <option value="" selected disabled>--Select--</option>
                                  <option [ngValue]="false">No</option>
                                  <option [ngValue]="true">Yes</option>
                              </select>
                              <div
                                class="invalid-feedback"
                                *ngIf="
                                  emailConfigForm.get('send_notification')?.hasError('required') &&
                                  emailConfigFormSubmitted
                                "
                              >
                                Required
                              </div>
                            </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-12">
                          <div class="form-group form_group">
                              <label>Enable SSL</label>
                              <select
                                  name="" id=""
                                  class="form-control"
                                  formControlName="enableSSl"
                                  (keyup)="checkForKeyEnter($event)"
                                  [ngClass]="{
                                      'is-invalid':
                                      (emailConfigForm.get('enableSSl')?.errors &&
                                          emailConfigForm.get('enableSSl')?.touched) ||
                                      (emailConfigForm.get('enableSSl')?.hasError('required') &&
                                          emailConfigFormSubmitted)
                                  }"
                              >
                                  <option value="" selected disabled>--Select--</option>
                                  <option [ngValue]="false">No</option>
                                  <option [ngValue]="true">Yes</option>
                              </select>
                              <div
                                class="invalid-feedback"
                                *ngIf="
                                  emailConfigForm.get('enableSSl')?.hasError('required') &&
                                  emailConfigFormSubmitted
                                "
                              >
                                Required
                              </div>
                            </div>
                      </div>
                  </div>
                  <div class="d-flex justify-content-end">
                      <button
                          class="btn btn-green btn-lg mx-3"
                          (click)="submit()"
                      >
                          Save
                      </button>
                      <button
                          class="btn btn-green btn-lg"
                          (click)="openDialog(false)"
                      >
                          Test
                      </button>
                  </div>
              </form>
    </div>
  </div>
</div>
