<div class="gos-right">
  <span class="gos-icon-span" (click)="viewEvents()">
      <span class="number-icon">26</span>
    </span>
  <span class="gos-icon-span">
      <i class="fa fa-comment-o chat-icon"></i>
    </span>
  <span class="gos-icon-span">
      <i class="fa fa-bell-o notification-icon"></i>
    </span>
  <span class="gos-icon-span">
      <i class="fa fa-feed feed-icon"></i>
    </span>
  <span class="gos-icon-span">
      <i class="fa fa-cog setting-icon"></i>
    </span>

</div>
